Repository Homebrew/homebrew-core, pull requests merged in 2018-07, with the labels that each got.

#28816 schema-evolution-manager (sem) 0.9.40 (new formula)
  Aliases/sem
  Formula/schema-evolution-manager.rb
Labels: new formula

#29393 lf 6 (new formula)
  Formula/lf.rb
Labels: go, new formula

#29660 protobuf: add Python 3.7 compatibility
  Formula/protobuf.rb
Labels: python, upstream issue

#29948 igv 2.4.12
  Formula/igv.rb
Labels: java

#28577 multitail: make it possible to install the head version
  Formula/multitail.rb
Labels: stale

#30237 sonarqube-lts 6.7.4 (new formula)
  Formula/sonarqube-lts.rb
Labels: new formula
