Repository Homebrew/homebrew-core, pull requests merged in 2018-04, with the labels that each got.

#25957 php-code-sniffer: import from homebrew/php
  Formula/php-code-sniffer.rb
Labels: new formula, php

#25961 phpunit: import from homebrew/php
  Formula/phpunit.rb
Labels: new formula, php

#26057 phplint: import from homebrew/php
  formula/phplint.rb
Labels: php, ready to merge

#26431 phplint: move from 'formula' dir to correct 'Formula' parent directory
  Formula/phplint.rb
Labels: do not merge

#26208 hapi-fhir-cli 3.3.0 (new formula)
  Formula/hapi-fhir-cli.rb
Labels: new formula
