Repository Homebrew/homebrew-core, pull requests merged in 2018-03, with the labels that each got.

#24422 maxwell 1.13.1 (new formula)
  Formula/maxwell.rb
Labels: new formula, ready to merge

#24775 git-recent 1.0.4
  Formula/git-recent.rb
Labels: 10.11, upstream issue

#24651 Mill 0.1.4 (new formula)
  Formula/mill.rb
Labels: new formula

#25134 jenkins 2.112
  Formula/jenkins.rb
Labels: java

#25504 New formula: ParallelSTL 20171127
  Formula/parallelstl.rb
Labels: new formula

#25586 dhall-json: depend on ghc at build time
  Formula/dhall-json.rb
Labels: haskell

#25281 goto 1.2.3 (new formula)
  Formula/goto.rb
Labels: new formula

#24739 composer 1.6.3 (new formula)
  formula/composer.rb
Labels: php

#25733 php-cs-fixer 2.11.1 (new formula)
  Formula/php-cs-fixer.rb
Labels: new formula

#25918 jpeg: update checksum
  Formula/jpeg.rb
Labels: checksum mismatch
