Repository Homebrew/homebrew-core, pull requests merged in 2018-06, with the labels that each got.

#28585 wp-cli: mirror to Bintray
  Formula/wp-cli.rb
Labels: checksum mismatch

#28763 ssh-vault: depend on go@1.9 at build time
  Formula/ssh-vault.rb
Labels: upstream issue

#28762 dita-ot 3.1 (new formula)
  Formula/dita-ot.rb
Labels: new formula

#28958 nettle: fix Xcode/CLT 10+ build
  Formula/nettle.rb
Labels: xcode10

#28921 openapi-generator 3.0.1 (new formula)
  Formula/openapi-generator.rb
Labels: new formula

#24492 eless 0.5 (new formula)
  Formula/eless.rb
Labels: new formula

#26264 phpmyadmin: import from homebrew/php
  Formula/phpmyadmin.rb
Labels: new formula, php

#28674 Rename cdiff to ydiff
  Formula/ydiff.rb
  formula_renames.json
Labels: formula rename
