Repository Homebrew/homebrew-core, pull requests merged in 2023-04, with the labels that each got.

#127249 oh-my-posh 14.24.0
  Formula/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127252 release-it 15.10.0
  Formula/release-it.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127245 acpica 20230331
  Formula/acpica.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127251 rabbitmq 3.11.13
  Formula/rabbitmq.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127244 deno 1.32.2
  Formula/deno.rb
Labels: rust, bump-formula-pr, long build, CI-published-bottle-commits, autosquash

#127247 httm 0.25.7
  Formula/httm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126876 rust 1.68.2
  Formula/rust.rb
Labels: upstream issue, bump-formula-pr, CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits

#127256 goaccess 1.7.2
  Formula/goaccess.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127257 libuvc 0.0.7
  Formula/libuvc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127227 crispy-doom 6.0
  Formula/crispy-doom.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126571 solr 9.2.0
  Aliases/solr@9.2
  Formula/solr.rb
Labels: ready to merge, automerge-skip, bump-formula-pr, CI-published-bottle-commits

#127254 exploitdb 2023-04-01
  Formula/exploitdb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127259 cdk8s 2.2.8
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127260 httm 0.25.8
  Formula/httm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127258 act 0.2.44
  Formula/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127262 stylelint 15.4.0
  Formula/stylelint.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127269 workflows/triage: remove `aws-sdk-cpp` from `long build` list
  .github/workflows/triage.yml
Labels: CI-syntax-only, automerge-skip, workflows

#127229 haskell-language-server 1.10.0.0
  Formula/haskell-language-server.rb
Labels: haskell, ready to merge, bump-formula-pr, long build, CI-published-bottle-commits

#127266 cln: add "texinfo" for head
  Formula/cln.rb
Labels: CI-syntax-only, license, no ARM bottle, CI-no-bottles, autosquash

#127275 wtf 20230401
  Formula/wtf.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127268 jackett 0.20.3739
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#127272 ngspice libngspice 40
  Formula/libngspice.rb
  Formula/ngspice.rb
Labels: CI-published-bottle-commits

#127276 openapi-generator 6.5.0
  Formula/openapi-generator.rb
Labels: java, CI-published-bottle-commits

#127270 dosbox-x 2023.03.31
  Formula/dosbox-x.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127271 freetds 1.3.18
  Formula/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127274 libvirt 9.2.0
  Formula/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#127277 pillow 9.5.0
  Formula/pillow.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127280 switchaudio-osx 1.2.1
  Formula/switchaudio-osx.rb
Labels: bump-formula-pr, macos-only, CI-published-bottle-commits

#127246 aws-sdk-cpp 1.11.50
  Formula/aws-sdk-cpp.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#127279 fanyi 8.0.2
  Formula/fanyi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127278 aicommits 1.8.0
  Formula/aicommits.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autosquash

#127261 trivy 0.39.0
  Formula/trivy.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127267 shc: update license
  Formula/shc.rb
Labels: CI-syntax-only, license, CI-published-bottle-commits

#127017 openexr 3.1.7
  Formula/openexr.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#127193 livekit 1.4.0
  Formula/livekit.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127281 fava 1.24.3
  Formula/fava.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#127282 gnunet 0.19.4
  Formula/gnunet.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127284 rust: add back `cargo`'s missing tag
  Formula/rust.rb
Labels: CI-syntax-only, CI-published-bottle-commits

#127223 xmrig: Move to `openssl@3` and fix linkage
  Formula/xmrig.rb
Labels: CI-published-bottle-commits

#127292 swiftformat 0.51.4
  Formula/swiftformat.rb
Labels: swift, bump-formula-pr, CI-published-bottle-commits

#127286 faudio 23.04
  Formula/faudio.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127290 puzzles 20230401
  Formula/puzzles.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127291 stgit 2.2.2
  Formula/stgit.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127288 flix 0.35.0
  Formula/flix.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#127289 gnuradio 3.10.6.0
  Formula/gnuradio.rb
Labels: python, bump-formula-pr, boost, CI-published-bottle-commits

#127297 atuin 14.0.0
  Formula/atuin.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127221 apr 1.7.3
  Formula/apr.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127287 archi-steam-farm 5.4.4.3
  Formula/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#127121 teleport 12.1.5
  Formula/teleport.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#127295 hz 0.6.1 (new formula)
  Formula/hz.rb
Labels: go, new formula, CI-published-bottle-commits

#127041 blocky 0.21 (new formula)
  Formula/blocky.rb
Labels: go, new formula, CI-published-bottle-commits

#126168 texinfo: reinstall top-level `dir` file in `post_install` block
  Formula/texinfo.rb
Labels: ready to merge, perl, CI-published-bottle-commits

#127299 git-cola 4.2.1
  Formula/git-cola.rb
Labels: python, CI-published-bottle-commits

#127301 jbang 0.106.1
  Formula/jbang.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#127294 iperf3: add livecheck
  Formula/iperf3.rb
Labels: livecheck, CI-syntax-only, automerge-skip

#127302 dub 1.32.0
  Formula/dub.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127300 pygit2 1.12.0
  Formula/pygit2.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#127306 gel: add livecheck
  Formula/gel.rb
Labels: livecheck, CI-syntax-only, no Linux bottle

#127303 fits: add livecheck
  Formula/fits.rb
Labels: java, livecheck, CI-syntax-only, macos-only, autosquash

#127305 tesseract 5.3.1
  Formula/tesseract.rb
Labels: bump-formula-pr, icu4c, CI-published-bottle-commits

#127285 ksops 4.1.1 (new formula)
  Formula/ksops.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits

#127308 cdk8s 2.2.9
  Formula/cdk8s.rb
Labels: nodejs, CI-published-bottle-commits

#127309 maxwell 1.40.0
  Formula/maxwell.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#127310 texinfo 7.0.3
  Formula/texinfo.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#127250 pandoc-plot 1.6.2
  Formula/pandoc-plot.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#121624 mandown 1.0.4
  Formula/mandown.rb
Labels: test failure, linux, CI-no-fail-fast, no Linux bottle, CI-published-bottle-commits

#126159 texlive 20230313
  Formula/texlive.rb
Labels: lua, python, audit failure, java, ruby, perl, CI-no-fail-fast, long build, CI-published-bottle-commits

#127283 sslyze 5.1.3
  Formula/sslyze.rb
Labels: python, rust, CI-no-fail-fast, CI-published-bottle-commits

#127313 ttdl 3.7.1
  Formula/ttdl.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127324 bash-language-server 4.9.0
  Formula/bash-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127330 node-build 4.9.111
  Formula/node-build.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127327 smartdns 0.5.3
  Formula/smartdns.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127332 aicommits 1.8.1
  Formula/aicommits.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127304 dmd 2.103.0
  Formula/dmd.rb
Labels: no ARM bottle, bump-formula-pr, CI-published-bottle-commits

#127326 prql-compiler 0.7.0
  Formula/prql-compiler.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127312 tkey-ssh-agent: add livecheck
  Formula/tkey-ssh-agent.rb
Labels: go, livecheck, CI-syntax-only

#127334 nuclei 2.9.1
  Formula/nuclei.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127315 unp: add license
  Formula/unp.rb
Labels: CI-syntax-only, license

#127311 plod: update homepage and add license
  Formula/plod.rb
Labels: CI-syntax-only, license, homepage

#127314 universal-ctags p6.0.20230402.0
  Formula/universal-ctags.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127322 virt-manager: update resources
  Formula/virt-manager.rb
Labels: python, macos-only, CI-published-bottle-commits

#127335 swagger-codegen@2 2.4.31
  Formula/swagger-codegen@2.rb
Labels: legacy, java, bump-formula-pr, CI-published-bottle-commits

#127336 fzf 0.39.0
  Formula/fzf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127323 aarch64-elf-gdb 13.1 (new formula)
  Formula/aarch64-elf-gdb.rb
  synced_versions_formulae.json
Labels: new formula, CI-published-bottle-commits

#127133 libheif 1.15.2
  Formula/libheif.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#127338 bkt 0.6.0
  Formula/bkt.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127341 qrcp 0.10.0
  Formula/qrcp.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127340 prestd 1.2.3
  Formula/prestd.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127343 cython libcython 0.29.34
  Formula/cython.rb
  Formula/libcython.rb
Labels: CI-published-bottle-commits

#127201 bzt 1.16.22
  Formula/bzt.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits, autosquash

#126948 wazero 1.0.1 (new formula)
  Formula/wazero.rb
Labels: go, new formula, CI-published-bottle-commits, autosquash

#127348 libcpuid 0.6.3
  Formula/libcpuid.rb
Labels: no ARM bottle, bump-formula-pr, CI-published-bottle-commits, autosquash

#127352 puzzles 20230402
  Formula/puzzles.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127347 fluid-synth 2.3.2
  Formula/fluid-synth.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127351 poetry 1.4.2
  Formula/poetry.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autosquash

#127354 zinit 3.10.0
  Formula/zinit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127349 mu 1.10.1
  Formula/mu.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127353 ugrep 3.11.1
  Formula/ugrep.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127350 openimageio 2.4.10.0
  Formula/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#127319 graph-tool 2.49
  Formula/graph-tool.rb
Labels: python, long build, boost, CI-published-bottle-commits

#127366 workflows/triage: build `envoy` on self-hosted Linux
  .github/workflows/triage.yml
Labels: CI-syntax-only, automerge-skip, workflows

#127346 jackett 0.20.3756
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#127345 imagemagick@6 6.9.12-84
  Formula/imagemagick@6.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits, autosquash

#127360 texmath 0.12.7.1
  Formula/texmath.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#127355 solr: switch to `openjdk@17`
  Formula/solr.rb
Labels: java, CI-published-bottle-commits

#127356 conftest 0.41.0
  Formula/conftest.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126797 Renovate 35.18.1 (new formula)
  Formula/renovate.rb
Labels: nodejs, new formula, audit failure, CI-published-bottle-commits

#127363 php-cs-fixer 3.16.0
  Formula/php-cs-fixer.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#126567 envoy 1.25.3
  Formula/envoy.rb
Labels: ready to merge, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#127344 imagemagick 7.1.1-6
  Formula/imagemagick.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#127368 uutils-coreutils 0.0.18
  Formula/uutils-coreutils.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127372 oh-my-posh 14.25.0
  Formula/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127373 httm 0.25.9
  Formula/httm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127331 poppler popplerrqt5 23.04.0
  Formula/gdal.rb
  Formula/pdftoipe.rb
  Formula/poppler-qt5.rb
  Formula/poppler.rb
Labels: ready to merge, bump-formula-pr, long build, CI-published-bottle-commits

#127359 sipp 3.7.0
  Formula/sipp.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127367 cubejs-cli 0.32.18
  Formula/cubejs-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127381 fanyi 8.0.3
  Formula/fanyi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127325 openblas 0.3.23
  Formula/openblas.rb
Labels: bump-formula-pr, long build, CI-published-bottle-commits

#127378 include-what-you-use 0.20
  Formula/include-what-you-use.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127383 python-lsp-server 1.7.2
  Formula/python-lsp-server.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#127380 simdutf 3.2.4
  Formula/simdutf.rb
Labels: bump-formula-pr, no Linux bottle, icu4c, CI-published-bottle-commits

#127376 cdk8s 2.2.10
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127377 fwup 1.10.0
  Formula/fwup.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127375 cargo-llvm-lines 0.4.26
  Formula/cargo-llvm-lines.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127382 prestd 1.2.4
  Formula/prestd.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127374 archi-steam-farm 5.4.4.4
  Formula/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#127385 leetup: add livecheck
  Formula/leetup.rb
Labels: rust, livecheck, CI-syntax-only, CI-published-bottle-commits

#127386 mesheryctl 0.6.70
  Formula/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#127384 neovim: fix version reporting `-dirty`
  Formula/neovim.rb
Labels: lua, CI-published-bottle-commits

#127387 renovate 35.31.4
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127371 cracklib 2.9.11
  Formula/cracklib.rb
Labels: automerge-skip, CI-published-bottle-commits

#127390 kotlin 1.8.20
  Formula/kotlin.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#127391 vespa-cli 8.148.14
  Formula/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127392 meilisearch 1.1.0
  Formula/meilisearch.rb
Labels: rust, CI-published-bottle-commits

#127394 elixir 1.14.4
  Formula/elixir.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127399 kubescape 2.2.6
  Formula/kubescape.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127400 renovate 35.31.5
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#127388 jackett 0.20.3767
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#127395 django-completion 4.2
  Formula/django-completion.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#127396 dxpy 0.344.0
  Formula/dxpy.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#127401 rust-analyzer 2023-04-03
  Formula/rust-analyzer.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127406 gobackup 2.0.1
  Formula/gobackup.rb
Labels: go, nodejs, CI-published-bottle-commits

#127389 jupp 4.1jupp41
  Formula/jupp.rb
Labels: automerge-skip, CI-published-bottle-commits

#127402 s6 2.11.3.2
  Formula/s6.rb
Labels: automerge-skip, bump-formula-pr, CI-published-bottle-commits

#127393 seaweedfs 3.45
  Formula/seaweedfs.rb
Labels: go, CI-published-bottle-commits

#127412 tagref 1.6.1
  Formula/tagref.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#127403 ansible-lint 6.14.4
  Formula/ansible-lint.rb
Labels: python, CI-published-bottle-commits

#127369 uutils-findutils 0.4.0
  Formula/uutils-findutils.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autosquash

#127419 kyma-cli 2.12.2
  Formula/kyma-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#127415 butane 0.18.0
  Formula/butane.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits
