Repository Homebrew/homebrew-core, pull requests merged in 2023-06, with the labels that each got.

#132341 libssh2 1.11.0
  Formula/libssh2.rb
Labels: CI-requeued, test failure, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, CI-published-bottle-commits

#132464 libowfat: deprecate
  Formula/libowfat.rb
Labels: formula deprecated, CI-syntax-only

#132466 imgproxy 3.18.0
  Formula/imgproxy.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132459 aws-sdk-cpp 1.11.90
  Formula/aws-sdk-cpp.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132469 webpack 5.85.0
  Formula/webpack.rb
Labels: nodejs, CI-published-bottle-commits

#132470 gdu 5.24.0
  Formula/gdu.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132473 rover 0.14.2
  Formula/rover.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132468 partio: Fix on Ventura
  Formula/partio.rb
Labels: python, CI-published-bottle-commits

#132474 cadence 0.39.1
  Formula/cadence.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132475 packer 1.9.0
  Formula/packer.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132472 operator-sdk 1.29.0
  Formula/operator-sdk.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132471 odo-dev 3.11.0
  Formula/odo-dev.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132478 petsc-complex petsc 3.19.2
  Formula/petsc-complex.rb
  Formula/petsc.rb
Labels: CI-published-bottle-commits

#132481 tree 2.1.1
  Formula/tree.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132482 dolt 1.2.2
  Formula/dolt.rb
Labels: go, CI-published-bottle-commits

#132480 cloudformation-cli 0.2.31
  Formula/cloudformation-cli.rb
Labels: go, python, bump-formula-pr, CI-published-bottle-commits

#129512 votca 2022.1 (new formula)
  Formula/votca.rb
Labels: python, new formula, ready to merge, boost, CI-published-bottle-commits

#132486 libowfat: remove livecheck
  Formula/libowfat.rb
Labels: livecheck, formula deprecated, CI-syntax-only

#132455 fastgron 0.4.8 (new formula)
  Formula/fastgron.rb
Labels: new formula, audit failure, CI-no-fail-fast, CI-published-bottle-commits

#132406 openvino 2023.0.0
  Formula/openvino.rb
Labels: CI-published-bottle-commits

#132485 forgit 23.06.0
  Formula/forgit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132493 triage(CI-linux-self-hosted): include libssh2 and libxcrypt
  .github/workflows/triage.yml
Labels: CI-syntax-only, automerge-skip, workflows

#131917 aws-amplify 12.0.0 (new formula)
  Formula/aws-amplify.rb
Labels: nodejs, CI-requeued, new formula, ready to merge, CI-published-bottle-commits

#132484 exploitdb 2023-06-01
  Formula/exploitdb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132448 joshuto 0.9.4 (new formula)
  Formula/joshuto.rb
Labels: new formula, rust, CI-published-bottle-commits

#132488 pgroonga 3.0.6
  Formula/pgroonga.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132490 serverless 3.32.0
  Formula/serverless.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132496 pax: add livecheck
  Formula/pax.rb
Labels: livecheck, CI-syntax-only

#132492 wasmtime 9.0.3
  Formula/wasmtime.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#130403 vorbis-tools: Fix build on Ventura
  Formula/vorbis-tools.rb
Labels: CI-no-fail-fast, CI-published-bottle-commits

#132491 storj-uplink 1.78.3
  Formula/storj-uplink.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132487 maxima 5.47.0
  Formula/maxima.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#132479 mavsdk 1.4.15
  Formula/mavsdk.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132503 newrelic-infra-agent 1.42.2
  Formula/newrelic-infra-agent.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132507 cilium-cli: fix ldflags to override correct
  Formula/cilium-cli.rb
Labels: go, CI-published-bottle-commits

#132516 cubejs-cli 0.33.23
  Formula/cubejs-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132518 dasel 2.3.4
  Formula/dasel.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132501 calc 2.14.1.6
  Formula/calc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132519 newrelic-infra-agent 1.42.3
  Formula/newrelic-infra-agent.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132508 checkov 2.3.270
  Formula/checkov.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#132510 hugo 0.112.6
  Formula/hugo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132513 rqlite 7.20.0
  Formula/rqlite.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132509 libvirt 9.4.0
  Formula/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#132523 esptool 4.6.1
  Formula/esptool.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#132511 krakend 2.3.3
  Formula/krakend.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132512 clusterawsadm 2.1.3
  Formula/clusterawsadm.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132515 renovate 35.106.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132517 asyncapi 0.45.8
  Formula/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132532 jfrog-cli 2.39.0
  Formula/jfrog-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132530 flyctl 0.1.24
  Formula/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132533 keptn 1.4.0
  Formula/keptn.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132525 sccache 0.5.1
  Formula/sccache.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132528 huggingface-cli 0.15.1
  Formula/huggingface-cli.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#132527 hpp-fcl 2.3.4
  Formula/hpp-fcl.rb
Labels: python, bump-formula-pr, boost, CI-published-bottle-commits

#132531 gojq 0.12.13
  Formula/gojq.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132534 nuclei 2.9.6
  Formula/nuclei.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132539 cdktf 0.16.3
  Formula/cdktf.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132529 cilium-cli 0.14.6
  Formula/cilium-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132537 apidoc 1.0.3
  Formula/apidoc.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132542 git git-credential-libsecret git-gui git-svn 2.41.0
  Formula/git-credential-libsecret.rb
  Formula/git-gui.rb
  Formula/git-svn.rb
  Formula/git.rb
Labels: CI-published-bottle-commits

#132574 v8: update livecheck
  Formula/v8.rb
Labels: livecheck, CI-syntax-only

#132535 phrase-cli 2.8.2
  Formula/phrase-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132548 atlas 0.12.0
  Formula/atlas.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132549 berglas 1.0.3
  Formula/berglas.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132563 renovate 35.107.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132560 pdns 4.8.0
  Formula/pdns.rb
Labels: lua, bump-formula-pr, boost, CI-published-bottle-commits

#132553 faas-cli 0.16.5
  Formula/faas-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132556 jackett 0.21.95
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#132546 asciidoctorj 2.5.9
  Formula/asciidoctorj.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#132555 hcloud 1.34.1
  Formula/hcloud.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132567 terragrunt 0.46.0
  Formula/terragrunt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132566 serverless 3.32.1
  Formula/serverless.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132562 qjackctl 0.9.11
  Formula/qjackctl.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132547 asyncapi 0.46.0
  Formula/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132568 trust-dns 0.22.1
  Formula/trust-dns.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132570 typescript 5.1.3
  Formula/typescript.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132554 faudio 23.06
  Formula/faudio.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132565 scala@2.12 2.12.18
  Formula/scala@2.12.rb
Labels: legacy, java, bump-formula-pr, CI-published-bottle-commits

#132572 vercel-cli 30.1.0
  Formula/vercel-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132559 pandoc-plot 1.7.0
  Formula/pandoc-plot.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#132564 rpl 1.15.5
  Formula/rpl.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#132561 proj 9.2.1
  Formula/proj.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132569 typedb 2.18.0
  Formula/typedb.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#132571 verapdf 1.23.228
  Formula/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#132585 latexindent 3.22
  Formula/latexindent.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#132589 dsda-doom 0.26.1
  Formula/dsda-doom.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132582 openimageio 2.4.12.0
  Formula/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#132583 jdtls 1.24.0
  Formula/jdtls.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#132591 s2n 1.3.45
  Formula/s2n.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132573 semgrep 1.24.1
  Formula/semgrep.rb
Labels: ocaml, python, CI-published-bottle-commits

#132576 qemu 8.0.2
  Formula/qemu.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132578 cfn-lint 0.77.6
  Formula/cfn-lint.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#132595 earthly 0.7.7
  Formula/earthly.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132596 frugal 3.16.22
  Formula/frugal.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132592 svtplay-dl 4.21
  Formula/svtplay-dl.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#132579 dagger 0.6.1
  Formula/dagger.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132577 corrosion 0.4
  Formula/corrosion.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132590 renovate 35.108.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132586 mesheryctl 0.6.90
  Formula/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#132594 dolt 1.2.3
  Formula/dolt.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#132597 testkube 1.12.0
  Formula/testkube.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132588 packer 1.9.1
  Formula/packer.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132606 newrelic-cli 0.68.14
  Formula/newrelic-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132551 dav1d 1.2.1
  Formula/dav1d.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132601 consul 1.15.3
  Formula/consul.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132604 nagios 4.4.13
  Formula/nagios.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132610 terragrunt 0.46.1
  Formula/terragrunt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132603 firebase-cli 12.3.0
  Formula/firebase-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132602 dufs 0.34.0
  Formula/dufs.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132608 rabbitmq 3.12.0
  Formula/rabbitmq.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132600 aptos 2.0.0
  Formula/aptos.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132609 rakudo-star 2023.05
  Formula/rakudo-star.rb
Labels: bump-formula-pr, icu4c, CI-published-bottle-commits

#132605 nagios-plugins 2.4.5
  Formula/nagios-plugins.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132607 python-typing-extensions 4.6.3
  Formula/python-typing-extensions.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132599 fastgron 0.4.11
  Formula/fastgron.rb
Labels: ready to merge, CI-published-bottle-commits

#132611 typos-cli 1.14.12
  Formula/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132612 contentful-cli 2.6.15
  Formula/contentful-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132613 cdk8s 2.2.50
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132617 rqlite 7.20.1
  Formula/rqlite.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132615 Remove more uses of `GITHUB_RUN_ATTEMPT`
  .github/workflows/dispatch-build-bottle.yml
  cmd/determine-rebottle-runners.rb
Labels: automerge-skip

#132616 hledger 1.30
  Formula/hledger.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#132619 gf 2.4.2
  Formula/gf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132621 aws-cdk 2.82.0
  Formula/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132624 hugo 0.112.7
  Formula/hugo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132625 phpunit 10.2.0
  Formula/phpunit.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#132627 swagger-codegen 3.0.45
  Formula/swagger-codegen.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#132626 renovate 35.109.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132629 tomcat-native 2.0.4
  Formula/tomcat-native.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#132630 verapdf 1.23.229
  Formula/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#132628 qtkeychain 0.14.1
  Formula/qtkeychain.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#132631 libclc: use `opt_prefix` in `libclc.pc`
  Formula/libclc.rb
Labels: CI-published-bottle-commits

#132623 tarantool 2.11.0
  Formula/tarantool.rb
Labels: icu4c, CI-published-bottle-commits

#132580 git-credential-oauth 0.7.0 (new formula)
  Formula/git-credential-oauth.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits

#132632 jackett 0.21.97
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#132634 fend 1.2.0
  Formula/fend.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132636 pipenv 2023.6.2
  Formula/pipenv.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#132638 arkade 0.9.18
  Formula/arkade.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132649 workflows/triage: set `GH_TOKEN`
  .github/workflows/triage.yml
Labels: automerge-skip

#132635 folderify 3.0.12
  Formula/folderify.rb
Labels: rust, bump-formula-pr, macos-only, CI-published-bottle-commits

#132659 workflows/triage: fix jq expression
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#132432 libxcrypt 4.4.34
  Formula/libxcrypt.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-published-bottle-commits

#132662 flyctl 0.1.25
  Formula/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132656 balena-cli 16.5.1
  Formula/balena-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132520 qt@5 5.15.9
  Formula/qt@5.rb
Labels: nodejs, legacy, CI-linux-self-hosted, CI-no-fail-fast, long build, icu4c, CI-published-bottle-commits

#132661 cpuid 2.2.5
  Formula/cpuid.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#132647 release-it 15.10.5
  Formula/release-it.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132643 dart-sdk 3.0.3
  Formula/dart-sdk.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132648 rtx 1.31.0
  Formula/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#132657 asyncapi 0.47.0
  Formula/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#132655 ipython 8.14.0
  Formula/ipython.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits
