Repository Homebrew/homebrew-core, pull requests merged in 2023-10, with the labels that each got.

#147422 orogene 0.3.31 (new formula)
  Formula/o/orogene.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits

#147892 zf 0.9.0
  Formula/z/zf.rb
Labels: bump-formula-pr, CI-published-bottle-commits, zig

#145551 rio 0.0.21
  Formula/r/rio.rb
Labels: rust, ready to merge, bump-formula-pr, macos-only, CI-published-bottle-commits

#146343 goctl 1.5.6
  Formula/g/goctl.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#147969 borgmatic 1.8.3
  Formula/b/borgmatic.rb
  pypi_formula_mappings.json
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#147876 mame rom-tools 0.259
  Formula/m/mame.rb
  Formula/r/rom-tools.rb
Labels: long build, CI-published-bottle-commits

#148088 cdk8s 2.114.0
  Formula/c/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148089 cubejs-cli 0.33.64
  Formula/c/cubejs-cli.rb
Labels: nodejs, bump-formula-pr, no Linux bottle, CI-published-bottle-commits

#148091 signal-cli 0.12.2
  Formula/s/signal-cli.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#148165 workflows/triage: fix regex for `no ARM bottle`
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#146034 epinio 1.10.0
  Formula/e/epinio.rb
Labels: go, CI-published-bottle-commits

#148142 cuetools: fix audit failure
  Formula/c/cuetools.rb
Labels: deprecated license, CI-no-bottles, sonoma-bottling

#148133 mapcidr 1.1.10
  Formula/m/mapcidr.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148099 lexicon 3.15.0
  Formula/l/lexicon.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#148144 act 0.2.52
  Formula/a/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148145 ada-url 2.6.10
  Formula/a/ada-url.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148132 crfsuite: update URL
  Formula/c/crfsuite.rb
Labels: CI-no-bottles, sonoma-bottling

#148154 pylint 2.17.7
  Formula/p/pylint.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#148156 cpp-httplib 0.14.1
  Formula/c/cpp-httplib.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148159 mesheryctl 0.6.152
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#148164 goaccess 1.8
  Formula/g/goaccess.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#147890 tgui 1.0.0
  Formula/t/tgui.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#148183 protolint 0.46.1
  Formula/p/protolint.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#146358 libplacebo 6.338.0
  Formula/lib/libplacebo.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#148180 orogene 0.3.32
  Formula/o/orogene.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#148149 cairomm 1.18.0
  Aliases/cairomm@1.18
  Formula/c/cairomm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148195 universal-ctags p6.0.20231001.0
  Formula/u/universal-ctags.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148134 imagemagick 7.1.1-19
  Formula/i/imagemagick.rb
Labels: bump-formula-pr, CI-published-bottle-commits, 14

#148197 vulkan-validationlayers 1.3.266
  Formula/v/vulkan-validationlayers.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148310 tern: depends on python-packaging
  Formula/t/tern.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148306 west: depends on python-packaging
  Formula/w/west.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148305 woob: depend on python-packaging
  Formula/w/woob.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148307 virtualfish: depends on python-packaging
  Formula/v/virtualfish.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148338 firefoxpwa 2.8.0
  Formula/f/firefoxpwa.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#148362 dooit 2.0.1
  Formula/d/dooit.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#148315 snapcraft: depends on python-packaging
  Formula/s/snapcraft.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148316 snakemake: depends on python-packaging
  Formula/s/snakemake.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148366 ocm 0.1.69
  Formula/o/ocm.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148467 rome: deprecate
  Formula/r/rome.rb
Labels: haskell, formula deprecated, CI-syntax-only

#148313 solc-select: depend on python-packaging
  Formula/s/solc-select.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148421 github-markdown-toc 1.3.0
  Formula/g/github-markdown-toc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148317 slither-analyzer: depends on python-packaging
  Formula/s/slither-analyzer.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#148424 hysteria 2.0.3
  Formula/h/hysteria.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148410 resvg 0.36.0
  Formula/r/resvg.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#147501 workflows: add `cancel-pr-tests` to cancel CI on PR closure
  .github/workflows/cancel-pr-tests.yml
  .github/workflows/remove-long-timeout-labels.yml
  cmd/check-ci-status.rb
Labels: automerge-skip, workflows

#148442 jackett 0.21.946
  Formula/j/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#148408 ezstream: use full Git hash in patch URL
  Formula/e/ezstream.rb
Labels: CI-no-bottles, sonoma-bottling

#148281 dhcpdump: use HTTP URLs; update license
  Formula/d/dhcpdump.rb
Labels: license, CI-no-bottles, sonoma-bottling

#145765 ollama 0.1.0
  Formula/o/ollama.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#148530 cmd/check-ci-status: make sure to check the latest CI run
  cmd/check-ci-status.rb
Labels: automerge-skip

#148577 rdiff-backup 2.4.0
  Formula/r/rdiff-backup.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#148574 gitlab-ci-local 4.44.0
  Formula/g/gitlab-ci-local.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148575 marp-cli 3.3.1
  Formula/m/marp-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148541 augeas: remove workaround & add build patch
  Formula/a/augeas.rb
Labels: CI-published-bottle-commits

#141882 smake 1.7-2023-04-19
  Formula/s/smake.rb
Labels: maintainer feedback, CI-published-bottle-commits

#148351 objfw: Use upstream repo instead of a mirror
  Formula/o/objfw.rb
Labels: needs response, CI-no-bottles

#148670 alp 1.0.20
  Formula/a/alp.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148671 archi-steam-farm 5.4.10.3
  Formula/a/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#148669 mesheryctl 0.6.153
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#148672 cadical 1.7.5
  Formula/c/cadical.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148674 dar 2.7.13
  Formula/d/dar.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148675 cryptopp 8.9.0
  Formula/c/cryptopp.rb
Labels: CI-published-bottle-commits

#148686 zrepl 0.6.1
  Formula/z/zrepl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148684 swiftformat 0.52.6
  Formula/s/swiftformat.rb
Labels: swift, bump-formula-pr, CI-published-bottle-commits

#148687 zpaqfranz 58.10
  Formula/z/zpaqfranz.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148685 tnftpd 20231001
  Formula/t/tnftpd.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148676 f3d: update livecheck
  Formula/f/f3d.rb
Labels: livecheck, CI-syntax-only, bump-formula-pr

#148679 libsigc++ 3.6.0
  Formula/lib/libsigc++.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148673 cairomm@1.14 1.14.5
  Formula/c/cairomm@1.14.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits

#148682 pugixml 1.14
  Formula/p/pugixml.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148772 svg2png: fixes for Sonoma
  Formula/s/svg2png.rb
Labels: deprecated license, CI-no-bottles, sonoma-bottling

#148782 checkstyle 10.12.4
  Formula/c/checkstyle.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#148781 cdk8s 2.116.0
  Formula/c/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148783 conftest 0.46.0
  Formula/c/conftest.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148792 scrypt 1.3.2
  Formula/s/scrypt.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148793 xterm 385
  Formula/x/xterm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148805 smake 1.7-2023-09-28
  Formula/s/smake.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148787 mlkit 4.7.4
  Formula/m/mlkit.rb
Labels: no ARM bottle, bump-formula-pr, CI-published-bottle-commits

#148937 micronaut 4.1.3
  Formula/m/micronaut.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#148932 virt-manager: update resources
  Formula/v/virt-manager.rb
Labels: python, macos-only, CI-published-bottle-commits

#148945 tfmigrate 0.3.17
  Formula/t/tfmigrate.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148953 esphome 2023.9.2
  Formula/e/esphome.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#148878 ccd2iso: fix build on Sonoma
  Formula/c/ccd2iso.rb
Labels: CI-no-bottles, sonoma-bottling

#148947 verapdf 1.25.63
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#148949 vapoursynth-ocr 3
  Formula/v/vapoursynth-ocr.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#148943 renovate 37.2.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148902 asyncapi 0.58.2
  Formula/a/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148894 mlt 7.20.0
  Formula/m/mlt.rb
Labels: bump-formula-pr, ffmpeg, CI-published-bottle-commits

#148922 libvirt 9.8.0
  Formula/lib/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#148802 onionprobe 1.1.2 (new formula)
  Formula/o/onionprobe.rb
  pypi_formula_mappings.json
Labels: python, new formula, automerge-skip, CI-published-bottle-commits

#149057 grin: remove `llvm@15` from library search paths
  Formula/g/grin.rb
Labels: rust, CI-no-bottles, sonoma-bottling

#149061 fastfetch 2.1.0
  Formula/f/fastfetch.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#149067 arkade 0.10.13
  Formula/a/arkade.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149071 assh 2.16.0
  Formula/a/assh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148998 ipython 8.16.1
  Formula/i/ipython.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#149072 autorestic 1.7.9
  Formula/a/autorestic.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149070 jackett 0.21.947
  Formula/j/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#149077 cdk8s 2.118.0
  Formula/c/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#149093 ipinfo-cli 3.1.1
  Formula/i/ipinfo-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149094 jql 7.0.4
  Formula/j/jql.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149095 kyma-cli 2.19.0
  Formula/k/kyma-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149102 swagger-codegen 3.0.47
  Formula/s/swagger-codegen.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#149104 swagger-codegen@2 2.4.33
  Formula/s/swagger-codegen@2.rb
Labels: legacy, java, bump-formula-pr, CI-published-bottle-commits

#149106 tomcat-native 2.0.6
  Formula/t/tomcat-native.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#149105 thanos 0.32.4
  Formula/t/thanos.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149112 docuum 0.23.1
  Formula/d/docuum.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149039 kosli-cli 2.6.9
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#149096 netlify-cli 16.5.0
  Formula/n/netlify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#149117 code-cli 1.82.3
  Formula/c/code-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149113 uuu: update sha256
  Formula/u/uuu.rb
Labels: checksum mismatch, CI-no-fail-fast, CI-published-bottle-commits

#149133 sapling: use brewed `curl`
  Formula/s/sapling.rb
Labels: nodejs, python, rust, CI-published-bottle-commits, sonoma-bottling

#149146 xcdiff 0.11.0
  Formula/x/xcdiff.rb
Labels: swift, bump-formula-pr, macos-only, CI-published-bottle-commits

#149151 censys 2.2.7
  Formula/c/censys.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#149150 agg 1.4.3
  Formula/a/agg.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149065 teip: use libclang from `llvm@15`; add `oniguruma` linkage check
  Formula/t/teip.rb
Labels: rust, CI-published-bottle-commits, sonoma-bottling

#149174 newrelic-cli 0.72.3
  Formula/n/newrelic-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149173 kumactl 2.4.2
  Formula/k/kumactl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#148634 smlfmt 1.0.0 (new formula)
  Formula/s/smlfmt.rb
Labels: new formula, notability, CI-no-fail-fast, CI-published-bottle-commits

#149153 pyenv 2.3.28
  Formula/p/pyenv.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#149176 tailscale 1.50.1
  Formula/t/tailscale.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149190 sdl2: update HEAD branch
  Formula/s/sdl2.rb
Labels: CI-syntax-only

#149177 orogene 0.3.33
  Formula/o/orogene.rb
Labels: rust, CI-published-bottle-commits

#149178 typos-cli 1.16.16
  Formula/t/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#148940 rust-analyzer 2023-10-02
  Formula/r/rust-analyzer.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149266 hashpump: deprecate
  Formula/h/hashpump.rb
Labels: python, livecheck, formula deprecated, CI-syntax-only

#149170 ruff 0.0.292
  Formula/r/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149180 bandicoot 1.11.0 (new formula)
  Formula/b/bandicoot.rb
Labels: new formula, notability, CI-no-fail-fast, CI-published-bottle-commits

#149204 temporal 0.10.6
  Formula/t/temporal.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149212 eza 0.14.0
  Formula/e/eza.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149214 pylint 3.0.0
  Formula/p/pylint.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#149187 px 3.4.0
  Formula/p/px.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#149213 singular 4.3.2p8
  Formula/s/singular.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#149217 trufflehog 3.59.0
  Formula/t/trufflehog.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149220 cloudprober 0.13.0
  Formula/c/cloudprober.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149216 ansible-lint 6.20.3
  Formula/a/ansible-lint.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#149215 openimageio 2.5.4.0
  Formula/o/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#149219 kics 1.7.9
  Formula/k/kics.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149221 alp 1.0.21
  Formula/a/alp.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149222 typos-cli 1.16.17
  Formula/t/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#148576 python-packaging 23.2
  Formula/p/python-packaging.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#149226 oh-my-posh 18.11.0
  Formula/o/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149223 spotify_player 0.15.2
  Formula/s/spotify_player.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149218 steampipe 0.21.0
  Formula/s/steampipe.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149224 rio 0.0.22
  Formula/r/rio.rb
Labels: rust, bump-formula-pr, macos-only, CI-published-bottle-commits

#149225 maturin 1.3.0
  Formula/m/maturin.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#149230 dolt 1.18.0
  Formula/d/dolt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149231 frugal 3.17.3
  Formula/f/frugal.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#149233 cdk8s 2.119.0
  Formula/c/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#148653 rye 0.14.0
  Formula/r/rye.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#149236 cubejs-cli 0.33.65
  Formula/c/cubejs-cli.rb
Labels: nodejs, bump-formula-pr, no Linux bottle, CI-published-bottle-commits
