Repository Homebrew/homebrew-core, pull requests merged in 2023-09, with the labels that each got.

#141045 semgrep 1.38.0
  Formula/s/semgrep.rb
Labels: ocaml, python, rust, CI-published-bottle-commits

#141046 censys 2.2.5
  Formula/c/censys.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141048 cargo-audit 0.18.1
  Formula/c/cargo-audit.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141051 forgit 23.09.0
  Formula/f/forgit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141053 php-cs-fixer 3.25.0
  Formula/p/php-cs-fixer.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#141049 cosign 2.2.0
  Formula/c/cosign.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141052 grafana 10.1.1
  Formula/g/grafana.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#141050 devspace 6.3.3
  Formula/d/devspace.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141054 skaffold 2.7.0
  Aliases/skaffold@2.7
  Formula/s/skaffold.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141037 pandoc 3.1.7
  Formula/p/pandoc-crossref.rb
  Formula/p/pandoc.rb
Labels: haskell, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#141036 libjcat 0.1.14 (new formula)
  Formula/lib/libjcat.rb
Labels: new formula, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#138369 wasmtime: build & install c-api.
  Formula/w/wasmtime.rb
Labels: rust, CI-published-bottle-commits

#141018 rustfmt 1.6.0
  Formula/r/rustfmt.rb
Labels: rust, CI-no-fail-fast, CI-published-bottle-commits

#141055 act 0.2.50
  Formula/a/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#140617 libedit 20230828-3.1
  Formula/lib/libedit.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-published-bottle-commits

#141056 moco 1.5.0
  Formula/m/moco.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141059 borgbackup 1.2.6
  Formula/b/borgbackup.rb
Labels: python, CI-published-bottle-commits

#141058 aws-elasticbeanstalk 3.20.9
  Formula/a/aws-elasticbeanstalk.rb
Labels: python, rust, CI-published-bottle-commits

#141064 flyctl 0.1.86
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141074 devcontainer 0.51.2
  Formula/d/devcontainer.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#141071 sing-box 1.4.1
  Formula/s/sing-box.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141073 zrok 0.4.6
  Formula/z/zrok.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#141072 cdk8s 2.70.0
  Formula/c/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#141076 jreleaser 1.8.0
  Formula/j/jreleaser.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141060 dstack 0.11.1
  Formula/d/dstack.rb
Labels: python, rust, homepage, CI-published-bottle-commits

#141078 wasmtime: improve test block style
  Formula/w/wasmtime.rb
Labels: rust, CI-no-bottles

#141065 kubefirst 2.2.17
  Formula/k/kubefirst.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141068 ttdl 4.1.0
  Formula/t/ttdl.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141075 emqx 5.1.6
  Formula/e/emqx.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141079 pocl 4.0
  Formula/p/pocl.rb
Labels: livecheck, CI-published-bottle-commits

#141069 llm 0.8.1
  Formula/l/llm.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#141082 trivy 0.45.0
  Formula/t/trivy.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141066 minio 20230831153116
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141067 minio-mc 20230830080226
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141084 composer 2.6.0
  Formula/c/composer.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#141044 mat2 0.13.4
  Formula/m/mat2.rb
Labels: python, ready to merge, switch-to-pypi-source, ffmpeg, CI-published-bottle-commits, use-std_pip_args

#140418 glslang 13.0.0
  Formula/g/glslang.rb
Labels: CI-requeued, ready to merge, bump-formula-pr, CI-linux-self-hosted, CI-published-bottle-commits

#141087 infracost 0.10.29
  Formula/i/infracost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141090 envd 0.3.40
  Formula/e/envd.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141091 hz 0.6.7
  Formula/h/hz.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141092 ls-lint 2.1.0
  Formula/l/ls-lint.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141096 tippecanoe 2.31.0
  Formula/t/tippecanoe.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141081 Revert "workflows/tests: set `HOMEBREW_RELOCATABLE_INSTALL_NAMES`"
  .github/workflows/tests.yml
Labels: automerge-skip, workflows

#141088 git-credential-oauth 0.10.1
  Formula/g/git-credential-oauth.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141086 eksctl 0.155.0
  Formula/e/eksctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141103 ipython 8.15.0
  Formula/i/ipython.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141110 scm-manager 2.46.1
  Formula/s/scm-manager.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141105 terramate 0.4.1
  Formula/t/terramate.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141108 verapdf 1.25.41
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141104 btrfs-progs 6.5
  Formula/b/btrfs-progs.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#141106 tetra 0.11.0
  Formula/t/tetra.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141109 instead 3.5.1
  Formula/i/instead.rb
Labels: lua, bump-formula-pr, CI-published-bottle-commits

#141100 shadowsocks-rust 1.16.1
  Formula/s/shadowsocks-rust.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141107 jackett 0.21.719
  Formula/j/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#141102 cadical 1.7.1
  Formula/c/cadical.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141099 dooit 2.0.0
  Formula/d/dooit.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141098 libvirt 9.7.0
  Formula/lib/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#141113 faudio 23.09
  Formula/f/faudio.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141114 maxwell 1.40.4
  Formula/m/maxwell.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#140973 glib 2.76.5
  Formula/g/glib.rb
Labels: python, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#141118 triage: update for brotli,glib,mame
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#141111 snap 2.60.3
  Formula/s/snap.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141116 copilot 1.30.1
  Formula/c/copilot.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#141123 dispatch-build-bottle.yml: account for 14-arm64
  .github/workflows/dispatch-build-bottle.yml
Labels: automerge-skip, workflows

#141119 haxe 4.3.2
  Formula/h/haxe.rb
Labels: nodejs, ocaml, perl, bump-formula-pr, CI-published-bottle-commits

#141121 hasura-cli 2.33.1
  Formula/h/hasura-cli.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#141089 cdxgen 9.7.0
  Formula/c/cdxgen.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#141117 semgrep 1.38.1
  Formula/s/semgrep.rb
Labels: ocaml, python, rust, CI-published-bottle-commits

#141128 jetty-runner 9.4.52.v20230823
  Formula/j/jetty-runner.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141129 flyctl 0.1.87
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#140833 arrayfire 3.9.0
  Formula/a/arrayfire.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, boost, CI-published-bottle-commits

#141026 cucumber-ruby 9.0.1
  Formula/c/cucumber-ruby.rb
Labels: ruby, ready to merge, bump-formula-pr, CI-published-bottle-commits

#141039 python-pyproject-hooks 1.0.0 (new formula) python-build: update build
  Formula/p/python-build.rb
  Formula/p/python-pyproject-hooks.rb
Labels: python, new formula, CI-published-bottle-commits, use-std_pip_args

#141139 atlantis: update default branch
  Formula/a/atlantis.rb
Labels: go, CI-syntax-only

#141140 tox 4.11.1
  Formula/t/tox.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141131 dxpy 0.356.0
  Formula/d/dxpy.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141132 cargo-generate 0.18.4
  Formula/c/cargo-generate.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141133 archi-steam-farm 5.4.9.3
  Formula/a/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#141135 smartdns 0.6.3
  Formula/s/smartdns.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141134 ruff 0.0.287
  Formula/r/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141137 dolt 1.13.6
  Formula/d/dolt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141142 victoriametrics 1.93.2
  Formula/v/victoriametrics.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141144 diffoscope 249
  Formula/d/diffoscope.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141145 openimageio 2.4.15.0
  Formula/o/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#141143 aws-cdk 2.94.0
  Formula/a/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#141146 pipenv 2023.9.1
  Formula/p/pipenv.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141147 emacs-dracula 1.8.0
  Formula/e/emacs-dracula.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141150 tilt 0.33.5
  Formula/t/tilt.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#141130 awscli 2.13.15
  Formula/a/awscli.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#141157 mesheryctl 0.6.134
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#141158 typos-cli 1.16.10
  Formula/t/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141161 mesheryctl 0.6.134
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#141162 semgrep 1.38.2
  Formula/s/semgrep.rb
Labels: ocaml, python, rust, CI-published-bottle-commits

#141155 python-build 1.0.0
  Formula/p/python-build.rb
  pypi_formula_mappings.json
Labels: python, bump-formula-pr, CI-published-bottle-commits

#141154 proj 9.3.0
  Formula/p/proj.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141138 tf-profile 0.4.0 (new formula)
  Formula/t/tf-profile.rb
Labels: go, new formula, CI-published-bottle-commits

#141165 ioctl 1.11.1
  Formula/i/ioctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141120 sqlite: enable more features
  Formula/s/sqlite.rb
Labels: CI-skip-recursive-dependents, CI-no-fail-fast, CI-published-bottle-commits

#141167 libssh2: update urls
  Formula/lib/libssh2.rb
Labels: livecheck, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-skip-dependents, CI-no-bottles

#140702 git-annex 10.20230828
  Formula/g/git-annex.rb
Labels: haskell, ready to merge, bump-formula-pr, CI-published-bottle-commits

#141171 micronaut 4.1.0
  Formula/m/micronaut.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141169 hapi-fhir-cli 6.8.1
  Formula/h/hapi-fhir-cli.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#141170 luau 0.593
  Formula/l/luau.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141174 smartdns 0.6.4
  Formula/s/smartdns.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141175 ctlptl 0.8.22
  Formula/c/ctlptl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141178 strace 6.5
  Formula/s/strace.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#141180 libxmlb 0.3.14
  Formula/lib/libxmlb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141181 yazi 0.1.4
  Formula/y/yazi.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141179 rocksdb 8.5.3
  Formula/r/rocksdb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141159 logcli: compile with correct build arguments
  Formula/l/logcli.rb
Labels: go, CI-published-bottle-commits

#141043 python-toml: use `std_pip_args`
  Formula/p/python-toml.rb
Labels: python, CI-published-bottle-commits, use-std_pip_args

#141173 go-feature-flag-relay-proxy 1.15.1
  Formula/g/go-feature-flag-relay-proxy.rb
  Formula/g/go-feature-flag.rb
  go-feature-flag
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141149 libfabric 1.19.0
  Formula/lib/libfabric.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#141176 hysteria 2.0.0
  Formula/h/hysteria.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141063 aws-sdk-cpp 1.11.155
  Formula/a/aws-sdk-cpp.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#138182 arcade-learning-environment: remove workarounds
  Formula/a/arcade-learning-environment.rb
Labels: python, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#141206 linux-headers@5.15 5.15.130
  Formula/l/linux-headers@5.15.rb
Labels: legacy, linux-only, bump-formula-pr, CI-published-bottle-commits

#141203 c-blosc 1.21.5
  Formula/c/c-blosc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141204 cargo-about 0.5.7
  Formula/c/cargo-about.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#141205 libgphoto2 2.5.31
  Formula/lib/libgphoto2.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141209 swiftformat 0.52.3
  Formula/s/swiftformat.rb
Labels: swift, bump-formula-pr, CI-published-bottle-commits

#141207 nfdump 1.7.3
  Formula/n/nfdump.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141211 urlfinder 2023.9.2
  Formula/u/urlfinder.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141212 vulkan-headers 1.3.263
  Formula/v/vulkan-headers.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141214 bacon: improve test
  Formula/b/bacon.rb
Labels: rust, CI-no-bottles

#141220 cargo-bundle: improve test
  Formula/c/cargo-bundle.rb
Labels: rust, CI-no-bottles

#141182 terragrunt 0.50.12
  Formula/t/terragrunt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141166 powerlevel10k 1.19.0 (new formula)
  Formula/p/powerlevel10k.rb
Labels: new formula, CI-published-bottle-commits

#141198 semgrep 1.38.3
  Formula/s/semgrep.rb
Labels: ocaml, python, rust, CI-published-bottle-commits

#141199 jackett 0.21.724
  Formula/j/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#141200 oh-my-posh 18.6.2
  Formula/o/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#141215 cargo-about: improve test
  Formula/c/cargo-about.rb
Labels: rust, CI-no-bottles

#141216 cargo-all-features: improve test
  Formula/c/cargo-all-features.rb
Labels: rust, CI-no-bottles

#141219 cargo-bloat: improve test
  Formula/c/cargo-bloat.rb
Labels: rust, CI-no-bottles

#141218 cargo-binutils: improve test
  Formula/c/cargo-binutils.rb
Labels: rust, CI-no-bottles

#141208 thrift 0.19.0
  Aliases/thrift@0.19
  Formula/a/apache-arrow.rb
  Formula/t/thrift.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#141217 cargo-auditable: improve test
  Formula/c/cargo-auditable.rb
Labels: rust, CI-no-bottles

#141223 cargo-depgraph: improve test
  Formula/c/cargo-depgraph.rb
Labels: rust, CI-no-bottles

#141222 cargo-deny: improve test
  Formula/c/cargo-deny.rb
Labels: rust, CI-no-bottles

#141224 cargo-deps: improve test
  Formula/c/cargo-deps.rb
Labels: rust, CI-no-bottles

#141232 workflows/triage: long build for `brotli`
  .github/workflows/triage.yml
Labels: CI-syntax-only, automerge-skip, workflows

#141038 maturin: install python bindings for pep517 builds
  Formula/m/maturin.rb
  pypi_formula_mappings.json
Labels: rust, ready to merge, CI-published-bottle-commits

#141136 cmctl 1.12.4
  Formula/c/cmctl.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#141226 cargo-llvm-lines: improve test
  Formula/c/cargo-llvm-lines.rb
Labels: rust, CI-no-bottles

#141227 cargo-make: improve test
  Formula/c/cargo-make.rb
Labels: rust, CI-no-bottles

#140768 youtubeuploader 23.03
  Formula/y/youtubeuploader.rb
Labels: go, ready to merge, livecheck, bump-formula-pr, CI-published-bottle-commits

#141221 cargo-crev: improve test
  Formula/c/cargo-crev.rb
Labels: rust, CI-no-bottles

#141229 cargo-watch: improve test
  Formula/c/cargo-watch.rb
Labels: rust, CI-no-bottles

#141225 cargo-edit: improve test
  Formula/c/cargo-edit.rb
Labels: rust, CI-no-bottles

#141228 cargo-nextest: improve test
  Formula/c/cargo-nextest.rb
Labels: rust, CI-no-bottles
