Repository Homebrew/homebrew-core, pull requests merged in 2023-07, with the labels that each got.

#135465 eslint 8.44.0
  Formula/eslint.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135466 sql-language-server 1.6.0
  Formula/sql-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135464 zimg 3.0.5
  Formula/zimg.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135467 forgit 23.07.0
  Formula/forgit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135456 bbot 1.0.5.1665 (new formula)
  Formula/bbot.rb
  pypi_formula_mappings.json
Labels: new formula, CI-published-bottle-commits

#135468 lacework-cli 1.25.0
  Formula/lacework-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135471 astro 1.16.2
  Formula/astro.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135446 autorest: use `node`
  Formula/autorest.rb
Labels: nodejs, CI-published-bottle-commits

#135447 cdktf: use `node`
  Formula/cdktf.rb
Labels: nodejs, CI-published-bottle-commits

#135450 balena-cli: use `node`
  Formula/balena-cli.rb
Labels: nodejs, CI-published-bottle-commits

#135448 kubevious: use `node`
  Formula/kubevious.rb
Labels: nodejs, CI-published-bottle-commits

#133617 charm-tools: depend on cffi
  Formula/charm-tools.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#135475 apko 0.9.0
  Formula/apko.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135473 vulkan-loader 1.3.256
  Formula/vulkan-loader.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135474 aide 0.18.5
  Formula/aide.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135288 zlib-ng 2.1.3
  Formula/zlib-ng.rb
Labels: CI-requeued, bump-formula-pr, CI-published-bottle-commits

#135483 cdk8s 2.2.84
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135462 juliaup 1.11.15
  Formula/juliaup.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#135493 hexer: add livecheck
  Formula/hexer.rb
Labels: livecheck, CI-syntax-only

#135486 graphqurl: fix test
  Formula/graphqurl.rb
Labels: nodejs, CI-no-bottles

#135454 micromamba 1.4.6
  Formula/micromamba.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#135490 rtx 1.32.2
  Formula/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135488 binkd: add head build
  Formula/binkd.rb
Labels: CI-no-bottles

#135494 yafc: add license
  Formula/yafc.rb
Labels: CI-syntax-only, license

#135509 libfabric 1.18.1
  Formula/libfabric.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135512 erdtree 3.1
  Formula/erdtree.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135501 squashfuse 0.2.0
  Formula/squashfuse.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#135499 openfga 1.2.0
  Formula/openfga.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135503 subnetcalc 2.4.22
  Formula/subnetcalc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135500 quicktype 23.0.49
  Formula/quicktype.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135497 idnits 2.17.1
  Formula/idnits.rb
Labels: CI-published-bottle-commits

#135498 mesheryctl 0.6.104
  Formula/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#135485 dyld-headers 1066.8
  Formula/dyld-headers.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135495 i2p 2.3.0
  Formula/i2p.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#135481 oh-my-posh 17.5.3
  Formula/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135482 renovate 35.151.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135478 git-xargs 0.1.9
  Formula/git-xargs.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135476 dolt 1.7.2
  Formula/dolt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135479 glooctl 1.14.10
  Formula/glooctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135480 ntfy 2.6.2
  Formula/ntfy.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135470 dvc 3.2.4
  Formula/dvc.rb
Labels: python, rust, java, bump-formula-pr, long build, CI-published-bottle-commits

#135472 xrootd 5.6.0
  Formula/xrootd.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#135469 datafusion 27.0.0
  Formula/datafusion.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135463 wiredtiger: use macos `python`
  Formula/wiredtiger.rb
Labels: CI-no-bottles

#135477 erigon 2.48.0
  Formula/erigon.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135460 talloc: use macos `python`
  Formula/talloc.rb
Labels: CI-no-bottles

#135459 sad: use macos `python`
  Formula/sad.rb
Labels: rust, CI-no-bottles

#135458 norm: use macos `python`
  Formula/norm.rb
Labels: CI-no-bottles

#135457 metricbeat: use macos `python`
  Formula/metricbeat.rb
Labels: go, CI-no-bottles

#135455 bcoin: use macos `python`
  Formula/bcoin.rb
Labels: nodejs, CI-no-bottles

#135451 code-server: use macos `python`
  Formula/code-server.rb
Labels: nodejs, CI-no-bottles

#135492 csmith: update homepage and livecheck
  Formula/csmith.rb
Labels: upstream issue, livecheck, CI-no-bottles, homepage

#135496 pla: update stable, livecheck
  Formula/pla.rb
Labels: livecheck, CI-skip-recursive-dependents, CI-skip-dependents, CI-no-bottles

#135505 vulkan-headers 1.3.256
  Formula/vulkan-headers.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135510 kubefirst 2.2.1
  Formula/kubefirst.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135504 truffle 5.10.2
  Formula/truffle.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135502 stockfish 16
  Formula/stockfish.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135513 librsvg 2.56.2
  Formula/librsvg.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135519 fastgron 0.6.2
  Formula/fastgron.rb
Labels: CI-published-bottle-commits

#135453 libuv 1.46.0
  Formula/libuv.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135375 nss 3.91
  Formula/nss.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135491 creduce: update homepage and livecheck
  Formula/creduce.rb
Labels: livecheck, perl, CI-syntax-only, homepage

#135310 conduit: mark node and yarn as build dependencies
  Formula/conduit.rb
Labels: go, nodejs, CI-no-bottles

#135521 esbuild 0.18.11
  Formula/esbuild.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135529 erdtree 3.1.1
  Formula/erdtree.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135525 pip-tools 6.14.0
  Formula/pip-tools.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#135522 gat 0.9.0
  Formula/gat.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135523 jql 7.0.0
  Formula/jql.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135524 melange 0.4.0
  Formula/melange.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135528 taglib 1.13.1
  Formula/taglib.rb
Labels: deprecated license, bump-formula-pr, CI-published-bottle-commits

#135531 creduce: update stable
  Formula/creduce.rb
Labels: livecheck, perl, CI-skip-recursive-dependents, CI-skip-dependents, CI-no-bottles

#135526 renovate 35.154.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135535 etcd-cpp-apiv3 0.15.0
  Formula/etcd-cpp-apiv3.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits

#135532 millet 0.12.2
  Formula/millet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135533 jackett 0.21.356
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#135534 rqlite 7.21.2
  Formula/rqlite.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135536 ord 0.8.0
  Formula/ord.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135330 distrobox: add caveat for docker/podman
  Formula/distrobox.rb
Labels: ready to merge, linux-only, CI-no-bottles

#135390 hcxtools 6.3.1
  Formula/hcxtools.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#135537 sdl2_sound 2.0.2
  Formula/sdl2_sound.rb
Labels: CI-published-bottle-commits

#135461 vault 1.14.0
  Formula/vault.rb
Labels: go, nodejs, CI-published-bottle-commits

#135541 perltidy 20230701
  Formula/perltidy.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#135543 firefoxpwa 2.6.2
  Formula/firefoxpwa.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135540 pillow 10.0.0
  Formula/pillow.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135542 evince 44.3
  Formula/evince.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135554 sdns 1.3.0
  Formula/sdns.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#134568 mysql-client@5.7 5.7.42
  Formula/mysql-client@5.7.rb
Labels: legacy, ready to merge, formula deprecated, missing license, CI-published-bottle-commits

#134408 abricate: update deps and remove OpenSSL dependency
  Formula/abricate.rb
  audit_exceptions/versioned_dependencies_conflicts_allowlist.json
Labels: ready to merge, perl, CI-no-fail-fast, openssl-3-migration, CI-published-bottle-commits

#135560 nanomsgxx: use macos `python`
  Formula/nanomsgxx.rb
Labels: CI-no-bottles

#135558 serialosc: use macos `python`
  Formula/serialosc.rb
Labels: CI-no-bottles

#135551 ncspot: use macos `python`
  Formula/ncspot.rb
Labels: rust, CI-no-bottles

#135553 spot: use macos `python`
  Formula/spot.rb
Labels: CI-no-bottles

#135556 jack: use macos `python`
  Formula/jack.rb
Labels: CI-no-bottles

#135557 blockhash: use macos `python`
  Formula/blockhash.rb
Labels: CI-no-bottles

#135550 libmonome: use macos `python`
  Formula/libmonome.rb
Labels: CI-no-bottles

#135548 amp: use macos `python`
  Formula/amp.rb
Labels: rust, CI-no-bottles

#135549 iso-codes: use macos `python`
  Formula/iso-codes.rb
Labels: CI-no-bottles

#135547 grammarly-languageserver: add node support bug
  Formula/grammarly-languageserver.rb
Labels: nodejs, CI-syntax-only

#135545 chronograf: use `node`
  Formula/chronograf.rb
Labels: go, nodejs, CI-no-bottles

#135546 tilt: use `node`
  Formula/tilt.rb
Labels: go, nodejs, CI-no-bottles

#135552 rabbitmq: use macos `python`
  Formula/rabbitmq.rb
Labels: CI-no-bottles

#135563 cdk8s 2.2.86
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135576 partio 1.17.0
  Formula/partio.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#135577 pipenv 2023.7.1
  Formula/pipenv.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#135578 renovate 35.156.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135571 gupnp 1.6.4
  Formula/gupnp.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#135574 marksman 2023-07-01
  Formula/marksman.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#135573 latex2html 2023.2
  Formula/latex2html.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135575 openimageio 2.4.13.0
  Formula/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#135572 kubefirst 2.2.2
  Formula/kubefirst.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135570 fnm 1.34.0
  Formula/fnm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135579 universal-ctags p6.0.20230702.0
  Formula/universal-ctags.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135231 haskell-language-server 2.0.0.1
  Formula/haskell-language-server.rb
Labels: haskell, CI-requeued, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#135580 erlang@23: deprecate
  Formula/erlang@23.rb
Labels: legacy, formula deprecated, CI-syntax-only

#135581 formulae: update OpenSSL path
  Formula/git.rb
  Formula/keepkey-agent.rb
  Formula/lexicon.rb
  Formula/mariadb-connector-c.rb
  Formula/mariadb-connector-odbc.rb
  Formula/tarantool.rb
Labels: CI-no-bottles

#135585 erdtree 3.1.2
  Formula/erdtree.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135564 aws-sdk-cpp 1.11.112
  Formula/aws-sdk-cpp.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135569 erlang@25 25.3.2.3
  Formula/erlang@25.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits

#135588 benthos 4.18.0
  Formula/benthos.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135582 trzsz-ssh 0.1.5 (new formula)
  Formula/trzsz-ssh.rb
Labels: go, new formula, CI-published-bottle-commits

#135586 renovate 35.157.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#135587 swiftdraw 0.14.1
  Formula/swiftdraw.rb
Labels: swift, bump-formula-pr, CI-published-bottle-commits

#135562 cadical 1.7.0
  Formula/cadical.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135561 bup 0.33.2
  Formula/bup.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#135566 dprint 0.38.0
  Formula/dprint.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135090 vineyard 0.15.2
  Formula/vineyard.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, boost, CI-published-bottle-commits

#135567 dmd dtools 2.104.1
  Formula/dmd.rb
  Formula/dtools.rb
Labels: CI-published-bottle-commits

#135568 elixir 1.15.2
  Formula/elixir.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135544 cog: use macos `python`
  Formula/cog.rb
Labels: go, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#135140 kallisto 0.50.0
  Formula/kallisto.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#134749 snapcraft: switch to `openssl@3`
  Formula/snapcraft.rb
Labels: python, rust, ready to merge, CI-no-fail-fast, openssl-3-migration, CI-published-bottle-commits

#135589 bloaty: use unversioned `protobuf`
  Formula/bloaty.rb
Labels: ready to merge, CI-published-bottle-commits

#135593 taskwarrior-tui 0.25.0
  Formula/taskwarrior-tui.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135601 millet 0.12.3
  Formula/millet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#135594 ghcup 0.1.19.4
  Formula/ghcup.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#135596 jackett 0.21.361
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#135592 datree 1.9.9
  Formula/datree.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#135597 latexindent 3.22.1
  Formula/latexindent.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#135598 libkeccak 1.4
  Formula/libkeccak.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135600 makensis 3.09
  Formula/makensis.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135602 pip-audit 2.6.0
  Formula/pip-audit.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#135604 picat 3.5
  Formula/picat.rb
Labels: CI-published-bottle-commits

#135591 timg: add libdeflate for head build
  Formula/timg.rb
Labels: CI-no-bottles, ffmpeg

#135605 languagetool 6.2
  Formula/languagetool.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#135599 luv 1.45.0-0
  Formula/luv.rb
Labels: lua, bump-formula-pr, CI-published-bottle-commits

#135606 vala 0.56.9
  Formula/vala.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135603 python-typing-extensions 4.7.1
  Formula/python-typing-extensions.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#135508 wmctrl: update homepage and livecheck
  Formula/wmctrl.rb
Labels: livecheck, CI-no-bottles, homepage

#135595 imageoptim-cli 3.1.7
  Formula/imageoptim-cli.rb
Labels: nodejs, no ARM bottle, bump-formula-pr, macos-only, CI-published-bottle-commits

#135559 saldl: use macos `python`
  Formula/saldl.rb
Labels: ready to merge, CI-no-bottles
