Repository Homebrew/homebrew-core, pull requests merged in 2023-08, with the labels that each got.

#138152 marked 6.0.0
  Formula/marked.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138153 sqlpage 0.9.1
  Formula/sqlpage.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138147 code-server 4.16.1
  Formula/code-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138149 flyctl 0.1.68
  Formula/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138150 grype 0.65.0
  Formula/grype.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138146 restic 0.16.0
  Formula/restic.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138145 trufflehog 3.46.1
  Formula/trufflehog.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138151 html2text 2.2.3
  Formula/html2text.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138132 testkube 1.13.9
  Formula/testkube.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138144 newrelic-cli 0.68.25
  Formula/newrelic-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138139 cfn-lint 0.79.6
  Formula/cfn-lint.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#138128 kustomize 5.1.1
  Formula/kustomize.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138129 psysh 0.11.20
  Formula/psysh.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#138142 ruff 0.0.281
  Formula/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138140 solana 1.14.22
  Formula/solana.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138143 argocd 2.7.10
  Formula/argocd.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#138141 bazel 6.3.1
  Formula/bazel.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#138124 eigenpy 3.1.1
  Formula/eigenpy.rb
Labels: python, bump-formula-pr, boost, CI-published-bottle-commits

#138131 neonctl 1.19.0
  Formula/neonctl.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138120 deark 1.6.5
  Formula/deark.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138121 pint 0.44.2
  Formula/pint.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138126 petsc-complex petsc 3.19.4
  Formula/petsc-complex.rb
  Formula/petsc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138127 glooctl 1.14.13
  Formula/glooctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138122 dprint 0.40.1
  Formula/dprint.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138119 telegraf 1.27.3
  Formula/telegraf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138156 mesheryctl 0.6.114
  Formula/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#138157 commitizen 3.6.0
  Formula/commitizen.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#137387 libshumate 1.0.5 (new formula)
  Formula/libshumate.rb
Labels: new formula, ready to merge, CI-published-bottle-commits

#137850 libpanel 1.2.0 (new formula)
  Formula/libpanel.rb
Labels: new formula, CI-published-bottle-commits

#138160 act 0.2.49
  Formula/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138163 cdk8s 2.15.0
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138164 jfrog-cli 2.44.1
  Formula/jfrog-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138166 forgit 23.08.0
  Formula/forgit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138167 exploitdb 2023-08-01
  Formula/exploitdb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138170 lensfun: update livecheck
  Formula/lensfun.rb
Labels: python, livecheck, CI-syntax-only

#138168 libpulsar 3.3.0
  Formula/libpulsar.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits

#138169 node-sass 1.64.2
  Formula/node-sass.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138161 earthly 0.7.14
  Formula/earthly.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138162 dprint 0.40.2
  Formula/dprint.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138165 cpp-httplib 0.13.3
  Formula/cpp-httplib.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138172 rebar3 3.22.1
  Formula/rebar3.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138179 esphome 2023.7.1
  Formula/esphome.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#138123 kubefirst 2.2.6
  Formula/kubefirst.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#138171 clipboard: use `ENV.O3`
  Formula/clipboard.rb
Labels: CI-published-bottle-commits

#138183 hugo 0.116.1
  Formula/hugo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138154 vulkan-loader vulkan-tools 1.3.260
  Formula/vulkan-loader.rb
  Formula/vulkan-tools.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138148 sqlc 1.20.0
  Formula/sqlc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138173 scummvm 2.7.1
  Formula/scummvm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138175 sing-box 1.3.5
  Formula/sing-box.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138188 autocorrect 2.8.0
  Formula/autocorrect.rb
Labels: rust, CI-published-bottle-commits

#138201 postgresql@14: deprecate `old_postgres_data_dir`
  Formula/postgresql@14.rb
Labels: legacy, perl, formula deprecated, icu4c, CI-published-bottle-commits

#138190 aide 0.18.6
  Formula/aide.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138195 pocketbase 0.17.1
  Formula/pocketbase.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138198 syft 0.86.1
  Formula/syft.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138197 trivy 0.44.0
  Formula/trivy.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138186 brpc 1.6.0
  Formula/brpc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138033 jupyterlab: update to notebook 7
  Formula/jupyterlab.rb
Labels: nodejs, python, rust, ready to merge, CI-published-bottle-commits

#138138 harfbuzz 8.1.0
  Formula/harfbuzz.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, icu4c, CI-published-bottle-commits

#138196 sqlmap 1.7.8
  Formula/sqlmap.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#138189 exercism 3.2.0
  Formula/exercism.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138200 virt-manager: update resources
  Formula/virt-manager.rb
Labels: python, macos-only, CI-published-bottle-commits

#138203 smartmontools 7.4
  Formula/smartmontools.rb
Labels: audit failure, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#138192 asyncapi 0.51.7
  Formula/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138205 vite 4.4.8
  Formula/vite.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138206 keptn 1.4.1
  Formula/keptn.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138187 zstd: use `opt_prefix` in `libzstd.pc`
  Formula/zstd.rb
Labels: CI-skip-recursive-dependents, CI-linux-self-hosted, CI-no-fail-fast, CI-skip-dependents, long build, CI-published-bottle-commits

#138217 pixi 0.0.8
  Formula/pixi.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138215 openssl@3.0 3.0.10
  Formula/openssl@3.0.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits

#138227 runme 1.7.0
  Formula/runme.rb
Labels: go, CI-published-bottle-commits

#138236 emacs: add tree-sitter support
  Formula/emacs.rb
Labels: CI-published-bottle-commits

#138239 rtx 1.35.8
  Formula/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138235 terraform-ls 0.31.4
  Formula/terraform-ls.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138232 typos-cli 1.16.2
  Formula/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138233 fw 2.17.0
  Formula/fw.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138234 tektoncd-cli 0.31.2
  Formula/tektoncd-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138230 chamber 2.13.3
  Formula/chamber.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138225 jenkins 2.417
  Formula/jenkins.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#138229 dxpy 0.354.0
  Formula/dxpy.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#138220 ruff 0.0.282
  Formula/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138223 nim 2.0.0
  Formula/nim.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138218 testkube 1.13.10
  Formula/testkube.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138219 sqlpage 0.9.2
  Formula/sqlpage.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138237 solr@8.11: update test
  Formula/solr@8.11.rb
Labels: legacy, java, CI-no-fail-fast, CI-no-bottles

#138238 actionlint: update build and test
  Formula/actionlint.rb
Labels: go, CI-no-bottles

#138245 cog 0.8.5
  Formula/cog.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138259 python-cryptography 41.0.3
  Formula/python-cryptography.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#138246 container-structure-test 1.16.0
  Formula/container-structure-test.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#138222 pop 0.2.0
  Formula/pop.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#138253 trufflehog 3.46.2
  Formula/trufflehog.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138241 go@1.19 1.19.12
  Formula/go@1.19.rb
Labels: go, legacy, CI-skip-livecheck, CI-published-bottle-commits

#138258 autocorrect 2.8.4
  Formula/autocorrect.rb
Labels: rust, CI-published-bottle-commits

#138270 entr 5.4
  Formula/entr.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138272 sphinx-doc 7.1.2
  Formula/sphinx-doc.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#138271 pyright 1.1.320
  Formula/pyright.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138243 poppler poppler-qt5 23.08.0
  Formula/poppler-qt5.rb
  Formula/poppler.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#138250 gopls 0.13.1
  Formula/gopls.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138268 grpc@1.54 1.54.3
  Formula/grpc@1.54.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits

#138274 theharvester: use venv dsl
  Formula/theharvester.rb
Labels: python, rust, CI-no-bottles

#138273 uni2ascii: add livecheck, update license
  Formula/uni2ascii.rb
Labels: livecheck, CI-syntax-only, license

#138212 mx 6.35.1
  Formula/mx.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#138211 jackett 0.21.568
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#138213 puzzles 20230801
  Formula/puzzles.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138209 webkitgtk 2.40.5
  Formula/webkitgtk.rb
Labels: ruby, perl, linux-only, bump-formula-pr, icu4c, CI-published-bottle-commits

#138210 libvirt 9.6.0
  Formula/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#138267 nagios-plugins 2.4.6
  Formula/nagios-plugins.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138264 rio 0.0.15
  Formula/rio.rb
Labels: rust, bump-formula-pr, macos-only, CI-published-bottle-commits

#138208 renovate 36.27.0
  Formula/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138269 dub 1.34.0
  Formula/dub.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138261 temporal 0.10.5
  Formula/temporal.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138265 openimageio 2.4.14.0
  Formula/openimageio.rb
Labels: python, license, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#138231 ibazel 0.23.7
  Formula/ibazel.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138248 cdk8s 2.16.0
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#138249 flarectl 0.74.0
  Formula/flarectl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138252 django-completion 4.2.4
  Formula/django-completion.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138244 argocd-vault-plugin 1.16.0
  Formula/argocd-vault-plugin.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138251 openfga 1.3.0
  Formula/openfga.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138254 dtools dmd 2.105.0
  Formula/dmd.rb
  Formula/dtools.rb
Labels: CI-published-bottle-commits

#138260 xbyak 6.72
  Formula/xbyak.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138247 archi-steam-farm 5.4.8.3
  Formula/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#138263 spot 2.11.6
  Formula/spot.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#137928 vulkan-extensionlayer 1.3.260
  Formula/vulkan-extensionlayer.rb
Labels: CI-requeued, bump-formula-pr, CI-published-bottle-commits

#138303 fw 2.17.1
  Formula/fw.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138307 millet 0.12.9
  Formula/millet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138309 snakemake 7.31.1
  Formula/snakemake.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#138304 mx 6.37.0
  Formula/mx.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#138305 phpunit 10.2.7
  Formula/phpunit.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#138306 openfpgaloader 0.11.0
  Formula/openfpgaloader.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138308 verapdf 1.25.34
  Formula/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#138310 bitrise 2.3.1
  Formula/bitrise.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138216 openssl@3 3.1.2
  Formula/openssl@3.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, CI-no-fail-fast, CI-published-bottle-commits

#138240 go 1.20.7
  Formula/garble.rb
  Formula/go.rb
Labels: CI-skip-livecheck, CI-published-bottle-commits

#137915 aptos: update to build with rust 1.71
  Formula/aptos.rb
Labels: rust, ready to merge, CI-published-bottle-commits

#138214 openssl@1.1 1.1.1v
  Formula/openssl@1.1.rb
Labels: legacy, formula deprecated, bump-formula-pr, CI-skip-recursive-dependents, CI-no-fail-fast, CI-published-bottle-commits

#138317 flow-cli 1.3.4
  Formula/flow-cli.rb
Labels: go, CI-published-bottle-commits

#138325 rdb 1.0.11
  Formula/rdb.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138328 sip 6.7.11
  Formula/sip.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#138331 jackett 0.21.574
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#138333 goenv 2.1.3
  Formula/goenv.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138332 mkdocs 1.5.2
  Formula/mkdocs.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#138329 streamlink 6.0.1
  Formula/streamlink.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#138338 cargo-deny 0.14.1
  Formula/cargo-deny.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#138342 trufflehog 3.46.3
  Formula/trufflehog.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#138343 sbom-tool 1.3.2
  Formula/sbom-tool.rb
Labels: no ARM bottle, bump-formula-pr, dotnet, CI-published-bottle-commits

#138339 libcerf 2.4
  Formula/libcerf.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138340 quictls 3.1.2-quic1
  Formula/quictls.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#138312 cloc 1.96.1
  Formula/cloc.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#138349 fonttools 4.42.0
  Formula/fonttools.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#138351 hasura-cli 2.31.0
  Formula/hasura-cli.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#138352 awscli 2.13.6
  Formula/awscli.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#138362 simdjson 3.2.2
  Formula/simdjson.rb
Labels: bump-formula-pr, CI-published-bottle-commits
