Repository Homebrew/homebrew-core, pull requests merged in 2023-11, with the labels that each got.

#152903 llvm 17.0.4
  Formula/l/llvm.rb
Labels: python, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#152993 chainloop-cli 0.25.0
  Formula/c/chainloop-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#152992 dynaconf 3.2.4
  Formula/d/dynaconf.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#152994 biome 1.3.3
  Formula/b/biome.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#152995 python-markdown 3.5.1
  Formula/p/python-markdown.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153001 contentful-cli 3.1.6
  Formula/c/contentful-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153002 newrelic-cli 0.75.1
  Formula/n/newrelic-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#152991 erigon 2.53.4
  Formula/e/erigon.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#152335 sing-box: support management by Homebrew services
  Formula/s/sing-box.rb
Labels: go, almost there, CI-published-bottle-commits

#153003 esphome 2023.10.5
  Formula/e/esphome.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#153004 contentful-cli 3.1.7
  Formula/c/contentful-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#152947 podman 4.7.2
  Formula/p/podman.rb
Labels: go, rust, bump-formula-pr, CI-published-bottle-commits

#152985 re2 20231101
  Formula/r/re2.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153005 act 0.2.53
  Formula/a/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153006 cdk8s 2.163.0
  Formula/c/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#152989 lit 17.0.4
  Formula/l/lit.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#152750 qt 6.6.0
  Formula/q/qt-libiodbc.rb
  Formula/q/qt-mariadb.rb
  Formula/q/qt-mysql.rb
  Formula/q/qt-percona-server.rb
  Formula/q/qt-postgresql.rb
  Formula/q/qt-unixodbc.rb
  Formula/q/qt.rb
Labels: nodejs, CI-linux-self-hosted, long build, icu4c, ffmpeg, CI-published-bottle-commits

#152905 libomp 17.0.4
  Formula/lib/libomp.rb
Labels: python, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#153019 pyqt 6.6.0
  Formula/p/pyqt.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#152922 sbcl 2.3.10
  Formula/a/acl2.rb
  Formula/m/maxima.rb
  Formula/s/sbcl.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#153012 pyright 1.1.334
  Formula/p/pyright.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153026 get_iplayer 3.34
  Formula/g/get_iplayer.rb
Labels: perl, bump-formula-pr, ffmpeg, CI-published-bottle-commits

#153029 renovate 37.38.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153025 django-completion 4.2.7
  Formula/d/django-completion.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153018 verilator 5.018
  Formula/v/verilator.rb
Labels: python, perl, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#153021 goplus 1.1.9
  Formula/g/goplus.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153023 pjproject 2.14
  Formula/p/pjproject.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153024 kosli-cli 2.6.12
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#153022 llm 0.11.1
  Formula/l/llm.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#153017 verapdf 1.25.95
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153010 micromamba 1.5.3
  Formula/m/micromamba.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153016 trufflehog 3.62.1
  Formula/t/trufflehog.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153030 xrootd 5.6.3
  Formula/x/xrootd.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153008 inxi 3.3.31-1
  Formula/i/inxi.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#153009 liqoctl 0.10.0
  Formula/l/liqoctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153007 fw 2.18.0
  Formula/f/fw.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153013 saf-cli 1.2.34
  Formula/s/saf-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153014 snyk-cli 1.1238.0
  Formula/s/snyk-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153034 yorkie 0.4.8
  Formula/y/yorkie.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153032 gh 2.38.0
  Formula/g/gh.rb
Labels: go, CI-published-bottle-commits

#153033 minio-mc 20231030184332
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153037 jreleaser 1.9.0
  Formula/j/jreleaser.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153038 hcxtools 6.3.2
  Formula/h/hcxtools.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153039 oh-my-posh 18.21.1
  Formula/o/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153040 renovate 37.40.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#152910 p11-kit 0.25.2
  Formula/p/p11-kit.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#153041 redis 7.2.3
  Formula/r/redis.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153046 fastfetch 2.2.0
  Formula/f/fastfetch.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153042 abcmidi 2023.11.01
  Formula/a/abcmidi.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153044 uwsgi: revision bump for perl (fix libperl linkage failure)
  Formula/u/uwsgi.rb
Labels: python, perl, CI-published-bottle-commits

#152990 grpc 1.59.2
  Formula/g/grpc.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#153043 asyncapi 0.59.1
  Formula/a/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153050 pnpm 8.10.1
  Formula/p/pnpm.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#152966 petsc-complex petsc 3.20.1
  Formula/p/petsc-complex.rb
  Formula/p/petsc.rb
Labels: ready to merge, CI-skip-livecheck, CI-published-bottle-commits

#153049 libvirt 9.9.0
  Formula/lib/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#153051 spack 0.20.3
  Formula/s/spack.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#152955 dstack 0.12.2
  Formula/d/dstack.rb
Labels: python, rust, ready to merge, CI-published-bottle-commits

#153053 netlify-cli 17.0.0
  Formula/n/netlify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153015 ssh-mitm 4.1.1
  Formula/s/ssh-mitm.rb
Labels: python, rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#153058 goaccess 1.8.1
  Formula/g/goaccess.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153060 httpyac 6.9.0
  Formula/h/httpyac.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153062 kor 0.2.6
  Formula/k/kor.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153059 grpc-swift 1.20.0
  Formula/g/grpc-swift.rb
Labels: swift, bump-formula-pr, CI-published-bottle-commits

#153057 cdxgen 9.9.1
  Formula/c/cdxgen.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153068 openshift-cli 4.14.1
  Formula/o/openshift-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153064 micronaut 4.1.6
  Formula/m/micronaut.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153067 oh-my-posh 18.22.0
  Formula/o/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153066 minio 20231101015710
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#152986 r 4.3.2
  Formula/j/jupyter-r.rb
  Formula/r/r.rb
Labels: CI-requeued, bump-formula-pr, CI-published-bottle-commits

#153073 tetra 1.0.0
  Formula/t/tetra.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153072 tbls 1.71.0
  Formula/t/tbls.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153074 verapdf 1.25.97
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153071 tailwindcss-language-server 0.0.14
  Formula/t/tailwindcss-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153076 pnpm 8.10.2
  Formula/p/pnpm.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153075 bitwarden-cli 2023.10.0
  Formula/b/bitwarden-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153063 kubescape 3.0.1
  Formula/k/kubescape.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153077 pypi_formula_mappings: extra_packages for python@X
  pypi_formula_mappings.json
Labels: CI-syntax-only, automerge-skip

#153065 mongo-c-driver 1.25.0
  Formula/m/mongo-c-driver.rb
Labels: CI-published-bottle-commits

#153078 argocd 2.8.6
  Formula/a/argocd.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#153080 code-cli 1.84.0
  Formula/c/code-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153083 hugo 0.120.3
  Formula/h/hugo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#142382 librsvg 2.57.0
  Formula/lib/librsvg.rb
  audit_exceptions/gnome_devel_allowlist.json
Labels: automerge-skip, CI-no-fail-fast, CI-published-bottle-commits

#153086 typos-cli 1.16.22
  Formula/t/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153087 virt-manager: update resources
  Formula/v/virt-manager.rb
Labels: python, macos-only, CI-published-bottle-commits

#153088 astro 1.19.4
  Formula/a/astro.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153089 azion 1.6.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153092 fossil 2.23
  Formula/f/fossil.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153093 fuseki 4.10.0
  Formula/f/fuseki.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153090 bindgen 0.69.0
  Formula/b/bindgen.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153097 pan 0.155
  Formula/p/pan.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153094 jena 4.10.0
  Formula/j/jena.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153095 locust 2.18.1
  Formula/l/locust.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#153098 jj 0.11.0
  Formula/j/jj.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153100 odin 2023-11
  Formula/o/odin.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153109 triage: update for `icu4c`
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#153103 libshumate 1.1.2
  Formula/lib/libshumate.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153102 renovate 37.42.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153101 scrcpy 2.2
  Formula/s/scrcpy.rb
Labels: bump-formula-pr, ffmpeg, CI-published-bottle-commits

#153104 terragrunt 0.53.1
  Formula/t/terragrunt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153085 python-argcomplete 3.1.3
  Formula/p/python-argcomplete.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153082 modsurfer 0.0.9 (new formula)
  Formula/m/modsurfer.rb
Labels: new formula, rust, CI-published-bottle-commits

#153084 awscli 2.13.31
  Formula/a/awscli.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#153106 wasmtime 14.0.4
  Formula/w/wasmtime.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153096 certbot 2.7.4
  Formula/c/certbot.rb
Labels: python, CI-published-bottle-commits

#153105 uwsgi 2.0.23
  Formula/u/uwsgi.rb
Labels: python, perl, bump-formula-pr, CI-published-bottle-commits, python-3.12-migration

#153099 joern 2.0.140
  Formula/j/joern.rb
Labels: php, java, bump-formula-pr, CI-published-bottle-commits, large-bottle-upload

#153118 gator 3.14.0
  Formula/g/gator.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153121 purescript-language-server 0.17.3
  Formula/p/purescript-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153120 pip-audit: update test
  Formula/p/pip-audit.rb
Labels: python, ready to merge, CI-no-bottles

#153122 openimageio 2.5.5.0
  Formula/o/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#153132 vineyard 0.18.0
  Formula/v/vineyard.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits

#153133 pan: remove manual libiconv link
  Formula/p/pan.rb
Labels: CI-published-bottle-commits

#153123 adios2 2.9.2
  Formula/a/adios2.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#153124 kdoctor 1.1.0
  Formula/k/kdoctor.rb
Labels: java, ready to merge, macos-only, CI-published-bottle-commits

#153126 unisonlang M5g
  Formula/u/unisonlang.rb
Labels: haskell, nodejs, bump-formula-pr, CI-published-bottle-commits

#153136 httpyac 6.9.1
  Formula/h/httpyac.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153138 osv-scanner 1.4.3
  Formula/o/osv-scanner.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153127 exiftool livecheck updated
  Formula/e/exiftool.rb
Labels: livecheck, perl, CI-syntax-only

#153140 verapdf 1.25.98
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#153141 xeol 0.9.7
  Formula/x/xeol.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153142 mesheryctl 0.6.169
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#153137 openvdb 11.0.0
  Formula/o/openvdb.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits

#153139 python-argcomplete 3.1.4
  Formula/p/python-argcomplete.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153112 cargo-release 0.25.0
  Formula/c/cargo-release.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#153149 aws-cdk 2.104.0
  Formula/a/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153146 eza 0.15.2
  Formula/e/eza.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#153158 exiftool: revert livecheck
  Formula/e/exiftool.rb
Labels: livecheck, perl, CI-syntax-only

#153153 rekor-cli 1.3.3
  Formula/r/rekor-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153154 renovate 37.43.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#153156 gau 2.2.1
  Formula/g/gau.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153157 azion 1.6.1
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#151985 flint 3.0.0
  Formula/f/flint.rb
  Formula/s/symengine.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#153125 arb: deprecate (as merged into flint 3.0.0)
  Formula/a/arb.rb
Labels: formula deprecated, CI-no-bottles

#153155 fastfetch 2.2.1
  Formula/f/fastfetch.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153159 gawk 5.3.0
  Formula/g/gawk.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153160 dmd dtools 2.105.3
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#153165 mmark 2.2.41
  Formula/m/mmark.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153163 argyll-cms: vendor jam
  Formula/a/argyll-cms.rb
Labels: CI-no-bottles

#153162 spr 1.3.5
  Formula/s/spr.rb
Labels: rust, CI-published-bottle-commits

#153164 dockutil: add HEAD
  Formula/d/dockutil.rb
Labels: formula deprecated, CI-syntax-only, macos-only

#153166 nuclei 3.0.3
  Formula/n/nuclei.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153168 smlfmt 1.1.0
  Formula/s/smlfmt.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#153172 node@16 grammarly-languageserver: deprecate
  Formula/g/grammarly-languageserver.rb
  Formula/n/node@16.rb
Labels: formula deprecated, CI-syntax-only

#153020 apache-arrow apache-arrow-glib 14.0.0
  Formula/a/apache-arrow-glib.rb
  Formula/a/apache-arrow.rb
  Formula/g/gdal.rb
  Formula/v/vineyard.rb
Labels: ready to merge, CI-published-bottle-commits

#153169 python@3.8: bump python resources
  Formula/p/python@3.8.rb
Labels: legacy, CI-published-bottle-commits

#153170 python@3.9: bump python resources
  Formula/p/python@3.9.rb
Labels: legacy, CI-published-bottle-commits

#152774 vulkan-loader: fix include dir in .pc file
  Formula/v/vulkan-loader.rb
Labels: ready to merge, CI-published-bottle-commits

#153174 azion 1.6.2
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#153107 semgrep: Add libev as a dependency
  Formula/s/semgrep.rb
Labels: ocaml, python, rust, CI-published-bottle-commits

#153180 jam: deprecate
  Formula/j/jam.rb
Labels: formula deprecated, CI-syntax-only
