Repository Homebrew/homebrew-core, pull requests merged in 2023-05, with the labels that each got.

#129820 nb 7.5.1
  Formula/nb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129824 linux-headers@5.15 5.15.110
  Formula/linux-headers@5.15.rb
Labels: legacy, linux-only, bump-formula-pr, CI-published-bottle-commits

#129821 himalaya 0.7.3
  Formula/himalaya.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129823 libupnp 1.14.17
  Formula/libupnp.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129827 cdk8s 2.2.24
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#129783 tenyr: fix for Ventura
  Formula/tenyr.rb
Labels: CI-no-fail-fast, CI-published-bottle-commits

#129828 topgrade 11.0.0
  Formula/topgrade.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129829 act 0.2.45
  Formula/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129822 libimagequant 4.2.0
  Formula/libimagequant.rb
Labels: rust, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#129781 cpp-httplib 0.12.3
  Formula/cpp-httplib.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129830 util-linux: add livecheck
  Formula/util-linux.rb
Labels: livecheck, CI-syntax-only

#129811 graphviz 8.0.5
  Formula/graphviz.rb
Labels: bump-formula-pr, linux, CI-no-fail-fast, CI-published-bottle-commits

#129837 rust-analyzer 2023-05-01
  Formula/rust-analyzer.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129838 edencommon fb303 fbthrift fizz folly wangle watchman 2023.05.01.00
  Formula/edencommon.rb
  Formula/fb303.rb
  Formula/fbthrift.rb
  Formula/fizz.rb
  Formula/folly.rb
  Formula/wangle.rb
  Formula/watchman.rb
Labels: CI-published-bottle-commits

#129629 xinput 1.6.4
  Formula/xinput.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129840 sqlmap 1.7.5
  Formula/sqlmap.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129836 workflows/dispatch-*: auto-approve opened PRs
  .github/workflows/dispatch-build-bottle.yml
  .github/workflows/dispatch-rebottle.yml
Labels: automerge-skip, workflows

#129841 go-feature-flag-relay-proxy 1.10.1
  Formula/go-feature-flag-relay-proxy.rb
Labels: go, CI-published-bottle-commits

#129843 felinks 0.16.1.1
  Formula/felinks.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129842 enzyme 0.0.59
  Formula/enzyme.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129806 fzf 0.40.0
  Formula/fzf.rb
Labels: go, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#129802 sbcl 2.3.4
  Formula/acl2.rb
  Formula/maxima.rb
  Formula/sbcl.rb
Labels: bump-formula-pr, long build, CI-published-bottle-commits

#129851 jackett 0.20.4032
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#129848 qsv 0.101.0
  Formula/qsv.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129746 easyrpg-player 0.8
  Formula/easyrpg-player.rb
  Formula/liblcf.rb
  synced_versions_formulae.json
Labels: ready to merge, bump-formula-pr, icu4c, CI-published-bottle-commits

#129846 httpyac 6.4.1
  Formula/httpyac.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#129852 remove-disabled-formulae: fix for new merge flow
  .github/workflows/remove-disabled-formulae.yml
Labels: automerge-skip, workflows

#129808 ceres-solver: remove incorrect Ceres_DIR
  Formula/ceres-solver.rb
Labels: CI-no-fail-fast, CI-no-bottles

#129856 nvc 1.9.2
  Formula/nvc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129845 node-build 4.9.114
  Formula/node-build.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#129861 kopia 0.13.0
  Formula/kopia.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129854 access 0.10.9 (new formula)
  Formula/access.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits

#129855 wazero 1.1.0
  Formula/wazero.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129862 rtx 1.29.3
  Formula/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129864 archi-steam-farm 5.4.5.2
  Formula/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#129877 rosa-cli 1.2.18
  Formula/rosa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#128865 rust 1.69.0
  Formula/rust.rb
Labels: in progress, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits

#129876 qscintilla2 2.14.0
  Formula/qscintilla2.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129875 qca 2.3.6
  Formula/qca.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129866 astrometry-net 0.94
  Formula/astrometry-net.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129867 caf 0.19.1
  Formula/caf.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129869 flyctl 0.0.549
  Formula/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129868 faudio 23.05
  Formula/faudio.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129870 jscpd 3.5.8
  Formula/jscpd.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#129872 nali 0.7.3
  Formula/nali.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129873 openimageio 2.4.11.0
  Formula/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#129874 mitmproxy: update PyPI resources
  Formula/mitmproxy.rb
Labels: python, rust, CI-published-bottle-commits

#129297 ruff 0.0.263
  Formula/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129881 clamav 1.1.0
  Formula/clamav.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129882 commitizen 3.2.0
  Formula/commitizen.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129871 latexindent 3.21
  Formula/latexindent.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#129177 cargo-c 0.9.19
  Formula/cargo-c.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#129865 ares 0.10.0
  Formula/ares.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#129886 dub 1.32.1
  Formula/dub.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129889 kubescape 2.3.0
  Formula/kubescape.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129893 squid 5.9
  Formula/squid.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129890 libolm 3.2.15
  Formula/libolm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129888 httm 0.26.4
  Formula/httm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#129894 tsduck 3.34-3197
  Formula/tsduck.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#129895 terragrunt 0.45.7
  Formula/terragrunt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129884 cpio 2.14
  Formula/cpio.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129887 dmd dtools 2.103.1
  Formula/dmd.rb
  Formula/dtools.rb
Labels: CI-published-bottle-commits

#129897 newrelic-cli 0.67.22
  Formula/newrelic-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129885 dosbox-x 2023.05.01
  Formula/dosbox-x.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129898 terragrunt 0.45.8
  Formula/terragrunt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129896 google-java-format 1.17.0
  Formula/google-java-format.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#129903 workflows/triage: self-hosted Linux for `libxml2`
  .github/workflows/triage.yml
Labels: CI-syntax-only, automerge-skip, workflows

#129901 cglm 0.9.0
  Formula/cglm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129902 dfmt 0.15.0
  Formula/dfmt.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129900 pre-commit 3.3.0
  Formula/pre-commit.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129909 pyinvoke 2.1.1
  Formula/pyinvoke.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129910 libgedit-gtksourceview 299.0.1 (new formula)
  Formula/libgedit-gtksourceview.rb
Labels: new formula, CI-no-fail-fast, CI-published-bottle-commits

#129917 grpc 1.54.1
  Formula/grpc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129928 remove-long-timeout-labels: fix various errors
  .github/workflows/remove-long-timeout-labels.yml
Labels: automerge-skip, workflows

#129918 libfreenect 0.7.0
  Formula/libfreenect.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129920 sentencepiece 0.1.99
  Formula/sentencepiece.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129913 cloudflared 2023.5.0
  Formula/cloudflared.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129922 totp-cli 1.3.1
  Formula/totp-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129914 coconut 3.0.0
  Formula/coconut.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129911 bazarr 1.2.1
  Formula/bazarr.rb
Labels: nodejs, python, bump-formula-pr, ffmpeg, CI-published-bottle-commits

#129919 prestd 1.3.0
  Formula/prestd.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129921 stellar-core 19.10.0
  Formula/stellar-core.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129923 wownero 0.11.0.3
  Formula/wownero.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits

#129912 cloudformation-cli 0.2.30
  Formula/cloudformation-cli.rb
Labels: go, python, bump-formula-pr, CI-published-bottle-commits

#129927 esphome 2023.4.3
  Formula/esphome.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#129826 libxml2 2.11.1
  Formula/libxml2.rb
  audit_exceptions/gnome_devel_allowlist.json
Labels: ready to merge, automerge-skip, bump-formula-pr, CI-linux-self-hosted, icu4c, CI-published-bottle-commits

#129938 workflows: update `GITHUB_TOKEN` permissions
  .github/workflows/create-replacement-pr.yml
  .github/workflows/publish-commit-bottles.yml
Labels: automerge-skip, workflows

#129163 aftman 0.2.7 (new formula)
  Formula/aftman.rb
Labels: new formula, rust, CI-published-bottle-commits

#129944 zsdx: update homepage
  Formula/zsdx.rb
Labels: missing license, CI-syntax-only

#129945 haproxy 2.7.8
  Formula/haproxy.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129946 envd 0.3.20
  Formula/envd.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129949 libbpf 1.2.0
  Formula/libbpf.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#129953 release-it 15.10.3
  Formula/release-it.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#129950 libiodbc 3.52.16
  Formula/libiodbc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129952 pythran 0.13.0
  Formula/pythran.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129954 rospo 0.11.1
  Formula/rospo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129948 joern 1.1.1650
  Formula/joern.rb
Labels: php, java, bump-formula-pr, CI-published-bottle-commits

#129956 verapdf 1.23.203
  Formula/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#129961 pnpm 8.4.0
  Formula/pnpm.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#129964 chezmoi 2.33.4
  Formula/chezmoi.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129951 libwpg 0.3.4
  Formula/libwpg.rb
Labels: license, bump-formula-pr, CI-published-bottle-commits

#129972 logstash 8.7.1
  Formula/logstash.rb
Labels: java, ruby, bump-formula-pr, CI-published-bottle-commits

#129957 vvdec 2.0.0
  Formula/vvdec.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129970 jackett 0.20.4057
  Formula/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#129962 libvirt 9.3.0
  Formula/libvirt.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#129973 metricbeat 8.7.1
  Formula/metricbeat.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129974 oh-my-posh 15.4.1
  Formula/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129980 puzzles 20230502
  Formula/puzzles.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129976 openliberty-microprofile4 23.0.0.4
  Formula/openliberty-microprofile4.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#129978 packetbeat 8.7.1
  Formula/packetbeat.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#129965 citus 11.3.0
  Formula/citus.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129975 openliberty-jakartaee8 23.0.0.4
  Formula/openliberty-jakartaee8.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#129979 pre-commit 3.3.1
  Formula/pre-commit.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#129982 stanc3 2.32.1
  Formula/stanc3.rb
Labels: ocaml, bump-formula-pr, CI-published-bottle-commits

#129969 virt-manager: update resources
  Formula/virt-manager.rb
Labels: python, macos-only, CI-published-bottle-commits

#129977 openliberty-webprofile8 23.0.0.4
  Formula/openliberty-webprofile8.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#129985 zpaqfranz 58.2
  Formula/zpaqfranz.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#129986 clusterctl v1.4.2
  Formula/clusterctl.rb
Labels: go, CI-published-bottle-commits

#129991 dolt 0.75.16
  Formula/dolt.rb
Labels: go, CI-published-bottle-commits

#129981 saxon 12.2
  Formula/saxon.rb
Labels: java, CI-published-bottle-commits

#129989 argocd 2.7.1
  Formula/argocd.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#129988 go@1.19 1.19.9
  Formula/go@1.19.rb
Labels: go, legacy, CI-skip-livecheck, CI-published-bottle-commits

#129993 mesheryctl 0.6.87
  Formula/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#129994 arturo: Fix build for Ventura
  Formula/arturo.rb
Labels: CI-published-bottle-commits

#129987 go 1.20.4
  Formula/garble.rb
  Formula/go.rb
Labels: CI-skip-livecheck, CI-published-bottle-commits

#129937 cp2k: use shorter test
  Formula/cp2k.rb
Labels: long build, CI-published-bottle-commits

#130001 luacheck: update description
  Formula/luacheck.rb
Labels: lua, CI-syntax-only, CI-no-bottles

#129915 flavours 0.7.1
  Formula/flavours.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits

#130000 babel 7.21.8
  Formula/babel.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#130003 bacula-fd 13.0.3
  Formula/bacula-fd.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#130006 cargo-udeps 0.1.38
  Formula/cargo-udeps.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#130005 cargo-llvm-lines 0.4.28
  Formula/cargo-llvm-lines.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#130015 lego 4.11.0
  Formula/lego.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#130004 broot 1.21.3
  Formula/broot.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#130013 jscpd 3.5.9
  Formula/jscpd.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#130019 nixpacks 1.7.0
  Formula/nixpacks.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#130014 joern 1.1.1660
  Formula/joern.rb
Labels: php, java, bump-formula-pr, CI-published-bottle-commits

#130018 mkdocs 1.4.3
  Formula/mkdocs.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#130021 psalm 5.10.0
  Formula/psalm.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#130007 cdk8s 2.2.26
  Formula/cdk8s.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#130017 librdkafka 2.1.1
  Formula/librdkafka.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#130020 pkgconf 1.9.5
  Formula/pkgconf.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#130008 d2 0.4.2
  Formula/d2.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#130031 clang-format 16.0.3
  Formula/clang-format.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#130010 dnscontrol 3.31.3
  Formula/dnscontrol.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#130012 glooctl 1.14.2
  Formula/glooctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#130024 service-weaver 0.7.2
  Formula/service-weaver.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#130011 exploitdb 2023-05-03
  Formula/exploitdb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#130022 pythran 0.13.1
  Formula/pythran.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#130025 stylelint 15.6.1
  Formula/stylelint.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits
