Repository Homebrew/homebrew-core, pull requests merged in 2023-12, with the labels that each got.

#155669 nifi nifi-registry 1.24.0
  Formula/n/nifi-registry.rb
  Formula/n/nifi.rb
Labels: java, workflows, CI-published-bottle-commits, large-bottle-upload

#156063 imake: fix append_lines call
  Formula/i/imake.rb
Labels: CI-published-bottle-commits

#156067 lima: fix `limactl --version` for HEAD
  Formula/l/lima.rb
Labels: go, CI-no-bottles

#156069 php@8.0: remove livecheck
  Formula/p/php@8.0.rb
Labels: legacy, livecheck, formula disabled, CI-syntax-only, icu4c

#155760 solo2-cli 0.2.2 (new formula)
  Formula/s/solo2-cli.rb
Labels: new formula, rust, CI-published-bottle-commits

#156030 triage(CI-linux-self-hosted): add `texlive`
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#156079 phpunit 10.5.0
  Formula/p/phpunit.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#156103 xbyak 7.00
  Formula/x/xbyak.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156100 tippecanoe 2.37.1
  Formula/t/tippecanoe.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156099 sqlmap 1.7.12
  Formula/s/sqlmap.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156096 python-termcolor 2.4.0
  Formula/p/python-termcolor.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156097 simdjson 3.6.1
  Formula/s/simdjson.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156094 node-build 4.9.132
  Formula/n/node-build.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156098 roadrunner 2023.3.7
  Formula/r/roadrunner.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156090 mailpit 1.10.2
  Formula/m/mailpit.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#156093 nickle 2.94
  Formula/n/nickle.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156088 gojq 0.12.14
  Formula/g/gojq.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156086 epinio 1.11.0
  Formula/e/epinio.rb
Labels: go, CI-published-bottle-commits

#156087 fastmod 0.4.4
  Formula/f/fastmod.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156085 cidr 1.1.0
  Formula/c/cidr.rb
Labels: go, CI-published-bottle-commits

#156109 rtx 2023.12.0
  Formula/r/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156111 neovim-qt: migrate to Qt6
  Formula/n/neovim-qt.rb
Labels: CI-published-bottle-commits

#155500 snakeviz: test with cProfile output
  Formula/s/snakeviz.rb
Labels: python, CI-no-bottles

#156124 virtualenv 20.25.0
  Formula/v/virtualenv.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156127 phpunit 10.5.1
  Formula/p/phpunit.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#154910 slither-analyzer: use aiohttp 3.9
  Formula/s/slither-analyzer.rb
  pypi_formula_mappings.json
Labels: python, ready to merge, CI-published-bottle-commits

#155472 poppler-qt5 poppler 23.11.0
  Formula/g/gdal.rb
  Formula/p/pdftoipe.rb
  Formula/p/poppler-qt5.rb
  Formula/p/poppler.rb
Labels: ready to merge, CI-no-fail-fast, long build, CI-published-bottle-commits

#156126 poco 1.12.5p1
  Formula/p/poco.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156133 runme 2.0.4
  Formula/r/runme.rb
Labels: go, CI-published-bottle-commits

#156136 rtx 2023.12.1
  Formula/r/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156077 yazi: fix HEAD build
  Formula/y/yazi.rb
Labels: rust, audit failure, ready to merge, CI-syntax-only

#156148 triage(CI-linux-self-hosted): add `deno`
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#156157 flyctl 0.1.131
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156167 fnt 1.5
  Formula/f/fnt.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156159 node-sass: remove `node@20` ref
  Formula/n/node-sass.rb
Labels: nodejs, CI-no-bottles

#156160 quicktype: remove `node@20` ref
  Formula/q/quicktype.rb
Labels: nodejs, CI-no-bottles

#156153 pyenv-virtualenv: Drops caveats per policy
  Formula/p/pyenv-virtualenv.rb
Labels: CI-syntax-only

#156171 httm 0.32.0
  Formula/h/httm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156174 mdless 2.1.8
  Formula/m/mdless.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits

#156176 ouch 0.5.0
  Formula/o/ouch.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156180 ruby-install 0.9.3
  Formula/r/ruby-install.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156178 pkcs11-helper 1.30.0
  Formula/p/pkcs11-helper.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156181 simdjson 3.6.2
  Formula/s/simdjson.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156188 libdiscid: remove mirror, update livecheck
  Formula/lib/libdiscid.rb
Labels: livecheck, CI-skip-recursive-dependents, CI-skip-dependents, CI-no-bottles

#156179 proj 9.3.1
  Formula/p/proj.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#156065 qt: patch in support for `libxml2` 2.12 and `icu4c` 74
  Formula/q/qt.rb
Labels: nodejs, CI-linux-self-hosted, CI-no-fail-fast, CI-no-bottles, long build, icu4c, ffmpeg

#156191 rtx 2023.12.2
  Formula/r/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156149 podsync: switch to yt-dlp
  Formula/p/podsync.rb
Labels: go, ffmpeg, CI-published-bottle-commits

#156187 root 6.30.02
  Formula/r/root.rb
Labels: python, bump-formula-pr, CI-no-fail-fast, no Linux bottle, long build, CI-published-bottle-commits

#156194 moar 1.18.5
  Formula/m/moar.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156195 faircamp 0.11.0
  Formula/f/faircamp.rb
Labels: rust, macos-only, ffmpeg, CI-published-bottle-commits

#156196 mkvtoolnix 81.0
  Formula/m/mkvtoolnix.rb
Labels: ruby, bump-formula-pr, boost, CI-published-bottle-commits

#156199 fastgron 0.6.5
  Formula/f/fastgron.rb
Labels: CI-published-bottle-commits

#156192 oh-my-posh 19.1.0
  Formula/o/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156200 ttyrec: add implicit declaration flag
  Formula/t/ttyrec.rb
Labels: CI-no-bottles

#156202 geoip2fast 1.2.1
  Formula/g/geoip2fast.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156024 node 21.3.0
  Formula/n/node.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, icu4c, CI-published-bottle-commits

#156206 rtx 2023.12.3
  Formula/r/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156208 pipx 1.3.1
  Formula/p/pipx.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156205 ssldump: add implicit declaration flag
  Formula/s/ssldump.rb
Labels: missing license, CI-published-bottle-commits

#156177 postgrest 12.0.0
  Formula/p/postgrest.rb
Labels: haskell, bump-formula-pr, long build, CI-published-bottle-commits

#156209 hyfetch: remove screenresolution dependency
  Formula/h/hyfetch.rb
Labels: python, CI-no-bottles

#156210 tbb: enabled hwloc for macos
  Formula/t/tbb.rb
Labels: CI-published-bottle-commits

#156211 cidr 1.2.0
  Formula/c/cidr.rb
Labels: go, CI-published-bottle-commits

#156218 coin3d 4.0.1
  Formula/c/coin3d.rb
Labels: python, no Linux bottle, boost, CI-published-bottle-commits

#156219 maturin 1.4.0
  Formula/m/maturin.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156220 rtx 2023.12.5
  Formula/r/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156222 pipx: Update homepage
  Formula/p/pipx.rb
Labels: python, CI-syntax-only

#155315 youtube-dl: deprecate
  Formula/y/youtube-dl.rb
Labels: python, formula deprecated, CI-syntax-only

#156223 minidlna 1.3.3
  Formula/m/minidlna.rb
Labels: bump-formula-pr, ffmpeg, CI-published-bottle-commits

#156239 linux-headers@5.15 5.15.141
  Formula/l/linux-headers@5.15.rb
Labels: legacy, linux-only, bump-formula-pr, CI-published-bottle-commits

#156186 jackett 0.21.1289
  Formula/j/jackett.rb
Labels: ready to merge, bump-formula-pr, workflows, dotnet, CI-published-bottle-commits

#156236 borgbackup 1.2.7
  Formula/b/borgbackup.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156240 mdless 2.1.10
  Formula/m/mdless.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits

#156243 nickle 2.96
  Formula/n/nickle.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156244 rp 2.1.3
  Formula/r/rp.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156224 libmarpa 11.0.13
  Formula/lib/libmarpa.rb
Labels: CI-published-bottle-commits

#156246 sing-box 1.7.1
  Formula/s/sing-box.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156253 dsda-doom 0.27.5
  Formula/d/dsda-doom.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156233 enchant 2.6.3
  Formula/e/enchant.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156237 httm 0.32.1
  Formula/h/httm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156254 texlab 5.12.0
  Formula/t/texlab.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156260 weechat 4.1.2
  Formula/w/weechat.rb
Labels: lua, python, ruby, perl, bump-formula-pr, CI-published-bottle-commits

#156263 gickup 0.10.23
  Formula/g/gickup.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156266 mcfly 0.8.2
  Formula/m/mcfly.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#150669 ppsspp 1.16.6
  Formula/p/ppsspp.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#156255 freebayes 1.3.7
  Formula/f/freebayes.rb
Labels: upstream issue, CI-published-bottle-commits

#156234 file-roller 43.1
  Formula/f/file-roller.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156276 rtx 2023.12.7
  Formula/r/rtx.rb
Labels: rust, CI-published-bottle-commits

#156269 mdless 2.1.11
  Formula/m/mdless.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits

#156235 garble 0.11.0
  Formula/g/garble.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156262 nikto 2.5.0
  Formula/n/nikto.rb
Labels: license, bump-formula-pr, CI-published-bottle-commits

#156242 nexttrace 1.2.7
  Formula/n/nexttrace.rb
Labels: go, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#156283 freetds 1.4.9
  Formula/f/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156289 johnnydep 1.20.4
  Formula/j/johnnydep.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156314 yorkie 0.4.10
  Formula/y/yorkie.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156315 minio-mc 20231202020328
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156277 center-im 5.0.1
  Formula/c/center-im.rb
Labels: ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#156299 vite 5.0.5
  Formula/v/vite.rb
Labels: nodejs, ready to merge, bump-formula-pr, CI-published-bottle-commits

#156313 web-ext 7.9.0
  Formula/w/web-ext.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#156333 opentofu 1.6.0-beta2
  Formula/o/opentofu.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156185 syslog-ng 4.5.0
  Formula/s/syslog-ng.rb
Labels: python, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#156250 criterion 2.4.2, nanopb: rename from `nanopb-generator`
  Formula/c/criterion.rb
  Formula/n/nanopb-generator.rb
  Formula/n/nanopb.rb
  formula_renames.json
Labels: ready to merge, CI-published-bottle-commits

#156345 pipx 1.3.3
  Formula/p/pipx.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156344 fish 3.6.3
  Formula/f/fish.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156346 python-platformdirs 4.1.0
  Formula/p/python-platformdirs.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156230 direnv: add missing bash dependency
  Formula/d/direnv.rb
Labels: go, CI-published-bottle-commits

#156352 squid 6.5
  Formula/s/squid.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156360 cern-ndiff 5.09.01
  Formula/c/cern-ndiff.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156363 intercept 1.5.9
  Formula/i/intercept.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156354 pcb2gcode: update dependencies
  Formula/p/pcb2gcode.rb
Labels: boost, CI-published-bottle-commits

#156365 legitify 1.0.5
  Formula/l/legitify.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#155266 z3: a better explainer to the fail_with block
  Formula/z/z3.rb
Labels: CI-syntax-only

#156367 mdless 2.1.23
  Formula/m/mdless.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits

#156366 liblouis 3.28.0
  Formula/lib/liblouis.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156370 typst 0.10.0
  Formula/t/typst.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156321 gdal: migrate to python@3.12
  Formula/g/gdal.rb
Labels: python, boost, CI-published-bottle-commits

#156390 squid: update livecheck
  Formula/s/squid.rb
Labels: livecheck, CI-syntax-only

#156388 tailwindcss 3.3.6
  Formula/t/tailwindcss.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#156391 ruff 0.1.7
  Formula/r/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#156387 clojure 1.11.1.1429
  Formula/c/clojure.rb
Labels: java, ruby, CI-published-bottle-commits

#156395 cfripper 1.15.2
  Formula/c/cfripper.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156389 melange 0.5.4
  Formula/m/melange.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156396 memray 1.11.0
  Formula/m/memray.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156384 freetds 1.4.10
  Formula/f/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156400 tailscale 1.54.1
  Formula/t/tailscale.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156406 autocorrect 2.9.0
  Formula/a/autocorrect.rb
Labels: rust, CI-published-bottle-commits

#156369 snapcraft 8.0.0
  Formula/s/snapcraft.rb
  pypi_formula_mappings.json
Labels: python, bump-formula-pr, CI-published-bottle-commits

#156407 rtx 2023.12.8
  Formula/r/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#145467 temporal_tables 1.2.2
  Formula/t/temporal_tables.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#156175 minuit2 6.30.02
  Formula/m/minuit2.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#156401 sstp-client 1.0.19
  Formula/s/sstp-client.rb
Labels: ready to merge, livecheck, bump-formula-pr, CI-published-bottle-commits

#156307 utf8cpp 4.0.3
  Formula/u/utf8cpp.rb
Labels: ready to merge, bump-formula-pr, CI-linux-self-hosted, CI-published-bottle-commits

#156293 languagetool 6.3
  Formula/l/languagetool.rb
Labels: java, ready to merge, CI-published-bottle-commits

#156408 yubico-piv-tool 2.4.0
  Formula/y/yubico-piv-tool.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156409 zeek 6.0.2
  Formula/z/zeek.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#154089 openblas 0.3.25
  Formula/o/openblas.rb
Labels: in progress, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#156274 gdb & *-gdb 14.1
  Formula/a/aarch64-elf-gdb.rb
  Formula/a/arm-none-eabi-gdb.rb
  Formula/g/gdb.rb
  Formula/i/i386-elf-gdb.rb
  Formula/r/riscv64-elf-gdb.rb
  Formula/x/x86_64-elf-gdb.rb
Labels: python, long build, CI-published-bottle-commits

#156428 nvm 0.39.6
  Formula/n/nvm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156427 mdless 2.1.24
  Formula/m/mdless.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits

#156426 libextractor 1.13
  Formula/lib/libextractor.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156429 openfga 1.3.8
  Formula/o/openfga.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156431 skeema 1.11.1
  Formula/s/skeema.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156434 thriftgo 0.3.4
  Formula/t/thriftgo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#156435 poco 1.12.5p2
  Formula/p/poco.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#156437 podman 4.8.1
  Formula/p/podman.rb
Labels: go, rust, bump-formula-pr, CI-published-bottle-commits

#156436 direnv: use `opt_bin` in `BASH_PATH` instead
  Formula/d/direnv.rb
Labels: go, CI-no-bottles

#156184 gnu-tar: prevent opportunistic gettext linkage
  Formula/g/gnu-tar.rb
Labels: CI-syntax-only, CI-no-fail-fast, CI-no-bottles

#156443 dub: update livecheck
  Formula/d/dub.rb
Labels: livecheck, CI-syntax-only

#156441 micromamba 1.5.4
  Formula/m/micromamba.rb
Labels: bump-formula-pr, CI-published-bottle-commits
