Repository Homebrew/homebrew-core, pull requests merged in 2023-03, with the labels that each got.

#124390 ponyc: fix test
  Formula/ponyc.rb
Labels: ready to merge, CI-skip-dependents, CI-no-bottles

#124626 workflows: use container for uploads
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip

#124627 workflows: install unzip via apt
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#124659 sapling: prevent interference with Homebrew shims
  Formula/sapling.rb
Labels: nodejs, python, rust

#124712 workflows: run more jobs in container
  .github/workflows/autopublish.yml
  .github/workflows/remove-disabled-formulae.yml
  .github/workflows/scheduled.yml
Labels: CI-syntax-only, automerge-skip, workflows

#124769 pcre++: remove livecheck
  Formula/pcre++.rb
Labels: livecheck, formula deprecated, CI-syntax-only

#124665 archivemount: add license
  Formula/archivemount.rb
Labels: ready to merge, CI-syntax-only, license, linux-only

#124803 pinocchio: add livecheck
  Formula/pinocchio.rb
Labels: python, livecheck, CI-syntax-only, boost

#124799 rake-completion: deprecate
  Formula/rake-completion.rb
Labels: formula deprecated

#124808 stackql: add livecheck
  Formula/stackql.rb
Labels: go, livecheck, CI-syntax-only

#124809 systemc: add livecheck
  Formula/systemc.rb
Labels: livecheck, CI-syntax-only

#124817 artillery: add livecheck
  Formula/artillery.rb
Labels: nodejs, livecheck, CI-syntax-only

#124872 linux-headers@5.15: add livecheck
  Formula/linux-headers@5.15.rb
Labels: legacy, livecheck, CI-syntax-only, linux-only

#124968 stone-soup: remove livecheck
  Formula/stone-soup.rb
Labels: lua, livecheck, formula deprecated, CI-syntax-only

#124928 workflows: allow rerunning CI in debug mode
  .github/workflows/tests.yml
Labels: automerge-skip, workflows

#125020 workflows/publish: run container with host network
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, workflows

#125036 Revert "workflows/publish: run container with host network (#125020)"
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#125094 workflows/publish: set concurrency
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#125096 openexr: update resource url
  Formula/openexr.rb
Labels: CI-skip-dependents, CI-no-bottles

#119810 spades: update stable, add head
  Formula/spades.rb
Labels: python, livecheck, CI-syntax-only, no ARM bottle

#125048 mermaid-cli: disable
  Formula/mermaid-cli.rb
Labels: nodejs, formula disabled, no Linux bottle

#125115 odo-dev: add livecheck
  Formula/odo-dev.rb
Labels: go, livecheck, CI-syntax-only

#125127 zbctl: add livecheck
  Formula/zbctl.rb
Labels: go, livecheck, CI-syntax-only

#125189 workflows/tests: use large Linux runner
  .github/workflows/tests.yml
Labels: ready to merge, CI-syntax-only, automerge-skip, workflows, CI-linux-large-runner

#125047 compface: disable
  Formula/compface.rb
Labels: formula disabled, missing license, CI-syntax-only

#125213 joern: add livecheck
  Formula/joern.rb
Labels: php, java, livecheck, CI-syntax-only

#125210 Revert "workflows/recreate: bump `setup-gcloud` (#120777)"
  .github/workflows/recreate-linux-runners.yml
Labels: CI-syntax-only, automerge-skip, workflows

#125214 geographiclib: add livecheck
  Formula/geographiclib.rb
Labels: livecheck, CI-syntax-only

#125245 scm-manager: add livecheck
  Formula/scm-manager.rb
Labels: java, livecheck, CI-syntax-only

#125300 html2text: New homepage
  Formula/html2text.rb
Labels: CI-syntax-only

#125294 dooit: remove `poetry` dependency
  Formula/dooit.rb
Labels: python, CI-no-bottles

#125391 bvm: deprecate
  Formula/bvm.rb
Labels: rust, formula deprecated, CI-syntax-only

#125401 dagger: add livecheck
  Formula/dagger.rb
Labels: go, livecheck, CI-syntax-only

#125415 liblerc: add livecheck
  Formula/liblerc.rb
Labels: livecheck, CI-syntax-only

#125424 fakeroot: add livecheck
  Formula/fakeroot.rb
Labels: livecheck, CI-syntax-only

#125406 CONTRIBUTING: add environment var to ensure local formula is used
  CONTRIBUTING.md
Labels: automerge-skip

#125477 bingrep: improve test
  Formula/bingrep.rb
Labels: rust, ready to merge, CI-no-bottles

#125502 crystal: use pcre2 and llvm for HEAD
  Formula/crystal.rb
Labels: CI-syntax-only

#125514 exa: test git integration
  Formula/exa.rb
Labels: rust, CI-no-bottles

#125534 texapp: deprecate
  Formula/texapp.rb
Labels: formula deprecated, missing license, CI-syntax-only, automerge-skip

#125437 msc-generator: add livecheck
  Formula/msc-generator.rb
Labels: livecheck, CI-syntax-only

#125684 questdb: add livecheck
  Formula/questdb.rb
Labels: java, livecheck, CI-syntax-only

#125670 lcm: add livecheck
  Formula/lcm.rb
Labels: lua, python, java, livecheck, CI-syntax-only

#125708 binkd: deprecate
  Formula/binkd.rb
Labels: formula deprecated, CI-syntax-only

#125707 bar: deprecate
  Formula/bar.rb
Labels: formula deprecated, CI-syntax-only

#125795 gmssl: add livecheck
  Formula/gmssl.rb
Labels: livecheck, CI-syntax-only, CI-no-bottles

#125703 workflows/tests: readd self-hosted Linux
  .github/workflows/tests.yml
Labels: CI-syntax-only, automerge-skip, workflows

#125908 libbdplus: prefer CDN url
  Formula/libbdplus.rb
Labels: CI-no-bottles

#125422 freetype: patch to fix build with older Clang
  Formula/freetype.rb
Labels: CI-skip-recursive-dependents, CI-no-fail-fast, CI-no-bottles, long build

#125978 zpaq: use HTTPS URLs; fix test file checksum
  Formula/zpaq.rb
Labels: checksum mismatch, CI-no-bottles

#125987 nagios: remove caveats
  Formula/nagios.rb
Labels: CI-skip-dependents, CI-no-bottles

#125988 libgit2@1.5: add head spec
  Formula/libgit2@1.5.rb
  audit_exceptions/versioned_head_spec_allowlist.json
Labels: CI-syntax-only, automerge-skip

#125556 publish-commit-bottles: optionally push to pull request branch.
  .github/workflows/dispatch-build-bottle.yml
  .github/workflows/publish-commit-bottles.yml
  .github/workflows/remove-disabled-formulae.yml
  .github/workflows/tests.yml
Labels: automerge-skip, workflows, CI-published-bottle-commits

#126011 Revert "publish-commit-bottles: optionally push to pull request branc…
  .github/workflows/dispatch-build-bottle.yml
  .github/workflows/publish-commit-bottles.yml
  .github/workflows/remove-disabled-formulae.yml
  .github/workflows/tests.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126034 notmuch: cleanup
  Formula/notmuch.rb
Labels: python, CI-skip-dependents, CI-no-bottles

#126031 Revert "Revert "publish-commit-bottles: optionally push to pull request branc… (#126011)"
  .github/workflows/dispatch-build-bottle.yml
  .github/workflows/publish-commit-bottles.yml
  .github/workflows/remove-disabled-formulae.yml
  .github/workflows/tests.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126058 publish-commit-bottles: set `working-directory` for `gh`
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126093 publish-commit-bottles: fix invalid workflow syntax
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126114 publish-commit-bottles: use `--no-cherry-pick` when needed
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#125637 postgresql-upgrade-database: migrate to Homebrew/brew.
  cmd/postgresql-upgrade-database.rb
Labels: CI-syntax-only, automerge-skip

#126173 soci: add ventura bottle back
  Formula/soci.rb
Labels: CI-syntax-only

#126125 publish-commit-bottles: specify branch and remote in `git-try-push`
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126214 publish-commit-bottles: fix bashism
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126233 publish-commit-bottles: fix missing `then`
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126206 cargo-release 0.24.7
  Formula/cargo-release.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126257 gh: update 2.25.1 bottle.
  Formula/gh.rb
Labels: go, CI-syntax-only

#126259 publish-commit-bottles: sleep before auto-merge
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126260 publish-commit-bottles: implement review feedback
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126250 keploy 0.8.2
  Formula/keploy.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#126263 publish-commit-bottles: set `working-directory` for `git`
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126261 dolt 0.75.5
  Formula/dolt.rb
Labels: go, CI-published-bottle-commits

#126267 CODEOWNERS: various updates.
  CODEOWNERS
Labels: CI-syntax-only, automerge-skip

#126269 jenkins 2.396
  Formula/jenkins.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#126272 newrelic-cli 0.65.1
  Formula/newrelic-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126266 cassandra 4.1.1
  Formula/cassandra.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#126265 crun 1.8.2
  Formula/crun.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#126264 aws-sam-cli 1.77.0
  Formula/aws-sam-cli.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#125481 pgvector 0.4.1 (new formula)
  Formula/pgvector.rb
Labels: new formula, CI-published-bottle-commits

#126281 totp-cli 1.2.7
  Formula/totp-cli.rb
Labels: go, bump-formula-pr, shell-completion, CI-published-bottle-commits

#126279 rure 1.7.2
  Formula/rure.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126283 scalingo 1.28.2
  Formula/scalingo.rb
Labels: go, bump-formula-pr, shell-completion, CI-published-bottle-commits

#126285 testkube 1.10.10
  Formula/testkube.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126287 firebase-cli 11.25.1
  Formula/firebase-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#126290 cargo-release 0.24.8
  Formula/cargo-release.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126286 oh-my-posh 14.15.0
  Formula/oh-my-posh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126282 prometheus 2.43.0
  Formula/prometheus.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#126291 esphome 2023.3.1
  Formula/esphome.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#126293 pomsky 0.10
  Formula/pomsky.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126294 sqlx-cli 0.6.3
  Formula/sqlx-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126296 golangci-lint 1.52.1
  Formula/golangci-lint.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126300 saml2aws 2.36.5
  Formula/saml2aws.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126298 hapi-fhir-cli 6.4.4
  Formula/hapi-fhir-cli.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#126174 solana: update livecheck to exclude a testnet release that mentioned mainnet in title
  Formula/solana.rb
Labels: rust, livecheck, CI-syntax-only

#126299 evince 44.1
  Formula/evince.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126301 brev 0.6.213
  Formula/brev.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126309 astro 1.12.0
  Formula/astro.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126308 artillery 2.0.0-31
  Formula/artillery.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#126312 castxml 0.6.0
  Formula/castxml.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126302 contentful-cli 2.2.10
  Formula/contentful-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#126292 oci-cli 3.24.0
  Formula/oci-cli.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#126284 sqlcmd 0.15.4
  Formula/sqlcmd.rb
Labels: go, bump-formula-pr, shell-completion, CI-published-bottle-commits

#126311 baobab 44.0
  Formula/baobab.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126314 kyverno 1.9.2
  Formula/kyverno.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126307 adwaita-icon-theme 44.0
  Formula/adwaita-icon-theme.rb
Labels: CI-requeued, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#126316 czg 1.6.1
  Formula/czg.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#126321 mtools 4.0.43
  Formula/mtools.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126325 proteinortho 6.2.1
  Formula/proteinortho.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126328 socket_vmnet 1.1.2
  Formula/socket_vmnet.rb
Labels: bump-formula-pr, macos-only, CI-published-bottle-commits

#126329 tarantool 2.10.6
  Formula/tarantool.rb
Labels: bump-formula-pr, icu4c, CI-published-bottle-commits

#126330 verapdf 1.23.150
  Formula/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#126331 yamllint 1.30.0
  Formula/yamllint.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#126326 psysh 0.11.13
  Formula/psysh.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#126332 yara 4.3.0
  Formula/yara.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126320 joern 1.1.1537
  Formula/joern.rb
Labels: php, java, bump-formula-pr, CI-published-bottle-commits

#126345 helmify 0.3.32
  Formula/helmify.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126356 publish-commit-bottles: skip automerge for now.
  .github/workflows/publish-commit-bottles.yml
Labels: automerge-skip, workflows

#126352 schemathesis 3.19.0
  Formula/schemathesis.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#126341 abcl: update checksum
  Formula/abcl.rb
Labels: checksum mismatch, java, ready to merge, CI-no-fail-fast, CI-skip-dependents, CI-published-bottle-commits

#126369 linux-headers@5.15 5.15.104
  Formula/linux-headers@5.15.rb
Labels: legacy, linux-only, CI-published-bottle-commits

#126364 ipfs 0.19.0
  Formula/ipfs.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126384 tailscale 1.38.2
  Formula/tailscale.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126397 abcl: update livecheck
  Formula/abcl.rb
Labels: java, livecheck, CI-syntax-only

#126388 unison 2.53.2
  Formula/unison.rb
Labels: ocaml, bump-formula-pr, CI-published-bottle-commits

#126398 vips 8.14.2
  Formula/vips.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126399 vte3 0.72.0
  Formula/vte3.rb
Labels: bump-formula-pr, icu4c, CI-published-bottle-commits

#126400 vulkan-loader 1.3.244
  Formula/vulkan-loader.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126404 astro 1.12.1
  Formula/astro.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126403 railway 3.0.16
  Formula/railway.rb
Labels: upstream issue, rust, bump-formula-pr, CI-published-bottle-commits

#126417 aws-cdk 2.70.0
  Formula/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#126419 parallel 20230322
  Formula/parallel.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126407 minio 20230322063624
  Formula/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126386 typos-cli 1.14.2
  Formula/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126420 sql-language-server 1.3.3
  Formula/sql-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#126405 edencommon fb303 fbthrift fizz folly wangle watchman 2023.03.20.00
  Formula/edencommon.rb
  Formula/fb303.rb
  Formula/fbthrift.rb
  Formula/fizz.rb
  Formula/folly.rb
  Formula/wangle.rb
  Formula/watchman.rb
Labels: CI-no-fail-fast, CI-published-bottle-commits

#126427 lua-language-server 3.6.18
  Formula/lua-language-server.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#126371 micromamba 1.4.0
  Formula/micromamba.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#126191 libtensorflow 2.11.1
  Formula/libtensorflow.rb
Labels: CI-requeued, ready to merge, bump-formula-pr, CI-published-bottle-commits

#126457 bitrise 2.2.5
  Formula/bitrise.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126459 helmify 0.3.33
  Formula/helmify.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126460 kn 1.9.2
  Formula/kn.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126462 werf 1.2.217
  Formula/werf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126463 publish-commit-bottles: autosquash PR branches
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126470 publish-commit-bottles: do not autosquash
  .github/workflows/publish-commit-bottles.yml
Labels: CI-syntax-only, automerge-skip, workflows

#126469 rtx 1.27.0
  Formula/rtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126454 cmake cmake-docs 3.26.1
  Formula/cmake-docs.rb
  Formula/cmake.rb
Labels: CI-skip-recursive-dependents, CI-no-fail-fast, CI-published-bottle-commits

#126475 sqlfluff 2.0.2
  Formula/sqlfluff.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#126489 clarinet 1.5.4
  Formula/clarinet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#126498 device-mapper 2.03.20
  Formula/device-mapper.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#126499 ioctl 1.10.0
  Formula/ioctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#126507 s2n 1.3.41
  Formula/s2n.rb
Labels: bump-formula-pr, CI-published-bottle-commits
