Repository Homebrew/homebrew-core, pull requests merged in 2024-04, with the labels that each got.

#167625 renovate: add livecheck throttle
  Formula/r/renovate.rb
  audit_exceptions/throttled_formulae.json
Labels: livecheck, CI-syntax-only, automerge-skip

#167654 texi2mdoc: add livecheck
  Formula/t/texi2mdoc.rb
Labels: livecheck, CI-syntax-only

#167646 gpgme: replace `libassuan` cellar paths
  Formula/g/gpgme.rb
Labels: CI-published-bottle-commits

#167653 parallel 20240322
  .github/autobump.txt
  Formula/p/parallel.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167648 coreutils: change `--with-gmp` to `--with-libgmp`
  Formula/c/coreutils.rb
Labels: CI-no-bottles

#167659 tup 0.8
  .github/autobump.txt
  Formula/t/tup.rb
Labels: ready to merge, linux-only, bump-formula-pr, CI-published-bottle-commits, autobump

#167652 libical 3.0.18
  .github/autobump.txt
  Formula/lib/libical.rb
Labels: ready to merge, bump-formula-pr, icu4c, CI-published-bottle-commits, autobump

#167641 mailhog: just use vendor directory during install
  Formula/m/mailhog.rb
Labels: go, formula deprecated, CI-no-bottles

#167657 radare2 5.9.0
  .github/autobump.txt
  Formula/r/radare2.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167658 re2 20240401
  Formula/r/re2.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#167656 podsync 2.7.0
  .github/autobump.txt
  Formula/p/podsync.rb
Labels: go, ready to merge, bump-formula-pr, ffmpeg, CI-published-bottle-commits, autobump

#167655 pgrouting 3.6.2
  .github/autobump.txt
  Formula/p/pgrouting.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167651 cdk 5.0-20240331
  .github/autobump.txt
  Formula/c/cdk.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167645 sift: remove stage_deps usage
  Formula/s/sift.rb
Labels: go, formula deprecated, CI-no-bottles

#167667 gdm gx-go dockward: replace `go_resource` and `stage_deps` DSL
  Formula/d/dockward.rb
  Formula/g/gdm.rb
  Formula/g/gx-go.rb
Labels: go, formula disabled, CI-syntax-only

#167630 scm-manager 3.0.4
  .github/autobump.txt
  Formula/s/scm-manager.rb
Labels: java, ready to merge, CI-published-bottle-commits, autobump

#167661 pdnsd: deprecate
  Formula/p/pdnsd.rb
Labels: maintainer feedback, formula deprecated, CI-syntax-only, automerge-skip

#167676 python@3.12: further tweak EXTERNALLY-MANAGED guidance
  Formula/p/python@3.12.rb
Labels: CI-syntax-only, CI-linux-self-hosted, CI-skip-dependents, CI-no-bottles

#167685 cariddi 1.3.3
  .github/autobump.txt
  Formula/c/cariddi.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167686 c-blosc2 2.14.0
  .github/autobump.txt
  Formula/c/c-blosc2.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167687 tailspin 3.0.1
  .github/autobump.txt
  Formula/t/tailspin.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167690 freetds 1.4.12
  Formula/f/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#167689 leaf-proxy 0.10.10
  .github/autobump.txt
  Formula/l/leaf-proxy.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#167692 ibazel 0.25.1
  .github/autobump.txt
  Formula/i/ibazel.rb
Labels: CI-published-bottle-commits, autobump

#162703 dotnet 8.0.3
  Formula/d/dotnet.rb
Labels: ready to merge, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, icu4c, CI-published-bottle-commits

#166359 coq 8.19.1
  .github/autobump.txt
  Formula/c/coq.rb
  Formula/m/math-comp.rb
Labels: ready to merge, CI-published-bottle-commits, autobump

#167660 udptunnel: update homepage
  Formula/u/udptunnel.rb
Labels: ready to merge, CI-no-bottles, homepage

#167666 libarchive: patch to make tar error reporting more robust
  Formula/lib/libarchive.rb
Labels: CI-skip-recursive-dependents, CI-linux-self-hosted, CI-published-bottle-commits

#167688 poppler-qt5 poppler 24.04.0
  Formula/g/gdal.rb
  Formula/p/pdftoipe.rb
  Formula/p/poppler-qt5.rb
  Formula/p/poppler.rb
Labels: CI-published-bottle-commits

#167705 vfox 0.3.0 (new formula)
  .github/autobump.txt
  Formula/v/vfox.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits, autobump

#167704 gitu 0.12.0 (new formula)
  .github/autobump.txt
  Formula/g/gitu.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits, autobump

#167697 wxmaxima 24.02.2
  .github/autobump.txt
  Formula/w/wxmaxima.rb
Labels: CI-published-bottle-commits, autobump

#164665 sbcl 2.4.3
  Formula/a/acl2.rb
  Formula/m/maxima.rb
  Formula/s/sbcl.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#167719 libscfg 0.1.1 (new formula)
  .github/autobump.txt
  Formula/lib/libscfg.rb
Labels: new formula, CI-published-bottle-commits, autobump

#167717 gitea: use var/gitea as work path
  Formula/g/gitea.rb
Labels: go, nodejs, CI-no-bottles

#167718 mantra 2.0 (new formula)
  .github/autobump.txt
  Formula/m/mantra.rb
Labels: go, new formula, CI-published-bottle-commits, autobump

#167720 policy_sentry 0.12.10 (new formula)
  .github/autobump.txt
  Formula/p/policy_sentry.rb
  pypi_formula_mappings.json
Labels: new formula, CI-published-bottle-commits, autobump

#167703 jtbl 1.6.0 (new formula)
  .github/autobump.txt
  Formula/j/jtbl.rb
Labels: python, new formula, CI-published-bottle-commits, autobump

#167735 dmd dtools 2.108.0
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#167738 telnet telnetd 302
  Formula/t/telnet.rb
  Formula/t/telnetd.rb
Labels: macos-only, CI-published-bottle-commits

#167741 mise 2024.4.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#167743 monero 0.18.3.3
  Formula/m/monero.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits

#167742 taskd: update livecheck
  Formula/t/taskd.rb
Labels: livecheck, CI-syntax-only

#167736 pan 0.157
  .github/autobump.txt
  Formula/p/pan.rb
Labels: homepage, CI-published-bottle-commits, autobump

#167754 flyctl 0.2.26
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167695 edencommon fb303 fbthrift fizz folly mvfst proxygen wangle watchman 2024.04.01.00
  Formula/e/edencommon.rb
  Formula/f/fb303.rb
  Formula/f/fbthrift.rb
  Formula/f/fizz.rb
  Formula/f/folly.rb
  Formula/m/mvfst.rb
  Formula/p/proxygen.rb
  Formula/w/wangle.rb
  Formula/w/watchman.rb
Labels: CI-no-fail-fast, long build, CI-published-bottle-commits

#167755 lefthook 1.6.8
  Formula/l/lefthook.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167721 ode: revert from cmake to autotools, disable demos
  Formula/d/dartsim.rb
  Formula/o/ode.rb
  Formula/o/ompl.rb
Labels: ready to merge, CI-published-bottle-commits

#167744 sui 1.22.0
  Formula/s/sui.rb
Labels: rust, CI-linux-self-hosted, long build, CI-published-bottle-commits

#167764 azion 1.17.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167777 libbpf 1.4.0
  .github/autobump.txt
  Formula/lib/libbpf.rb
Labels: ready to merge, linux-only, bump-formula-pr, CI-published-bottle-commits, autobump

#167778 mesheryctl 0.7.41
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#167691 gobject-introspection 1.80.1
  .github/autobump.txt
  Formula/g/gobject-introspection.rb
Labels: python, bump-formula-pr, CI-linux-self-hosted, CI-published-bottle-commits, autobump

#167779 magic-wormhole 0.14.0
  .github/autobump.txt
  Formula/m/magic-wormhole.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#167775 or-tools: fix test on Linux
  Formula/o/or-tools.rb
Labels: CI-no-bottles, no Linux bottle

#161274 *binutils 2.42
  Formula/a/aarch64-elf-binutils.rb
  Formula/a/arm-linux-gnueabihf-binutils.rb
  Formula/a/arm-none-eabi-binutils.rb
  Formula/b/binutils.rb
  Formula/i/i686-elf-binutils.rb
  Formula/r/riscv64-elf-binutils.rb
  Formula/x/x86_64-elf-binutils.rb
  Formula/x/x86_64-linux-gnu-binutils.rb
Labels: CI-linux-self-hosted, CI-no-fail-fast, CI-published-bottle-commits

#167801 tzdiff 1.2.1
  .github/autobump.txt
  Formula/t/tzdiff.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167788 mongo-c-driver 1.26.2
  Formula/m/mongo-c-driver.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#167803 xwin 0.5.1
  .github/autobump.txt
  Formula/x/xwin.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#167796 python@3.11 3.11.9
  Formula/p/python-gdbm@3.11.rb
  Formula/p/python-tk@3.11.rb
  Formula/p/python@3.11.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits

#167804 infracost 0.10.35
  Formula/i/infracost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167812 nut 2.8.2
  .github/autobump.txt
  Formula/n/nut.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167813 ocm 0.1.73
  .github/autobump.txt
  Formula/o/ocm.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#167808 keyring 25.1.0
  .github/autobump.txt
  Formula/k/keyring.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#167815 ydiff 1.3
  .github/autobump.txt
  Formula/y/ydiff.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#167811 mtoc 1010.6
  .github/autobump.txt
  Formula/m/mtoc.rb
Labels: bump-formula-pr, macos-only, CI-published-bottle-commits, autobump

#167802 u-boot-tools 2024.04
  .github/autobump.txt
  Formula/u/u-boot-tools.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167810 msgpack 6.0.1
  Formula/m/msgpack.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#167799 rpcgen 79
  .github/autobump.txt
  Formula/r/rpcgen.rb
Labels: ready to merge, bump-formula-pr, macos-only, CI-published-bottle-commits, autobump

#167807 davix 0.8.6
  Formula/d/davix.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#167805 awslogs 0.15.0
  .github/autobump.txt
  Formula/a/awslogs.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#167828 logtalk 3.77.0
  Formula/l/logtalk.rb
Labels: superseded, automerge-skip, no push access

#167809 msgpack-cxx 6.1.1
  .github/autobump.txt
  Formula/m/msgpack-cxx.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits, autobump

#167806 breezy 3.3.7
  .github/autobump.txt
  Formula/b/breezy.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits, autobump

#167832 dwarfutils 0.9.2
  .github/autobump.txt
  Formula/d/dwarfutils.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167833 pg_partman 5.1.0
  .github/autobump.txt
  Formula/p/pg_partman.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167834 primecount 7.12
  .github/autobump.txt
  Formula/p/primecount.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167835 psysh 0.12.3
  .github/autobump.txt
  Formula/p/psysh.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits, autobump

#167845 flow-cli 1.17.0
  Formula/f/flow-cli.rb
Labels: go, CI-published-bottle-commits

#167844 miniupnpc: add debian mirror as main appears to be down
  Formula/m/miniupnpc.rb
Labels: ready to merge, CI-syntax-only

#167800 simdutf 5.2.2
  .github/autobump.txt
  Formula/s/scnlib.rb
  Formula/s/simdutf.rb
Labels: ready to merge, bump-formula-pr, no Linux bottle, icu4c, CI-published-bottle-commits, autobump

#167853 glib: link_overwrite gir files
  Formula/g/glib.rb
Labels: python, CI-skip-recursive-dependents, CI-skip-dependents, CI-no-bottles

#167858 flyctl 0.2.27
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167848 gstreamer 1.22.11
  Formula/g/gstreamer.rb
Labels: python, rust, CI-no-fail-fast, long build, ffmpeg, CI-published-bottle-commits

#167864 widelands 1.2
  Formula/w/widelands.rb
Labels: lua, bump-formula-pr, icu4c, CI-published-bottle-commits

#166434 manim 0.18.0 (new formula)
  Formula/m/manim.rb
Labels: python, new formula, ffmpeg, CI-published-bottle-commits

#167912 dexter 0.5.4
  Formula/d/dexter.rb
Labels: ruby, CI-published-bottle-commits

#167888 pixi 0.18.0
  .github/autobump.txt
  Formula/p/pixi.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167873 bitcoin: update to 26.1
  Formula/b/bitcoin.rb
Labels: superseded, automerge-skip, boost, no push access

#167910 klee: resource tabulate and update build
  Formula/k/klee.rb
Labels: python, homepage, CI-published-bottle-commits

#167889 jdtls 1.34.0
  .github/autobump.txt
  Formula/j/jdtls.rb
Labels: python, java, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167890 libxmlb 0.3.16
  .github/autobump.txt
  Formula/lib/libxmlb.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167884 mesheryctl 0.7.42
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#167931 azion 1.17.1
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167914 gh 2.47.0
  Formula/g/gh.rb
Labels: go, CI-published-bottle-commits

#167913 go@1.21 1.21.9
  Formula/g/go@1.21.rb
Labels: go, legacy, bump-formula-pr, CI-published-bottle-commits

#167934 aws-console cfn-format rain 1.8.4
  Formula/a/aws-console.rb
  Formula/c/cfn-format.rb
  Formula/r/rain.rb
Labels: go, CI-published-bottle-commits

#167918 lxc 5.21.1
  .github/autobump.txt
  Formula/l/lxc.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167921 crunchy-cli 3.3.3
  .github/autobump.txt
  Formula/c/crunchy-cli.rb
Labels: rust, ready to merge, bump-formula-pr, ffmpeg, CI-published-bottle-commits, autobump

#167917 poetry: update python resources
  Formula/p/poetry.rb
Labels: python, CI-published-bottle-commits

#167936 remarshal 0.18.0
  .github/autobump.txt
  Formula/r/remarshal.rb
Labels: python, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167911 go 1.22.2
  Formula/g/garble.rb
  Formula/g/go.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#167920 cppinsights 17.0
  .github/autobump.txt
  Formula/c/cppinsights.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#166678 libxc: dont compile third/fourth derivative code
  Formula/lib/libxc.rb
Labels: ready to merge, CI-published-bottle-commits

#167948 atlantis: vendor terraform
  Formula/a/atlantis.rb
Labels: go, CI-published-bottle-commits

#167953 couchdb: remove livecheck and remove from autobump list
  .github/autobump.txt
  Formula/c/couchdb.rb
Labels: ready to merge, livecheck, CI-syntax-only, autobump

#167937 cekit: xcode 15.3 build patch for ruamel.yaml.clib
  Formula/c/cekit.rb
Labels: python, ready to merge, CI-no-bottles

#167885 lasso: make `six` a resource
  Formula/l/lasso.rb
Labels: CI-no-fail-fast, CI-no-bottles, python-vendoring

#167938 dotdrop: xcode 15.3 build patch for ruamel.yaml.clib
  Formula/d/dotdrop.rb
Labels: python, ready to merge, CI-no-bottles

#167939 homeassistant-cli: xcode 15.3 build patch for ruamel.yaml.clib
  Formula/h/homeassistant-cli.rb
Labels: python, ready to merge, CI-no-bottles

#167941 khard: xcode 15.3 build patch for ruamel.yaml.clib
  Formula/k/khard.rb
Labels: python, ready to merge, CI-no-bottles

#167942 west: xcode 15.3 build patch for ruamel.yaml.clib
  Formula/w/west.rb
Labels: python, ready to merge, CI-no-bottles

#167940 jrnl: xcode 15.3 build patch for ruamel.yaml.clib
  Formula/j/jrnl.rb
Labels: python, ready to merge, CI-no-fail-fast, CI-no-bottles

#167935 pyqt-builder 1.16.0
  .github/autobump.txt
  Formula/p/pyqt-builder.rb
Labels: python, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#167955 incus 6.0.0
  Formula/i/incus.rb
Labels: go, CI-published-bottle-commits

#167956 mtbl 1.6.1
  .github/autobump.txt
  Formula/m/mtbl.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#167964 mairix: update livecheck
  Formula/m/mairix.rb
Labels: livecheck, CI-syntax-only, deprecated license

#167965 oq 1.3.5
  Formula/o/oq.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164859 klee 3.1
  Formula/k/klee.rb
Labels: python, ready to merge, bump-formula-pr, linux, CI-no-fail-fast, CI-published-bottle-commits

#167919 cmake cmake-docs 3.29.1
  Formula/c/cmake-docs.rb
  Formula/c/cmake.rb
Labels: CI-skip-recursive-dependents, CI-no-fail-fast, long build, CI-published-bottle-commits

#167915 gtk4 4.14.2
  .github/autobump.txt
  Formula/g/gtk4.rb
Labels: ready to merge, bump-formula-pr, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-no-fail-fast, CI-published-bottle-commits, autobump

#167978 flyctl 0.2.28
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167980 cgif 0.4.0
  Formula/c/cgif.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#167999 bash-completion@2 2.13.0
  Formula/b/bash-completion@2.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#168003 dropbear 2024.84
  .github/autobump.txt
  Formula/d/dropbear.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#168004 evtx 0.8.2
  .github/autobump.txt
  Formula/e/evtx.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#168005 markdownlint-cli2 0.13.0
  .github/autobump.txt
  Formula/m/markdownlint-cli2.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autobump

#168002 httpd 2.4.59
  Formula/h/httpd.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#168013 spectral-cli 6.11.1
  .github/autobump.txt
  Formula/s/spectral-cli.rb
Labels: nodejs, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#168012 skeema 1.11.2
  .github/autobump.txt
  Formula/s/skeema.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#168026 mp3unicode: deprecate
  Formula/m/mp3unicode.rb
Labels: formula deprecated, CI-syntax-only

#168015 uutils-findutils 0.5.0
  .github/autobump.txt
  Formula/u/uutils-findutils.rb
Labels: rust, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#168045 mesheryctl 0.7.43
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#168047 macpine 1.0.5
  Formula/m/macpine.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#167992 nghttp2 libnghttp2 1.61.0
  Formula/lib/libnghttp2.rb
  Formula/n/nghttp2.rb
Labels: bump-formula-pr, CI-linux-self-hosted, long build, CI-published-bottle-commits

#166055 python-matplotlib: vendor python resources
  Formula/p/python-matplotlib.rb
  pypi_formula_mappings.json
Labels: ready to merge, CI-published-bottle-commits, python-vendoring

#166720 i2p: fix i2prouter cannot start
  Formula/i/i2p.rb
Labels: java, ready to merge, CI-published-bottle-commits

#168069 enex2notion: vendor python resources
  Formula/e/enex2notion.rb
  pypi_formula_mappings.json
Labels: python, CI-published-bottle-commits, python-vendoring

#168061 clarinet: update build
  Formula/c/clarinet.rb
Labels: rust, ready to merge, CI-no-bottles

#168074 abi3audit 0.0.10
  Formula/a/abi3audit.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#167891 nsd 4.9.1
  .github/autobump.txt
  Formula/n/nsd.rb
Labels: ready to merge, livecheck, CI-published-bottle-commits, autobump

#167991 x265 3.6
  .github/autobump.txt
  Formula/f/fceux.rb
  Formula/f/ffmpeg.rb
  Formula/f/ffmpeg@2.8.rb
  Formula/f/ffmpeg@4.rb
  Formula/f/ffmpeg@5.rb
  Formula/g/gstreamer.rb
  Formula/lib/libheif.rb
  Formula/x/x265.rb
Labels: ready to merge, bump-formula-pr, CI-skip-recursive-dependents, CI-no-fail-fast, long build, CI-published-bottle-commits, autobump

#168071 python-pytz python-dateutil python-psutil: deprecate, disable in 3 months
  Formula/p/python-dateutil.rb
  Formula/p/python-psutil.rb
  Formula/p/python-pytz.rb
Labels: formula disabled, CI-no-bottles, python-vendoring

#168072 python-argcomplete: use build isolation
  Formula/p/python-argcomplete.rb
Labels: CI-no-bottles

#168081 vfox: support completion for bash and zsh
  Formula/v/vfox.rb
Labels: go, CI-published-bottle-commits

#139538 hashicorp: deprecate and add caveat
  Formula/t/terraform.rb
Labels: go, maintainer feedback, formula deprecated, CI-syntax-only, CI-no-bottles, busl-license

#168090 terraform: deprecate and add caveat
  Formula/t/terraform.rb
Labels: go, formula deprecated, CI-syntax-only

#167466 navidrome 0.51.1 (new formula)
  Formula/n/navidrome.rb
Labels: go, nodejs, new formula, ready to merge, ffmpeg, CI-published-bottle-commits

#168070 redict 7.3.0 (new formula)
  .github/autobump.txt
  Formula/r/redict.rb
Labels: ready to merge, automerge-skip, CI-published-bottle-commits, autobump

#168073 python-setuptools-scm: remove
  Formula/p/python-setuptools-scm.rb
Labels: marked for removal/rejection, CI-syntax-only, python-vendoring
