Repository Homebrew/homebrew-core, pull requests merged in 2024-01, with the labels that each got.

#157910 sugarjar 1.0.1 (new formula)
  Formula/s/sugarjar.rb
Labels: new formula, ruby, notability, CI-no-fail-fast, CI-published-bottle-commits

#158505 woodpecker-cli 2.1.1
  Formula/w/woodpecker-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158668 pc6001vx: fix test
  Formula/p/pc6001vx.rb
Labels: CI-no-bottles, no Linux bottle, ffmpeg

#158579 hopscotch-map 2.3.1 (new formula)
  Formula/h/hopscotch-map.rb
Labels: new formula, CI-published-bottle-commits

#158601 halp 0.1.7 (new formula)
  Formula/h/halp.rb
Labels: new formula, rust, CI-published-bottle-commits

#158674 ksh93 1.0.8
  Formula/k/ksh93.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158518 aws-sdk-cpp 1.11.235
  Formula/a/aws-sdk-cpp.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#158673 hledger 1.32.2
  Formula/h/hledger.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#158670 libnsbmp 0.1.7 (new formula)
  Formula/lib/libnsbmp.rb
Labels: new formula, CI-published-bottle-commits

#158679 spicetify-cli 2.29.1
  Formula/s/spicetify-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158678 quick-lint-js 3.0.0
  Formula/q/quick-lint-js.rb
Labels: CI-published-bottle-commits

#158676 fzf 0.45.0
  Formula/f/fzf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158677 luajit 2.1.1703358377
  Formula/l/luajit.rb
Labels: CI-published-bottle-commits

#158682 atlas 0.17.0
  Formula/a/atlas.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158684 ipinfo-cli: add completion support
  Formula/i/ipinfo-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158686 latexindent 3.23.5
  Formula/l/latexindent.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#158691 fabric-installer: update livecheck
  Formula/f/fabric-installer.rb
Labels: java, livecheck, CI-syntax-only

#158690 dialog 1.3-20240101
  Formula/d/dialog.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158688 vet 1.5.5
  Formula/v/vet.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158693 gismo 23.12.0
  Formula/g/gismo.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158698 fish 3.7.0
  Formula/f/fish.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158697 openrct2 0.4.7
  Formula/o/openrct2.rb
Labels: bump-formula-pr, icu4c, CI-published-bottle-commits

#158699 huggingface-cli 0.20.1
  Formula/h/huggingface-cli.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#158701 libwapcaplet 0.4.3 (new formula)
  Formula/lib/libwapcaplet.rb
Labels: new formula, CI-published-bottle-commits

#158692 fastfetch 2.5.0
  Formula/f/fastfetch.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158702 terminal-notifier: add MACOSX_DEPLOYMENT_TARGET flag
  Formula/t/terminal-notifier.rb
Labels: macos-only, CI-no-bottles, long build

#158707 pypy: update HEAD
  Formula/p/pypy.rb
  Formula/p/pypy3.10.rb
  Formula/p/pypy3.9.rb
Labels: CI-syntax-only

#158715 terraform-graph-beautifier 0.3.4
  Formula/t/terraform-graph-beautifier.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158714 swiftplantuml 0.8.0
  Formula/s/swiftplantuml.rb
Labels: macos-only, CI-published-bottle-commits

#158716 selenium-server 4.16.1
  Formula/s/selenium-server.rb
Labels: java, CI-published-bottle-commits

#158492 rust 1.75.0
  Formula/r/rust.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits

#158556 python@3.11 python-gdbm@3.11 python-tk@3.11 3.11.7
  Formula/p/python-gdbm@3.11.rb
  Formula/p/python-tk@3.11.rb
  Formula/p/python@3.11.rb
Labels: legacy, ready to merge, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#158720 hex 0.6.0
  Formula/h/hex.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158721 nng 1.7.0
  Formula/n/nng.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158726 tuc 1.2.0
  Formula/t/tuc.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158723 snobol4 2.3.2
  Formula/s/snobol4.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158722 rust-analyzer 2024-01-01
  Formula/r/rust-analyzer.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158727 xterm 389
  Formula/x/xterm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158719 jot 0.1.2 (new formula)
  Formula/j/jot.rb
Labels: new formula, rust, CI-published-bottle-commits

#158725 python-hatch-fancy-pypi-readme 24.1.0
  Formula/p/python-hatch-fancy-pypi-readme.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158729 minio-mc 20231229201529
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158741 fastp: add upstream issue ref for arm build support
  Formula/f/fastp.rb
Labels: CI-syntax-only, no ARM bottle

#158738 scoutsuite: fix build issue for autocommand 2.2.2 against setuptools 69
  Formula/s/scoutsuite.rb
Labels: python, rust, CI-no-bottles

#158742 gitoxide: add shell completion
  Formula/g/gitoxide.rb
Labels: rust, CI-published-bottle-commits

#158399 veilid 0.2.5 (new formula)
  Formula/v/veilid.rb
Labels: new formula, rust, CI-published-bottle-commits

#158750 go-critic 0.11.0
  Formula/g/go-critic.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158753 mailpit 1.12.0
  Formula/m/mailpit.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#158754 ncnn 20240102
  Formula/n/ncnn.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158751 libjcat 0.2.0
  Formula/lib/libjcat.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158752 libxmlb 0.3.15
  Formula/lib/libxmlb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158756 renovate 37.116.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158689 rgbds 0.7.0
  Formula/r/rgbds.rb
Labels: rust, CI-published-bottle-commits

#158762 src 1.33
  Formula/s/src.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#158764 clive 0.12.9
  Formula/c/clive.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158768 hashlink 1.14
  Formula/h/hashlink.rb
Labels: no ARM bottle, bump-formula-pr, CI-published-bottle-commits

#158771 jackett 0.21.1468
  Formula/j/jackett.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits

#158766 jenkins 2.439
  Formula/j/jenkins.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#158773 structurizr-cli 2024.01.02
  Formula/s/structurizr-cli.rb
Labels: java, CI-published-bottle-commits

#158775 pipx 1.4.1
  Formula/p/pipx.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#158778 menhir 20231231
  Formula/m/menhir.rb
Labels: ocaml, bump-formula-pr, CI-published-bottle-commits

#158769 cython libcython 3.0.7
  Formula/c/cython.rb
  Formula/lib/libcython.rb
Labels: CI-published-bottle-commits

#158777 feishu2md: add livecheck
  Formula/f/feishu2md.rb
Labels: go, livecheck, CI-syntax-only

#158788 swagger-codegen: update homepage
  Formula/s/swagger-codegen.rb
Labels: java, CI-syntax-only, homepage

#158779 mkvtoolnix 82.0
  Formula/m/mkvtoolnix.rb
Labels: ruby, bump-formula-pr, boost, CI-published-bottle-commits

#158787 bkcrack 1.6.0
  Formula/b/bkcrack.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158780 netlify-cli 17.11.0
  Formula/n/netlify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158782 openimageio 2.5.7.0
  Formula/o/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, homepage, CI-published-bottle-commits

#158786 gifski: add build patch to build against ffmpeg 6.1
  Formula/g/gifski.rb
Labels: rust, ffmpeg, CI-published-bottle-commits

#158790 grayskull 2.5.3
  Formula/g/grayskull.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#158793 storj-uplink 1.93.2
  Formula/s/storj-uplink.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158792 snyk-cli 1.1267.0
  Formula/s/snyk-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158794 tintin 2.02.40
  Formula/t/tintin.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158791 sdl2_image 2.8.2
  Formula/s/sdl2_image.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158796 vunnel 0.17.12
  Formula/v/vunnel.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#158802 devspace 6.3.8
  Formula/d/devspace.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158808 Use symbol for redundant livecheck block urls
  Formula/a/ampl-mp.rb
  Formula/a/apache-brooklyn-cli.rb
  Formula/b/bgpdump.rb
  Formula/g/geckodriver.rb
  Formula/g/gerbil-scheme.rb
  Formula/g/gwt.rb
  Formula/i/inspircd.rb
  Formula/k/keychain.rb
  Formula/lib/libantlr3c.rb
  Formula/n/nng.rb
  Formula/n/nwchem.rb
  Formula/s/softhsm.rb
  Formula/t/traildb.rb
Labels: livecheck, CI-syntax-only

#158801 certbot 3.8.0
  Formula/c/certbot.rb
Labels: python, CI-published-bottle-commits

#158798 adios2: update livecheck
  Formula/a/adios2.rb
Labels: python, livecheck, CI-syntax-only

#158806 murex 5.3.6000
  Formula/m/murex.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158810 minio 20240101163633
  Formula/m/minio.rb
Labels: go, CI-published-bottle-commits

#158814 starship 1.17.1
  Formula/s/starship.rb
Labels: rust, CI-published-bottle-commits

#158807 cling: update livecheck
  Formula/c/cling.rb
Labels: livecheck, formula deprecated, CI-syntax-only

#158800 aws-cdk 2.117.0
  Formula/a/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158805 broot 1.32.0
  Formula/b/broot.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158797 lacework-cli 1.43.0
  Formula/l/lacework-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158819 mesheryctl 0.7.6
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#158767 fastlane 2.218.0
  Formula/f/fastlane.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits

#158818 gossip 0.9.0
  Formula/g/gossip.rb
Labels: rust, CI-published-bottle-commits

#158821 functionalplus 0.2.22
  Formula/f/functionalplus.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158488 agda: include cubical library
  Formula/a/agda.rb
Labels: haskell, CI-no-fail-fast, long build, CI-published-bottle-commits

#158809 docker-compose: update livecheck
  Formula/d/docker-compose.rb
Labels: go, livecheck, CI-syntax-only

#158816 fabric-installer 1.0.0
  Formula/f/fabric-installer.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#158804 bigloo 4.5b
  Formula/b/bigloo.rb
Labels: java, no ARM bottle, CI-published-bottle-commits

#158799 atari800 5.2.0
  Formula/a/atari800.rb
Labels: license, CI-published-bottle-commits

#158826 libgedit-gtksourceview 299.0.5
  Formula/lib/libgedit-gtksourceview.rb
Labels: bump-formula-pr, repo-location-update, homepage, CI-published-bottle-commits

#158828 vim 9.1.0
  Formula/v/vim.rb
Labels: lua, python, ruby, perl, bump-formula-pr, CI-published-bottle-commits

#158830 aardvark_shell_utils: disable
  Formula/a/aardvark_shell_utils.rb
Labels: formula disabled, CI-syntax-only

#158831 abuse: disable
  Formula/a/abuse.rb
Labels: formula disabled, CI-syntax-only

#158833 xml2: disable
  Formula/x/xml2.rb
Labels: formula disabled, CI-syntax-only

#158832 cmu-sphinxbase: disable
  Formula/c/cmu-sphinxbase.rb
Labels: formula disabled, CI-syntax-only

#158827 ruff 0.1.10
  Formula/r/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158829 flyctl 0.1.136
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158822 mongo-c-driver 1.25.4
  Formula/m/mongo-c-driver.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158834 gsasl 2.2.1
  Formula/g/gsasl.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158839 chezmoi 2.43.0
  Formula/c/chezmoi.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158835 jprq 2.3
  Formula/j/jprq.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158840 ruff 0.1.11
  Formula/r/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158836 mise: rename rtx -> mise
  Formula/m/mise.rb
  Formula/r/rtx.rb
  formula_renames.json
Labels: automerge-skip, CI-no-fail-fast, CI-published-bottle-commits

#158843 node-sass 1.69.7
  Formula/n/node-sass.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158844 pnpm 8.14.0
  Formula/p/pnpm.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158846 prr 0.15.0
  Formula/p/prr.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158849 ord 0.14.0
  Formula/o/ord.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158848 scarb 2.4.2
  Formula/s/scarb.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158847 renovate 37.117.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158861 crunchy-cli 3.2.1
  Formula/c/crunchy-cli.rb
Labels: rust, bump-formula-pr, ffmpeg, CI-published-bottle-commits

#158863 imposm3: fix osmium path in test
  Formula/i/imposm3.rb
Labels: go, CI-no-bottles

#158862 leakcanary-shark 2.13
  Formula/l/leakcanary-shark.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#158572 little-cms2 2.16
  Formula/l/little-cms2.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#158812 emscripten 3.1.51
  Formula/e/emscripten.rb
Labels: nodejs, python, java, bump-formula-pr, CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits

#158864 poac 0.8.0
  Formula/p/poac.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158867 typos-cli 1.17.0
  Formula/t/typos-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158842 numpy 1.26.3
  Formula/n/numpy.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#158731 apache-pulsar 3.1.2
  Formula/a/apache-pulsar.rb
Labels: java, no ARM bottle, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#157835 postgresql@15 and postgresql@16: Add `zstd` support
  Formula/p/postgresql@15.rb
  Formula/p/postgresql@16.rb
Labels: perl, formula deprecated, icu4c, CI-published-bottle-commits

#158872 licensefinder: fix test
  Formula/l/licensefinder.rb
Labels: ruby, CI-no-bottles

#158870 emscripten: uses `zlib` from macOS
  Formula/e/emscripten.rb
Labels: nodejs, python, java, CI-syntax-only, CI-build-dependents-from-source, long build

#158879 k9s 0.30.7
  Formula/k/k9s.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158875 oath-toolkit 2.6.10
  Formula/o/oath-toolkit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158886 kosli-cli 2.7.0
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#158892 neonctl 1.25.2
  Formula/n/neonctl.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158890 mailpit 1.12.1
  Formula/m/mailpit.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#158893 renovate 37.118.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158894 kosli-cli 2.7.1
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#158891 cdxgen 9.10.2
  Formula/c/cdxgen.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158888 asyncapi 1.2.30
  Formula/a/asyncapi.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158882 systemc: use C++17 as mandated by IEEE 1666-2023
  Formula/s/systemc.rb
Labels: CI-published-bottle-commits

#158889 geckodriver 0.34.0
  Formula/g/geckodriver.rb
Labels: rust, CI-published-bottle-commits

#158908 mise 2024.1.3
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158913 mailpit fix version string
  Formula/m/mailpit.rb
Labels: go, nodejs, CI-published-bottle-commits

#158916 croaring 2.1.1
  Formula/c/croaring.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158918 k9s 0.30.8
  Formula/k/k9s.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158685 gperftools 2.14
  Formula/b/brpc.rb
  Formula/g/gperftools.rb
  Formula/k/klee.rb
  Formula/s/snort.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#158706 libvmaf 3.0.0
  Formula/a/aom.rb
  Formula/f/ffmpeg.rb
  Formula/f/ffmpeg@4.rb
  Formula/f/ffmpeg@5.rb
  Formula/g/gstreamer.rb
  Formula/lib/libvmaf.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#158871 qt@5 5.15.12
  Formula/q/qt@5.rb
Labels: nodejs, legacy, CI-linux-self-hosted, long build, icu4c, CI-published-bottle-commits

#158903 angular-cli 17.0.9
  Formula/a/angular-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#158904 atuin 17.2.1
  Formula/a/atuin.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#158907 gickup 0.10.26
  Formula/g/gickup.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158910 luit 20240102
  Formula/l/luit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#158905 conftest 0.48.0
  Formula/c/conftest.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#158911 libngspice ngspice 42
  Formula/lib/libngspice.rb
  Formula/n/ngspice.rb
Labels: CI-published-bottle-commits
