Repository Homebrew/homebrew-core, pull requests merged in 2024-07, with the labels that each got.

#176027 moarvm nqp rakudo-star rakudo 2024.06
  Formula/m/moarvm.rb
  Formula/n/nqp.rb
  Formula/r/rakudo-star.rb
  Formula/r/rakudo.rb
Labels: long build, CI-published-bottle-commits

#176026 re2 20240701
  Formula/r/re2.rb
Labels: bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#176038 meilisearch 1.9.0
  Formula/m/meilisearch.rb
Labels: rust, CI-published-bottle-commits

#176072 lando-cli: add livecheck
  Formula/l/lando-cli.rb
Labels: nodejs, livecheck, CI-syntax-only

#176070 azion 1.30.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#175980 inko 0.15.0
  .github/autobump.txt
  Formula/i/inko.rb
Labels: rust, ruby, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#176075 less 661
  .github/autobump.txt
  Formula/l/less.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits, autobump

#176071 astyle 3.5.1
  Formula/a/astyle.rb
Labels: CI-published-bottle-commits

#176086 infracost 0.10.38
  Formula/i/infracost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176087 runme 3.4.0
  Formula/r/runme.rb
Labels: go, CI-published-bottle-commits

#176074 pacparser 1.4.5
  .github/autobump.txt
  Formula/p/pacparser.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176073 uvg266 0.8.1
  .github/autobump.txt
  Formula/u/uvg266.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#175733 krb5 1.21.3
  .github/autobump.txt
  Formula/k/krb5.rb
Labels: in progress, ready to merge, bump-formula-pr, CI-skip-recursive-dependents, CI-published-bottle-commits, autobump, CI-linux-self-hosted-deps, CI-no-fail-fast-deps

#175881 hwloc 2.11.0
  .github/autobump.txt
  Formula/c/chapel.rb
  Formula/h/hwloc.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump, CI-no-fail-fast-deps, long dependent tests

#176088 odin 2024-07
  Formula/o/odin.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#176110 cargo-udeps 0.1.49
  .github/autobump.txt
  Formula/c/cargo-udeps.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#176112 docker docker-completion 27.0.3
  Formula/d/docker-completion.rb
  Formula/d/docker.rb
Labels: CI-published-bottle-commits

#176113 httpd 2.4.60
  .github/autobump.txt
  Formula/h/httpd.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176129 tfsec 1.28.9
  Formula/t/tfsec.rb
Labels: go, livecheck, CI-published-bottle-commits

#176149 openssh 9.8p1
  Formula/o/openssh.rb
  Formula/s/ssh-copy-id.rb
Labels: CI-published-bottle-commits

#176143 dmd dtools 2.109.1
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#176156 ruby-build 20240702
  Formula/r/ruby-build.rb
Labels: CI-published-bottle-commits

#176157 openapi-generator 7.7.0
  Formula/o/openapi-generator.rb
Labels: java, CI-published-bottle-commits

#176188 johnnydep 1.20.5
  .github/autobump.txt
  Formula/j/johnnydep.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#176211 frugal: deprecate
  Formula/f/frugal.rb
Labels: go, formula deprecated, CI-syntax-only

#176205 ktlint 1.3.1
  Formula/k/ktlint.rb
Labels: java, CI-published-bottle-commits

#176203 mihomo 1.18.6
  Formula/m/mihomo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176185 apibuilder-cli 0.1.49
  .github/autobump.txt
  Formula/a/apibuilder-cli.rb
Labels: ruby, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#176224 strip-nondeterminism 1.14.0
  Formula/s/strip-nondeterminism.rb
Labels: perl, CI-published-bottle-commits

#176225 aerc 0.18.0
  Formula/a/aerc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176222 go@1.21 1.21.12
  Formula/g/go@1.21.rb
Labels: go, legacy, CI-published-bottle-commits

#176223 go 1.22.5
  Formula/g/garble.rb
  Formula/g/go.rb
Labels: CI-published-bottle-commits

#176183 re2 20240702
  Formula/r/re2.rb
Labels: bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#176194 util-linux: fix an issue with `rename` command
  Formula/u/util-linux.rb
Labels: CI-skip-recursive-dependents, CI-published-bottle-commits, CI-linux-self-hosted-deps

#176212 lv: deprecate
  Formula/l/lv.rb
Labels: formula deprecated, CI-syntax-only

#176269 kosli-cli 2.10.10
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#176270 vespa-cli 8.365.21
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176284 csound: update Ableton Link resource
  Formula/c/csound.rb
Labels: python, java, CI-published-bottle-commits

#176017 odo-dev 3.16.1
  .github/autobump.txt
  Formula/o/odo-dev.rb
Labels: go, bump-formula-pr, long build, CI-published-bottle-commits, autobump

#176294 zlog 1.2.18
  .github/autobump.txt
  Formula/z/zlog.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176210 cmake cmake-docs 3.30.0
  Formula/c/cmake-docs.rb
  Formula/c/cmake.rb
Labels: CI-skip-recursive-dependents, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#176268 mako 0.7.4 (new formula)
  .github/autobump.txt
  Formula/m/mako.rb
Labels: nodejs, new formula, CI-published-bottle-commits, autobump

#176295 beakerlib 1.31
  .github/autobump.txt
  Formula/b/beakerlib.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176317 mise 2024.7.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#176318 mesheryctl 0.7.78
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#175967 vtk 9.3.1
  .github/autobump.txt
  Formula/f/f3d.rb
  Formula/v/vtk.rb
Labels: python, bump-formula-pr, long build, boost, CI-published-bottle-commits, autobump, CI-no-fail-fast-deps

#176342 jerm: deprecate
  Formula/j/jerm.rb
Labels: formula deprecated, missing license, CI-syntax-only

#176343 imap-uw: deprecate
  Formula/i/imap-uw.rb
Labels: formula deprecated, CI-syntax-only

#176340 lbzip2: deprecate
  Formula/l/lbzip2.rb
Labels: formula deprecated, CI-syntax-only, deprecated license

#176319 pinentry 1.3.1
  .github/autobump.txt
  Formula/p/pinentry.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, long build, CI-published-bottle-commits, autobump

#176357 vespa-cli 8.367.14
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176358 logcli loki promtail 3.1.0
  Formula/l/logcli.rb
  Formula/l/loki.rb
  Formula/p/promtail.rb
Labels: go, CI-published-bottle-commits

#176368 dartsim: build without SIMD
  Formula/d/dartsim.rb
Labels: CI-published-bottle-commits

#176180 edencommon fb303 fbthrift fizz folly mvfst proxygen wangle watchman 2024.07.01.00
  Formula/e/edencommon.rb
  Formula/f/fb303.rb
  Formula/f/fbthrift.rb
  Formula/f/fizz.rb
  Formula/f/folly.rb
  Formula/m/mvfst.rb
  Formula/p/proxygen.rb
  Formula/w/wangle.rb
  Formula/w/watchman.rb
Labels: CI-no-fail-fast, long build, CI-published-bottle-commits

#176339 libplacebo 7.349.0
  .github/autobump.txt
  Formula/lib/libplacebo.rb
  Formula/m/mpv.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#176383 apify-cli 0.20.2
  Formula/a/apify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#176184 nss 3.101.1
  Formula/n/nss.rb
Labels: CI-published-bottle-commits, CI-linux-self-hosted-deps, CI-no-fail-fast-deps, long dependent tests

#176382 openstackclient: add optional pkgs for more features
  Formula/o/openstackclient.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#176434 znc 1.9.1
  Formula/z/znc.rb
Labels: python, boost, icu4c, CI-published-bottle-commits

#176431 saxon 12.5
  Formula/s/saxon.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#176492 neovim: HEAD depends on utf8proc
  Formula/n/neovim.rb
Labels: lua, CI-no-bottles

#176502 mesheryctl 0.7.79
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#176500 musikcube 3.0.3
  .github/autobump.txt
  Formula/m/musikcube.rb
Labels: ready to merge, bump-formula-pr, macos-only, ffmpeg, CI-published-bottle-commits, autobump

#176509 pulsarctl 3.3.0.5
  Formula/p/pulsarctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176511 python-packaging: deprecate, disable in 3 months
  Formula/p/python-packaging.rb
Labels: formula disabled, CI-no-bottles

#176510 minio 20240704142545
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176513 arangodb, cronolog, vfuse, ydcv: disable
  Formula/a/arangodb.rb
  Formula/c/cronolog.rb
  Formula/v/vfuse.rb
  Formula/y/ydcv.rb
Labels: formula disabled, CI-no-bottles

#176516 scs 3.2.6
  .github/autobump.txt
  Formula/s/scs.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176517 dnsviz 0.10.0
  Formula/d/dnsviz.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#176512 nq 1.0
  .github/autobump.txt
  Formula/n/nq.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176508 zenity 4.0.2
  .github/autobump.txt
  Formula/z/zenity.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176427 graphviz 12.0.0
  .github/autobump.txt
  Formula/g/graphviz.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump, CI-no-fail-fast-deps

#176539 composer: 2.7.7 sha256 fix
  Formula/c/composer.rb
Labels: php, checksum mismatch, CI-published-bottle-commits, CI-checksum-change-confirmed

#176547 pyenv 2.4.7
  Formula/p/pyenv.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#176550 schema-evolution-manager 0.9.48
  .github/autobump.txt
  Formula/s/schema-evolution-manager.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits, autobump

#176549 tflint 0.52.0
  Formula/t/tflint.rb
Labels: go, CI-published-bottle-commits

#175968 rgbds 0.8.0
  .github/autobump.txt
  Formula/r/rgbds.rb
Labels: rust, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#176554 cxgo 0.4.0
  Formula/c/cxgo.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176553 liborigin 3.0.3
  .github/autobump.txt
  Formula/lib/liborigin.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#176557 gat 0.18.0
  .github/autobump.txt
  Formula/g/gat.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#176558 gomplate 4.1.0
  Formula/g/gomplate.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176552 helm-docs 1.14.0
  Formula/h/helm-docs.rb
Labels: go, ready to merge, CI-published-bottle-commits

#176556 python-launcher 1.0.1
  .github/autobump.txt
  Formula/p/python-launcher.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#176566 ly: drop setuptools formula
  Formula/l/ly.rb
Labels: python, CI-no-bottles

#176567 libvirt-python: drop setuptools formula
  Formula/lib/libvirt-python.rb
Labels: python, CI-no-bottles

#176546 glibmm: revert ABI break from previous revision
  Formula/g/glibmm.rb
Labels: CI-published-bottle-commits

#176171 wireshark: clarify non-GUI in description, add HTTP/3, simplify options
  Formula/w/wireshark.rb
Labels: lua, CI-published-bottle-commits

#176568 pillow: drop setuptools formula
  Formula/p/pillow.rb
Labels: CI-no-bottles

#176569 echidna: add indirect linkage dep
  Formula/e/echidna.rb
Labels: haskell, CI-no-bottles

#176576 ex-vi: update formula desc
  Formula/e/ex-vi.rb
Labels: CI-syntax-only

#176579 clair: migrate to `go`
  Formula/c/clair.rb
Labels: go, CI-no-bottles

#176578 coder: migrate to `go`
  Formula/c/coder.rb
Labels: go, CI-no-bottles

#176577 libqalculate qalculate-gtk qalculate-qt 5.2.0
  Formula/lib/libqalculate.rb
  Formula/q/qalculate-gtk.rb
  Formula/q/qalculate-qt.rb
Labels: CI-published-bottle-commits

#176575 freetds 1.4.19
  Formula/f/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#176544 gnu-indent: build with `-D_DARWIN_C_SOURCE` on macOS
  Formula/g/gnu-indent.rb
Labels: CI-no-bottles

#175923 h26forge 2024-07-06 (new formula)
  .github/autobump.txt
  Formula/h/h26forge.rb
Labels: new formula, rust, ready to merge, automerge-skip, CI-published-bottle-commits, autobump

#176441 certifi 2024.7.4
  Formula/c/certifi.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#176588 minio-mc 20240703201725
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176591 pyyaml: deprecate, disable in 3 months
  Formula/p/pyyaml.rb
Labels: formula disabled, CI-no-bottles

#176595 trzsz-ssh 0.1.21
  Formula/t/trzsz-ssh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176462 rbenv 1.3.0
  Formula/r/rbenv.rb
Labels: ruby, ready to merge, CI-published-bottle-commits

#176590 mame rom-tools 0.267
  Formula/m/mame.rb
  Formula/r/rom-tools.rb
Labels: long build, CI-published-bottle-commits

#176609 telegram-downloader 0.17.3
  Formula/t/telegram-downloader.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176608 cmd/*: fix `cmd_args` usage
  cmd/aspell-dictionaries.rb
  cmd/check-ci-status.rb
  cmd/determine-rebottle-runners.rb
Labels: automerge-skip

#176617 fava 1.28
  Formula/f/fava.rb
Labels: python, rust, ready to merge, CI-published-bottle-commits

#176619 organize-tool 3.2.4
  .github/autobump.txt
  Formula/o/organize-tool.rb
Labels: python, rust, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#176618 mysql@8.0 8.0.38
  Formula/m/mysql@8.0.rb
Labels: legacy, ready to merge, bump-formula-pr, icu4c, CI-published-bottle-commits

#176296 gdbm 1.24
  .github/autobump.txt
  Formula/g/gdbm.rb
Labels: in progress, ready to merge, bump-formula-pr, CI-no-fail-fast, homepage, CI-published-bottle-commits, autobump, CI-linux-self-hosted-deps, long dependent tests

#176555 polynote 0.6.0
  .github/autobump.txt
  Formula/p/polynote.rb
Labels: python, java, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#176631 ircii: update homepage
  Formula/i/ircii.rb
Labels: CI-syntax-only, homepage

#176633 various: update all gnu formulae homepage urls which have 3xx status
  Formula/a/autoconf.rb
  Formula/a/autoconf@2.69.rb
  Formula/c/coreutils.rb
  Formula/d/datamash.rb
  Formula/d/ddd.rb
  Formula/d/diffutils.rb
  Formula/g/gnu-complexity.rb
  Formula/g/gnucobol.rb
  Formula/g/gperf.rb
  Formula/g/gzip.rb
  Formula/i/idutils.rb
  Formula/m/m4.rb
  Formula/o/octave.rb
  Formula/r/rush.rb
  Formula/s/screen.rb
Labels: CI-syntax-only, homepage

#176632 uni2ascii 4.20
  .github/autobump.txt
  Formula/u/uni2ascii.rb
Labels: CI-published-bottle-commits, autobump

#176634 otf2: migrate to `python@3.12`
  Formula/o/otf2.rb
Labels: python, CI-published-bottle-commits, python-3.12-migration

#176635 logdy 0.12.2
  Formula/l/logdy.rb
Labels: go, ready to merge, CI-published-bottle-commits

#176637 sophus 1.24.6
  .github/autobump.txt
  Formula/s/sophus.rb
Labels: CI-published-bottle-commits, autobump

#176650 dcos-cli: deprecate
  Formula/d/dcos-cli.rb
Labels: go, formula deprecated, CI-syntax-only

#176651 cmockery,cmockery2: deprecate
  Formula/c/cmockery.rb
  Formula/c/cmockery2.rb
Labels: formula deprecated, CI-syntax-only

#176653 atf: update repo location
  Formula/a/atf.rb
Labels: CI-syntax-only, repo-location-update

#176652 zk: update repo location
  Formula/z/zk.rb
Labels: go, CI-syntax-only, repo-location-update, icu4c

#176649 access: deprecate
  Formula/a/access.rb
Labels: go, formula deprecated, CI-syntax-only

#176628 rdkit 2024.03.4
  Formula/r/rdkit.rb
Labels: python, ready to merge, boost, CI-published-bottle-commits

#176655 uv: add date to version output
  Formula/u/uv.rb
Labels: rust, CI-published-bottle-commits

#176660 llgo 0.9.0
  Formula/l/llgo.rb
Labels: go, python, CI-published-bottle-commits

#176661 psqlodbc 16.00.0005
  Formula/p/psqlodbc.rb
Labels: livecheck, CI-published-bottle-commits

#176662 quicktype: update homepage, head urls
  Formula/q/quicktype.rb
Labels: nodejs, CI-syntax-only

#176654 various: update github repo locations
  Formula/c/chars.rb
  Formula/d/density.rb
  Formula/e/eralchemy.rb
  Formula/e/eva.rb
  Formula/f/fprettify.rb
  Formula/g/git-annex-remote-rclone.rb
  Formula/g/gitleaks.rb
  Formula/k/khard.rb
  Formula/k/kyua.rb
  Formula/l/lutok.rb
  Formula/lib/libprotoident.rb
  Formula/m/modsecurity.rb
  Formula/m/mplayershell.rb
  Formula/m/mvfst.rb
  Formula/n/naml.rb
  Formula/p/pylint.rb
  Formula/r/rapidfuzz-cpp.rb
  Formula/r/rbenv-binstubs.rb
  Formula/r/remarshal.rb
  Formula/r/reorder-python-imports.rb
  Formula/s/spicetify-cli.rb
  Formula/s/spr.rb
  Formula/s/statix.rb
  Formula/s/superfile.rb
  Formula/s/swift-format.rb
  Formula/t/toml-test.rb
  Formula/t/tracebox.rb
  Formula/u/uptoc.rb
  Formula/v/vrc-get.rb
  Formula/w/wagyu.rb
  Formula/w/weggli.rb
  Formula/w/wzprof.rb
  Formula/x/xcodes.rb
Labels: CI-syntax-only, repo-location-update

#176690 lefthook 1.7.0
  Formula/l/lefthook.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176668 gmt: bump dcw-gmt to v2.2.0
  Formula/g/gmt.rb
Labels: CI-published-bottle-commits

#176700 stow: declare a dependency on perl
  Formula/s/stow.rb
Labels: perl, autosquash

#176667 wcurl 2024-07-07 (new formula)
  Formula/w/wcurl.rb
Labels: new formula, CI-published-bottle-commits, CI-skip-new-formulae

#176701 lefthook 1.7.1
  Formula/l/lefthook.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176719 temporal 0.13.2
  Formula/t/temporal.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171334 minica 1.1.0
  .github/autobump.txt
  Formula/m/minica.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#176592 mesa 24.1.3
  Formula/m/mesa.rb
Labels: in progress, ready to merge, CI-skip-recursive-dependents, CI-published-bottle-commits, CI-linux-self-hosted-deps, long dependent tests

#176766 autobump: add `wcurl`
  .github/autobump.txt
Labels: automerge-skip, autobump

#176752 gptscript: update formula install instructions
  Formula/g/gptscript.rb
Labels: go, shell-completion, CI-published-bottle-commits

#176718 rust-analyzer 2024-07-08
  Formula/r/rust-analyzer.rb
Labels: rust, ready to merge, CI-published-bottle-commits

#176764 minio-mc 20240708205924
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176665 cloudflare-quiche 0.22.0
  Formula/c/cloudflare-quiche.rb
Labels: rust, CI-published-bottle-commits

#175366 cortexso 0.1.0 (new formula)
  Formula/c/cortexso.rb
Labels: nodejs, new formula, CI-no-fail-fast, CI-published-bottle-commits

#176795 frpc, frps: use tarball, add head
  Formula/f/frpc.rb
  Formula/f/frps.rb
Labels: go, CI-no-bottles

#176277 misc: add missing conflicts
  Formula/a/alpine.rb
  Formula/c/cmuclmtk.rb
  Formula/d/dcadec.rb
  Formula/e/eg-examples.rb
  Formula/e/eg.rb
  Formula/f/fd.rb
  Formula/f/fdclone.rb
  Formula/i/imap-uw.rb
  Formula/j/julius.rb
  Formula/lib/libdca.rb
  Formula/m/mapnik.rb
  Formula/p/putmail-queue.rb
  Formula/p/putmail.rb
  Formula/r/rush-parallel.rb
  Formula/r/rush.rb
  Formula/s/svg2png.rb
Labels: CI-no-bottles, long build

#176790 fzf 0.54.0
  Formula/f/fzf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#176779 soapyhackrf 0.3.4 (new formula)
  Formula/s/soapyhackrf.rb
Labels: new formula, CI-published-bottle-commits

#176798 monetdb 11.49.11
  Formula/m/monetdb.rb
Labels: CI-published-bottle-commits

#176782 ruby-build 20240709
  Formula/r/ruby-build.rb
Labels: CI-published-bottle-commits

#176791 dolphie 5.0.3
  Formula/d/dolphie.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#176787 ruby-build 20240709.1
  Formula/r/ruby-build.rb
Labels: CI-published-bottle-commits

#176765 gdb & *-gdb 15.1
  Formula/a/aarch64-elf-gdb.rb
  Formula/a/arm-none-eabi-gdb.rb
  Formula/g/gdb.rb
  Formula/i/i386-elf-gdb.rb
  Formula/r/riscv64-elf-gdb.rb
  Formula/x/x86_64-elf-gdb.rb
Labels: python, long build, CI-published-bottle-commits

#176819 tippecanoe: add livecheck
  Formula/t/tippecanoe.rb
Labels: livecheck, CI-syntax-only
