Repository Homebrew/homebrew-core, pull requests merged in 2024-06, with the labels that each got.

#173377 mise 2024.5.28
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#173378 tilt 0.33.15
  Formula/t/tilt.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#173379 git git-credential-libsecret git-gui git-svn 2.45.2
  Formula/g/git-credential-libsecret.rb
  Formula/g/git-gui.rb
  Formula/g/git-svn.rb
  Formula/g/git.rb
Labels: CI-published-bottle-commits

#173384 aws-console cfn-format rain 1.10.0
  Formula/a/aws-console.rb
  Formula/c/cfn-format.rb
  Formula/r/rain.rb
Labels: go, CI-published-bottle-commits

#173389 shairport-sync 4.3.3
  .github/autobump.txt
  Formula/s/shairport-sync.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173387 killport 1.1.0
  .github/autobump.txt
  Formula/k/killport.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173390 sonar-scanner 6.0.0.4432
  .github/autobump.txt
  Formula/s/sonar-scanner.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173413 toml-test 1.5.0
  .github/autobump.txt
  Formula/t/toml-test.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#173412 gallery-dl: make `man` and `completion` targets only
  Formula/g/gallery-dl.rb
Labels: python, CI-published-bottle-commits

#173415 ghz-web ghz 0.12.0 and unsync
  Formula/g/ghz-web.rb
  Formula/g/ghz.rb
  synced_versions_formulae.json
Labels: go, ready to merge, CI-published-bottle-commits

#173420 kubeshark 52.3.62
  Formula/k/kubeshark.rb
Labels: go, superseded, automerge-skip, no push access

#173388 re2 20240601
  Formula/r/re2.rb
Labels: bump-formula-pr, long build, CI-published-bottle-commits

#173406 miniupnpc: change mirror from debian to other official one
  Formula/m/miniupnpc.rb
Labels: CI-syntax-only

#173419 moarvm nqp rakudo-star rakudo 2024.05
  Formula/m/moarvm.rb
  Formula/n/nqp.rb
  Formula/r/rakudo-star.rb
  Formula/r/rakudo.rb
Labels: CI-published-bottle-commits

#173442 gallery-dl 1.27.0
  Formula/g/gallery-dl.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#173355 rdkit 2024.03.3
  Formula/r/rdkit.rb
Labels: python, ready to merge, bump-formula-pr, boost, CI-published-bottle-commits

#173434 travis 1.14.0
  .github/autobump.txt
  Formula/t/travis.rb
Labels: ruby, CI-published-bottle-commits, autobump

#173296 libmaa 1.5.1
  .github/autobump.txt
  Formula/d/dict.rb
  Formula/lib/libmaa.rb
Labels: ready to merge, bump-formula-pr, homepage, CI-published-bottle-commits, autobump

#173445 packmol: add livecheck
  Formula/p/packmol.rb
Labels: livecheck, CI-syntax-only

#173452 mise 2024.6.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#173455 mesheryctl 0.7.69
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#173363 highway 1.2.0
  Formula/h/highway.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#173465 trzsz-ssh 0.1.20
  Formula/t/trzsz-ssh.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173476 podman-tui release v1.1.0
  Formula/p/podman-tui.rb
Labels: go, CI-published-bottle-commits

#173421 ansible-lint: use same version of `ansible-core` as `ansible`
  Formula/a/ansible-lint.rb
Labels: python, rust, ready to merge, CI-published-bottle-commits

#173475 smartdns 0.8.2
  Formula/s/smartdns.rb
Labels: rust, CI-published-bottle-commits

#173490 gitui 0.26.3
  Formula/g/gitui.rb
Labels: rust, CI-published-bottle-commits

#173482 rustls-ffi 0.13.0 (new formula)
  Formula/r/rustls-ffi.rb
Labels: new formula, rust, CI-published-bottle-commits

#173469 findutils 4.10.0
  .github/autobump.txt
  Formula/f/findutils.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173468 logrotate 3.22.0
  .github/autobump.txt
  Formula/l/logrotate.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173471 mailcatcher 0.10.0
  .github/autobump.txt
  Formula/m/mailcatcher.rb
Labels: CI-published-bottle-commits, autobump

#173483 automerge-from-merge-queue: upload metadata
  .github/workflows/automerge-from-merge-queue.yml
Labels: automerge-skip, workflows

#173492 dmd dtools 2.109.0
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#173491 chibi-scheme 0.11
  .github/autobump.txt
  Formula/c/chibi-scheme.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173497 gomplate 3.11.8
  Formula/g/gomplate.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173504 lha: add livecheck
  Formula/l/lha.rb
Labels: livecheck, CI-syntax-only

#173502 automerge-from-merge-queue: fix
  .github/workflows/automerge-from-merge-queue.yml
Labels: automerge-skip, workflows

#173509 pipx 1.6.0
  .github/autobump.txt
  Formula/p/pipx.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173513 aws-sso-util 4.33.0
  .github/autobump.txt
  Formula/a/aws-sso-util.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits, autobump

#173517 reorder-python-imports 3.13.0
  Formula/r/reorder-python-imports.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#173493 minimal-racket 8.13
  Formula/m/minimal-racket.rb
Labels: formula deprecated, CI-published-bottle-commits

#173546 dexter 0.5.5
  Formula/d/dexter.rb
Labels: ruby, CI-published-bottle-commits

#173555 lefthook 1.6.15
  Formula/l/lefthook.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173511 ns-3 3.42
  .github/autobump.txt
  Formula/n/ns-3.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#173503 simutrans 124.1
  Formula/s/simutrans.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#173560 automerge-from-merge-queue: remove some label checks
  .github/workflows/automerge-from-merge-queue.yml
Labels: automerge-skip, workflows

#173510 openj9 0.45.0
  .github/autobump.txt
  Formula/o/openj9.rb
Labels: ready to merge, CI-published-bottle-commits, autobump

#173514 yara-x 0.4.0 (new formula)
  .github/autobump.txt
  Formula/y/yara-x.rb
Labels: new formula, automerge-skip, CI-published-bottle-commits, autobump

#173564 kosli-cli 2.10.6
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#173461 oils-for-unix 0.22.0 (new formula)
  Formula/o/oils-for-unix.rb
Labels: new formula, ready to merge, CI-published-bottle-commits

#173565 automerge-from-merge-queue: fix merging from forks
  .github/workflows/automerge-from-merge-queue.yml
Labels: automerge-skip, workflows

#173566 git-cliff 2.3.0
  Formula/g/git-cliff.rb
Labels: rust, CI-published-bottle-commits

#173568 smartdns: update build arguments
  Formula/s/smartdns.rb
Labels: rust, CI-published-bottle-commits

#173570 freetds 1.4.17
  Formula/f/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#173577 svlint 0.9.3
  .github/autobump.txt
  Formula/s/svlint.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173579 mbt 1.2.28
  .github/autobump.txt
  Formula/m/mbt.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173578 svls 0.2.12
  .github/autobump.txt
  Formula/s/svls.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173592 zigmod 90
  .github/autobump.txt
  Formula/z/zigmod.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173603 pgvector 0.7.1
  Formula/p/pgvector.rb
Labels: CI-published-bottle-commits

#173602 sui 1.26.1
  Formula/s/sui.rb
Labels: rust, CI-published-bottle-commits

#173610 vespa-cli 8.350.38
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173619 mise 2024.6.1
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#173484 spdlog 1.14.1
  Formula/a/arrayfire.rb
  Formula/b/bear.rb
  Formula/c/cherrytree.rb
  Formula/c/cryfs.rb
  Formula/g/gnuradio.rb
  Formula/s/spdlog.rb
Labels: long build, CI-published-bottle-commits

#173626 mono-libgdiplus: update livecheck
  Formula/m/mono-libgdiplus.rb
Labels: livecheck, CI-syntax-only

#173601 vexctl 0.2.6 (new formula)
  .github/autobump.txt
  Formula/v/vexctl.rb
Labels: go, new formula, ready to merge, automerge-skip, CI-published-bottle-commits, autobump

#173632 fern-api 0.30.0 (new formula)
  .github/autobump.txt
  Formula/f/fern-api.rb
Labels: new formula, automerge-skip, CI-published-bottle-commits, autobump

#173648 logtalk 3.80.0
  Formula/l/logtalk.rb
Labels: superseded, automerge-skip, no push access

#173593 eksctl: remove aws-iam-authenticator
  Formula/e/eksctl.rb
Labels: go, CI-published-bottle-commits

#173649 libvirt-python 10.4.0
  Formula/lib/libvirt-python.rb
Labels: python, CI-published-bottle-commits

#173658 spades 4.0.0
  .github/autobump.txt
  Formula/s/spades.rb
Labels: python, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#173671 workflows/tests: make `conclusion` job depend on `test_deps`
  .github/workflows/tests.yml
Labels: automerge-skip, workflows

#173657 mvnvm 1.0.27
  .github/autobump.txt
  Formula/m/mvnvm.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits, autobump

#173666 infracost 0.10.37
  Formula/i/infracost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173629 cmake cmake-docs 3.29.4
  Formula/c/cmake-docs.rb
  Formula/c/cmake.rb
Labels: CI-skip-recursive-dependents, CI-published-bottle-commits, CI-no-fail-fast-deps

#173677 acl: mark attr as a build-only dependency
  Formula/a/acl.rb
Labels: linux-only, CI-published-bottle-commits

#173676 attr: drop gettext dependency
  Formula/a/attr.rb
Labels: linux-only, CI-no-bottles

#173650 odin 2024-06
  Formula/o/odin.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#173675 openssl@3: disable AF_ALG test
  Formula/o/openssl@3.rb
Labels: CI-skip-recursive-dependents, CI-skip-dependents, CI-no-bottles

#173679 protobuf: run tests on macOS
  Formula/p/protobuf.rb
Labels: CI-skip-dependents, CI-no-bottles

#173680 spirv-headers: update test
  Formula/s/spirv-headers.rb
Labels: CI-no-bottles

#173684 flow-cli 1.20.0
  Formula/f/flow-cli.rb
Labels: go, CI-published-bottle-commits

#173683 runme 3.3.3
  Formula/r/runme.rb
Labels: go, CI-published-bottle-commits

#173685 ktlint 1.3.0
  Formula/k/ktlint.rb
Labels: java, CI-published-bottle-commits

#173693 ansible-creator 24.6.0
  Formula/a/ansible-creator.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#173681 mongo-c-driver 1.27.2
  .github/autobump.txt
  Formula/m/mongo-c-driver.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173682 ccache: use Homebrew `span-lite`
  Formula/c/ccache.rb
Labels: CI-published-bottle-commits

#173722 flow-cli 1.20.3
  Formula/f/flow-cli.rb
Labels: go, CI-published-bottle-commits

#173704 ntp: update urls
  Formula/n/ntp.rb
Labels: livecheck, CI-no-bottles

#173719 go@1.21 1.21.11
  Formula/g/go@1.21.rb
Labels: go, legacy, CI-published-bottle-commits

#173696 mesheryctl 0.7.70
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#173727 mpop 1.4.19
  .github/autobump.txt
  Formula/m/mpop.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#173717 go 1.22.4
  Formula/g/garble.rb
  Formula/g/go.rb
Labels: CI-published-bottle-commits

#173759 trunk 0.20.2
  Formula/t/trunk.rb
Labels: rust, CI-published-bottle-commits

#173701 openssl@3.0 3.0.14
  .github/autobump.txt
  Formula/o/openssl@3.0.rb
Labels: legacy, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#173756 mtools 4.0.44
  .github/autobump.txt
  Formula/m/mtools.rb
Labels: CI-published-bottle-commits, autobump

#173827 aws-iam-authenticator 0.6.20
  Formula/a/aws-iam-authenticator.rb
Labels: go, livecheck, CI-published-bottle-commits

#173817 flow-cli 1.20.4
  Formula/f/flow-cli.rb
Labels: go, CI-published-bottle-commits

#173754 julia 1.10.4
  .github/autobump.txt
  Formula/j/julia.rb
Labels: livecheck, perl, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits, autobump

#172795 ocaml 5.2.0
  Formula/c/camlp-streams.rb
  Formula/c/camlp5.rb
  Formula/c/coq.rb
  Formula/h/hyperkit.rb
  Formula/l/ledit.rb
  Formula/m/math-comp.rb
  Formula/m/menhir.rb
  Formula/o/ocaml-findlib.rb
  Formula/o/ocaml-num.rb
  Formula/o/ocaml-zarith.rb
  Formula/o/ocaml.rb
Labels: ready to merge, CI-no-fail-fast, CI-build-dependents-from-source, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#173835 lua-language-server 3.9.2
  Formula/l/lua-language-server.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#173841 slither-analyzer 0.10.3
  Formula/s/slither-analyzer.rb
Labels: python, rust, CI-published-bottle-commits

#173840 docker docker-completion v26.1.4
  Formula/d/docker-completion.rb
  Formula/d/docker.rb
Labels: CI-published-bottle-commits

#173741 abi-compliance-checker, abi-dumper: deprecate
  Formula/a/abi-compliance-checker.rb
  Formula/a/abi-dumper.rb
Labels: perl, formula deprecated, CI-syntax-only

#173702 openssl@3 3.3.1
  Formula/o/openssl@3.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#173868 minio-mc 20240605181330
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173861 cmd/*: migrate to AbstractCommand
  cmd/aspell-dictionaries.rb
  cmd/check-ci-status.rb
  cmd/determine-rebottle-runners.rb
Labels: automerge-skip

#173883 yaml-language-server 1.15.0
  .github/autobump.txt
  Formula/y/yaml-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autobump

#173462 certifi 2024.6.2
  Formula/c/certifi.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#173825 openjdk@21 21.0.3
  .github/autobump.txt
  Formula/o/openjdk@21.rb
Labels: legacy, ready to merge, automerge-skip, bump-formula-pr, CI-published-bottle-commits, autobump

#173893 azion 1.28.1
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173867 basex 11.0
  Formula/b/basex.rb
Labels: java, ready to merge, CI-published-bottle-commits

#173866 tfel 4.2.1
  .github/autobump.txt
  Formula/t/tfel.rb
Labels: python, ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#173892 kubernetes-cli@1.29 1.29.5
  Formula/k/kubernetes-cli@1.29.rb
Labels: go, legacy, formula disabled, CI-published-bottle-commits

#173862 hyperkit: deprecate
  Formula/h/hyperkit.rb
Labels: ocaml, formula deprecated, CI-syntax-only, no ARM bottle, macos-only

#173908 mesheryctl 0.7.71
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#173913 cmake cmake-docs 3.29.5
  Formula/c/cmake-docs.rb
  Formula/c/cmake.rb
Labels: CI-skip-recursive-dependents, CI-published-bottle-commits, CI-no-fail-fast-deps

#173963 vespa-cli 8.353.26
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173966 kosli-cli 2.10.7
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#173700 toipe 0.5.0 (new formula)
  .github/autobump.txt
  Formula/t/toipe.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits, autobump

#173971 mise 2024.6.2
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#173870 cyctl 0.6.2 (new formula)
  .github/autobump.txt
  Formula/c/cyctl.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits, autobump

#173863 geos 3.12.2
  .github/autobump.txt
  Formula/g/geos.rb
Labels: ready to merge, bump-formula-pr, long build, CI-published-bottle-commits, autobump, long dependent tests

#173834 zfind 0.3.0 (new formula)
  .github/autobump.txt
  Formula/z/zfind.rb
Labels: new formula, ready to merge, CI-published-bottle-commits, autobump, CI-skip-new-formulae

#173995 tilt 0.33.16
  Formula/t/tilt.rb
Labels: go, nodejs, bump-formula-pr, CI-published-bottle-commits

#174006 greed: deprecate
  .github/autobump.txt
  Formula/g/greed.rb
Labels: CI-syntax-only, automerge-skip, autobump

#174007 hof 0.6.9
  .github/autobump.txt
  Formula/h/hof.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#174022 minio 20240606093642
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#173964 openjdk 22.0.1
  Formula/o/openjdk.rb
Labels: CI-build-dependents-from-source, long build, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#174021 kde 6.3.0
  Formula/e/extra-cmake-modules.rb
  Formula/k/karchive.rb
  Formula/k/kdoctools.rb
  Formula/k/ki18n.rb
  Formula/t/threadweaver.rb
Labels: CI-published-bottle-commits

#174030 clusterctl: support fish completion for clusterctl
  Formula/c/clusterctl.rb
Labels: go, CI-published-bottle-commits

#173965 bloaty: fix build, replace cxx standard to cxx17 by changing -std=c++11 to -std=c++17
  Formula/b/bloaty.rb
Labels: CI-published-bottle-commits

#174029 noir 0.16.0
  Formula/n/noir.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#174033 typstyle 0.11.24 (new formula)
  .github/autobump.txt
  Formula/t/typstyle.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits, autobump

#173414 wayland 1.23.0
  .github/autobump.txt
  Formula/w/wayland.rb
Labels: in progress, ready to merge, automerge-skip, bump-formula-pr, CI-published-bottle-commits, autobump, CI-linux-self-hosted-deps

#174043 vc 1.4.5
  .github/autobump.txt
  Formula/v/vc.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#174041 libplctag 2.5.6
  .github/autobump.txt
  Formula/lib/libplctag.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#174050 umple 1.34.0
  Formula/u/umple.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#174049 teensy_loader_cli 2.3
  .github/autobump.txt
  Formula/t/teensy_loader_cli.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#174048 atomicparsley 20240608.083822.1ed9031
  .github/autobump.txt
  Formula/a/atomicparsley.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#174042 libwbxml 0.11.9
  .github/autobump.txt
  Formula/lib/libwbxml.rb
Labels: license, bump-formula-pr, CI-published-bottle-commits, autobump

#173951 chsrc 0.1.6 (new formula)
  .github/autobump.txt
  Formula/c/chsrc.rb
Labels: new formula, automerge-skip, CI-published-bottle-commits, autobump

#174066 sqlsmith: fix indirect dependency linkage
  Formula/s/sqlsmith.rb
Labels: CI-published-bottle-commits

#174074 bibtex2html: update urls
  Formula/b/bibtex2html.rb
Labels: ocaml, livecheck, CI-no-bottles

#174062 scriptisto 2.2.0
  .github/autobump.txt
  Formula/s/scriptisto.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#174061 certbot 2.11.0
  .github/autobump.txt
  Formula/c/certbot.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#174060 libpqxx 7.9.1
  .github/autobump.txt
  Formula/lib/libpqxx.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#174087 mesheryctl 0.7.72
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#174086 smartdns 0.8.4
  .github/autobump.txt
  Formula/s/smartdns.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#174099 tundra: build with c++17
  Formula/t/tundra.rb
Labels: CI-no-bottles

#172811 libsodium 1.0.20
  Formula/lib/libsodium.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, CI-no-fail-fast, CI-published-bottle-commits
