Repository Homebrew/homebrew-core, pull requests merged in 2024-02, with the labels that each got.

#161404 etcd 3.5.12
  Formula/e/etcd.rb
Labels: go, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#161473 splint: add livecheck
  Formula/s/splint.rb
Labels: livecheck, CI-syntax-only

#161471 aerc 0.17.0
  Formula/a/aerc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161059 presenterm 0.5.0
  Formula/p/presenterm.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161479 mise 2024.2.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161476 lima 0.20.1
  Formula/l/lima.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161470 angular-cli 17.1.2
  Formula/a/angular-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161496 snakefmt 0.10.0
  Formula/s/snakefmt.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161502 aws-cdk 2.125.0
  Formula/a/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161503 gobackup 2.10.0
  Formula/g/gobackup.rb
Labels: go, nodejs, CI-published-bottle-commits

#161500 lima: update homepage
  Formula/l/lima.rb
Labels: go, CI-syntax-only, homepage

#161517 pdm 2.12.3
  Formula/p/pdm.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161499 yubico-piv-tool 2.5.0
  Formula/y/yubico-piv-tool.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161501 simdjson 3.6.4
  Formula/s/simdjson.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161498 swi-prolog 9.2.0
  Formula/s/swi-prolog.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161495 scarb 2.5.2
  Formula/s/scarb.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161492 rattler-build 0.8.0
  Formula/r/rattler-build.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161493 re2 20240201
  Formula/r/re2.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161509 ktoblzcheck: migrate to `python@3.12`
  Formula/k/ktoblzcheck.rb
Labels: python, CI-published-bottle-commits, python-3.12-migration

#161491 proguard 7.4.2
  Formula/p/proguard.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#161488 opendht 3.1.7
  Formula/o/opendht.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161485 massdriver 1.5.16
  Formula/m/massdriver.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161486 minio 20240131202033
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161487 minio-mc 20240131085940
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161515 cppzmq: use mordern cmake syntax
  Formula/c/cppzmq.rb
Labels: CI-no-bottles

#161516 cxxopts: use mordern cmake syntax
  Formula/c/cxxopts.rb
Labels: CI-no-bottles

#161524 commitizen 3.14.0
  Formula/c/commitizen.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161523 renovate 37.165.0
  Formula/r/renovate.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161542 verapdf 1.25.184
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#161533 nut: update dependencies
  Formula/n/nut.rb
Labels: CI-no-bottles

#161536 mx 7.8.1
  Formula/m/mx.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#161537 minizinc 2.8.3
  Formula/m/minizinc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161539 readpe 0.84
  Formula/r/readpe.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161530 fzf 0.46.1
  Formula/f/fzf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161538 kosli-cli 2.7.8
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#161540 rye 0.20.0
  Formula/r/rye.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161543 riff 2.30.0
  Formula/r/riff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161545 mesheryctl 0.7.14
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#161548 stylelint 16.2.1
  Formula/s/stylelint.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161551 goplus 1.2.0
  Formula/g/goplus.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#159164 (lha|phpbrew): update
  Formula/l/lha.rb
  Formula/p/phpbrew.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: CI-no-fail-fast, CI-published-bottle-commits, CI-checksum-change-confirmed

#161285 pgroonga: fix paths and test
  Formula/p/pgroonga.rb
Labels: CI-published-bottle-commits

#161552 code-cli 1.86.0
  Formula/c/code-cli.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161553 netlify-cli 17.15.7
  Formula/n/netlify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161518 kumactl 2.6.0
  Formula/k/kumactl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161564 webpack 5.90.1
  Formula/w/webpack.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161490 po4a 0.70
  Formula/p/po4a.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#161494 mame rom-tools 0.262
  Formula/m/mame.rb
  Formula/r/rom-tools.rb
Labels: CI-no-fail-fast, long build, CI-published-bottle-commits

#161568 mise 2024.2.1
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161572 bork 0.14.0
  Formula/b/bork.rb
Labels: superseded, automerge-skip, no push access

#161563 docker docker-completion 25.0.2
  Formula/d/docker-completion.rb
  Formula/d/docker.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161565 flow-cli 1.13.0
  Formula/f/flow-cli.rb
Labels: go, CI-published-bottle-commits

#161574 ascii 3.19
  Formula/a/ascii.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161575 gitleaks 8.18.2
  Formula/g/gitleaks.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161577 clarinet 2.2.0
  Formula/c/clarinet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161583 perltidy 20240202
  Formula/p/perltidy.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#161582 libucl 0.9.0
  Formula/lib/libucl.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161586 mgba, avrdude, dynamips: add link to libelf deprecation issue
  Formula/a/avrdude.rb
  Formula/d/dynamips.rb
  Formula/m/mgba.rb
Labels: CI-syntax-only

#161587 libcapn: disable
  Formula/lib/libcapn.rb
Labels: formula disabled, CI-syntax-only

#161589 gnome-common: disable
  Formula/g/gnome-common.rb
Labels: formula disabled, CI-syntax-only, deprecated license

#161590 trafshow: disable
  Formula/t/trafshow.rb
Labels: formula disabled, missing license, CI-syntax-only

#161591 qpm: disable
  Formula/q/qpm.rb
Labels: go, formula disabled, CI-syntax-only

#161592 pdf2djvu: disable
  Formula/p/pdf2djvu.rb
Labels: formula disabled, CI-syntax-only

#161595 guile@2: disable
  Formula/g/guile@2.rb
Labels: legacy, formula disabled, missing license, CI-syntax-only

#161596 bvm: disable
  Formula/b/bvm.rb
Labels: rust, formula disabled, CI-syntax-only

#161588 flowpipe 0.2.1 (new formula)
  Formula/f/flowpipe.rb
Labels: go, new formula, CI-published-bottle-commits

#161581 jdtls 1.32.0
  Formula/j/jdtls.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#161608 roadrunner 2023.3.10
  Formula/r/roadrunner.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161607 immortal 0.24.5
  Formula/i/immortal.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161599 ruff 0.2.0
  Formula/r/ruff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161609 python-pytz 2024.1
  Formula/p/python-pytz.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161610 ruff-lsp 0.0.51
  Formula/r/ruff-lsp.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161611 terraform-local 0.17.1
  Formula/t/terraform-local.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161612 mise 2024.2.2
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161613 pipenv 2023.12.0
  Formula/p/pipenv.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161600 act 0.2.59
  Formula/a/act.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161616 libresample: add livecheck
  Formula/lib/libresample.rb
Labels: livecheck, CI-syntax-only, deprecated license

#161620 ddns-go 6.1.1
  Formula/d/ddns-go.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161621 pixi 0.13.0
  Formula/p/pixi.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161618 byobu 6.10
  Formula/b/byobu.rb
Labels: repo-location-update, CI-published-bottle-commits

#161624 mesheryctl 0.7.15
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#161625 flyctl 0.1.147
  Formula/f/flyctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161628 rattler-build 0.8.1
  Formula/r/rattler-build.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161562 libmicrohttpd 1.0.0
  Formula/lib/libmicrohttpd.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161630 colima 0.6.8
  Formula/c/colima.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161632 corral 0.8.1
  Formula/c/corral.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161634 jose 12
  Formula/j/jose.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161635 aws-cdk 2.126.0
  Formula/a/aws-cdk.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161631 cargo-make 0.37.9
  Formula/c/cargo-make.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161633 ghq 1.5.0
  Formula/g/ghq.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161637 mx 7.8.2
  Formula/m/mx.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#161638 openh264 2.4.1
  Formula/o/openh264.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161639 phpunit 11.0.0
  Formula/p/phpunit.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#161642 typescript-language-server 4.3.2
  Formula/t/typescript-language-server.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#161640 talhelper 2.0.1
  Formula/t/talhelper.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161643 verapdf 1.25.187
  Formula/v/verapdf.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#161644 wasm-micro-runtime 1.3.2
  Formula/w/wasm-micro-runtime.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161641 storm 2.6.1
  Formula/s/storm.rb
Labels: python, java, bump-formula-pr, CI-published-bottle-commits

#161652 kew 2.2
  Formula/k/kew.rb
Labels: linux-only, bump-formula-pr, ffmpeg, CI-published-bottle-commits

#161650 glibmm 2.78.1
  Formula/g/glibmm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#160521 cucumber-cpp 0.7.0
  Formula/c/cucumber-cpp.rb
Labels: ruby, CI-published-bottle-commits

#161651 dive 0.12.0
  Formula/d/dive.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161645 poac 0.9.3
  Formula/p/poac.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161653 popeye 0.11.3
  Formula/p/popeye.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161444 aws-sdk-cpp 1.11.255
  Formula/a/aws-sdk-cpp.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#161671 minder 0.0.28
  Formula/m/minder.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161682 mise 2024.2.3
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161673 werf 1.2.287
  Formula/w/werf.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161665 doitlive 5.1.0
  Formula/d/doitlive.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#161669 geogram 1.8.7
  Formula/g/geogram.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161668 dmd dtools 2.107.0
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#161670 kwok 0.5.0
  Formula/k/kwok.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161674 trino 438
  Formula/t/trino.rb
Labels: python, java, CI-published-bottle-commits

#161686 webfs: add livecheck
  Formula/w/webfs.rb
Labels: livecheck, CI-syntax-only

#161667 phpunit 11.0.1
  Formula/p/phpunit.rb
Labels: php, bump-formula-pr, CI-published-bottle-commits

#161688 mise 2024.2.4
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161672 okta-aws-cli 2.0.1
  Formula/o/okta-aws-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161666 flowpipe 0.2.2
  Formula/f/flowpipe.rb
Labels: go, CI-published-bottle-commits

#161656 gradle 8.6
  Formula/g/gradle.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#161647 igraph 0.10.9
  Formula/i/igraph.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161687 podman 4.9.2
  Formula/p/podman.rb
Labels: go, rust, bump-formula-pr, CI-published-bottle-commits

#161689 mise: update homepage
  Formula/m/mise.rb
Labels: rust, CI-syntax-only, homepage

#161690 cloudfox 1.13.2
  Formula/c/cloudfox.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161691 cpp-httplib 0.15.2
  Formula/c/cpp-httplib.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161693 ollama 0.1.23
  Formula/o/ollama.rb
Labels: go, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#161694 openstackclient 6.5.0
  Formula/o/openstackclient.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#161695 pymupdf 1.23.21
  Formula/p/pymupdf.rb
Labels: python, CI-published-bottle-commits

#161698 scarb 2.5.3
  Formula/s/scarb.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#161701 spicetify-cli 2.31.0
  Formula/s/spicetify-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161702 spigot 20240202
  Formula/s/spigot.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161700 snakemake 8.4.3
  Formula/s/snakemake.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#161703 talhelper 2.0.2
  Formula/t/talhelper.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161704 tt 2.1.2
  Formula/t/tt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161706 vultr 2.22.0
  Formula/v/vultr.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161705 victoriametrics 1.97.1
  Formula/v/victoriametrics.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#161707 sickchill 2024.2.2
  Formula/s/sickchill.rb
Labels: python, CI-published-bottle-commits

#161713 crystalline 0.12.1
  Formula/c/crystalline.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161714 csound: update Ableton Link resource
  Formula/c/csound.rb
Labels: python, java, CI-published-bottle-commits

#161715 ugit 5.8
  Formula/u/ugit.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161697 root 6.30.04
  Formula/r/root.rb
Labels: python, bump-formula-pr, no Linux bottle, long build, CI-published-bottle-commits

#161664 CONTRIBUTING: fix command to tap homebrew/core
  CONTRIBUTING.md
Labels: automerge-skip

#161716 noir 0.12.2
  Formula/n/noir.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#161514 codequery: use mordern cmake syntax
  Formula/c/codequery.rb
Labels: CI-no-bottles, homepage

#161606 poppler poppler-qt5 24.02.0
  Formula/g/gdal.rb
  Formula/p/pdftoipe.rb
  Formula/p/poppler-qt5.rb
  Formula/p/poppler.rb
Labels: bump-formula-pr, long build, CI-published-bottle-commits

#161723 benerator 3.2.1
  Formula/b/benerator.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#161724 melange bumped to 0.5.7
  Formula/m/melange.rb
Labels: go, CI-published-bottle-commits

#161719 minio: change removed --config-dir to --certs-dir
  Formula/m/minio.rb
Labels: go, CI-published-bottle-commits

#161474 libusb 1.0.27
  Formula/lib/libusb.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#161424 sui 1.17.3 (new formula)
  Formula/s/sui.rb
Labels: new formula, rust, CI-no-fail-fast, long build, CI-published-bottle-commits

#161733 ktoblzcheck 1.57
  Formula/k/ktoblzcheck.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits
