Repository Homebrew/homebrew-core, pull requests merged in 2024-10, with the labels that each got.

#192312 inchi 1.07.1 (new formula); open-babel rdkit: use `inchi`
  Formula/i/inchi.rb
  Formula/o/open-babel.rb
  Formula/r/rdkit.rb
Labels: new formula, notability, CI-no-fail-fast, CI-published-bottle-commits, CI-skip-new-formulae

#192422 halide: link directly to `lldCommon`
  Formula/h/halide.rb
Labels: python, CI-published-bottle-commits

#192440 sui 1.34.1
  Formula/s/sui.rb
Labels: rust, CI-published-bottle-commits

#192442 hdf5: update livecheck
  Formula/h/hdf5.rb
Labels: livecheck, CI-syntax-only

#192415 lua-language-server 3.11.0
  Formula/l/lua-language-server.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#192391 repopack 0.1.40 (new formula)
  Formula/r/repopack.rb
Labels: nodejs, new formula, ready to merge, CI-published-bottle-commits

#192455 hopenpgp-tools 0.23.10
  .github/autobump.txt
  Formula/h/hopenpgp-tools.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits, autobump

#192454 arpack: workaround for test on Sequoia
  Formula/a/arpack.rb
Labels: CI-no-bottles

#192461 polkit 125 (new formula)
  Formula/p/polkit.rb
Labels: new formula, linux-only, notability, CI-published-bottle-commits, CI-skip-new-formulae

#192484 facad 1.4.0 (new formula)
  Formula/f/facad.rb
Labels: new formula, CI-published-bottle-commits

#192348 probe-rs-tools 0.24.0 (new formula)
  Formula/p/probe-rs-tools.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits

#192497 nmrpflash 0.9.24
  Formula/n/nmrpflash.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192472 maturin: install python module
  Formula/m/maturin.rb
Labels: rust, ready to merge, CI-published-bottle-commits

#192411 freerdp: disable unmaintained native client/server on Sequoia
  Formula/f/freerdp.rb
Labels: icu4c, ffmpeg, CI-published-bottle-commits

#192529 azion 1.39.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192465 binsider 0.2.0 (new formula)
  Formula/b/binsider.rb
Labels: new formula, rust, CI-published-bottle-commits

#192464 rsgain 3.5.2 (new formula)
  Formula/r/rsgain.rb
Labels: new formula, ffmpeg, CI-published-bottle-commits

#192534 tccutil 1.5.0
  .github/autobump.txt
  Formula/t/tccutil.rb
Labels: python, bump-formula-pr, macos-only, CI-published-bottle-commits, autobump

#192535 vcpkg 2024.09.30
  Formula/v/vcpkg.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192533 spidermonkey@115 115.16.0
  .github/autobump.txt
  Formula/s/spidermonkey@115.rb
Labels: legacy, rust, formula disabled, bump-formula-pr, icu4c, CI-published-bottle-commits, autobump

#192538 cadence 1.0.0
  Formula/c/cadence.rb
Labels: go, homepage, CI-published-bottle-commits

#192476 cryptography: depend on `maturin`
  Formula/c/cryptography.rb
Labels: rust, ready to merge, CI-no-bottles, CI-no-fail-fast-deps

#192549 taglib: use modern `cmake` syntax
  Formula/t/taglib.rb
Labels: CI-no-bottles

#192580 repopack 0.1.41
  Formula/r/repopack.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#192579 eleventy 3.0.0
  Formula/e/eleventy.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#192581 freetds 1.4.23
  Formula/f/freetds.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192582 git-spice 0.7.0
  Formula/g/git-spice.rb
Labels: go, CI-published-bottle-commits

#192300 crossplane 1.17.1 (new formula)
  Formula/c/crossplane.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits

#190949 sysprof 47.0 (new formula)
  Formula/s/sysprof.rb
Labels: new formula, linux-only, CI-published-bottle-commits

#192485 workflows/scheduled: improve coverage of scheduled online checks
  .github/workflows/scheduled.yml
Labels: ready to merge, CI-syntax-only, automerge-skip, workflows

#192525 odin 2024-10
  Formula/o/odin.rb
Labels: test failure, bump-formula-pr, CI-published-bottle-commits

#192507 setconf 0.7.7 (new formula)
  Formula/s/setconf.rb
Labels: python, new formula, ready to merge, CI-published-bottle-commits, CI-skip-new-formulae

#192550 gh 2.58.0
  Formula/g/gh.rb
Labels: go, brew, CI-published-bottle-commits

#192567 luajit 2.1.1727870382
  Formula/l/luajit.rb
Labels: ready to merge, CI-published-bottle-commits, CI-no-fail-fast-deps

#192623 procs: fix typo
  Formula/p/procs.rb
Labels: rust, CI-syntax-only

#192589 polkit: build on macOS
  Formula/p/polkit.rb
Labels: CI-published-bottle-commits

#192639 mesheryctl 0.7.110
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192640 httpd: fix style
  Formula/h/httpd.rb
Labels: CI-no-bottles

#192650 probe-rs-tools: add livecheck and autobump
  .github/autobump.txt
  Formula/p/probe-rs-tools.rb
Labels: livecheck, CI-syntax-only, autobump

#192643 proguard 7.6.0
  Formula/p/proguard.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#192644 vulsio-gost 0.5.0
  .github/autobump.txt
  Formula/v/vulsio-gost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#192642 psqlodbc 17.00.0002
  Formula/p/psqlodbc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192648 roxctl 4.5.3
  .github/autobump.txt
  Formula/r/roxctl.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#192646 serialosc 1.4.5
  .github/autobump.txt
  Formula/s/serialosc.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192645 tmt 1.37.0
  Formula/t/tmt.rb
Labels: python, rust, CI-published-bottle-commits

#192657 apify-cli 0.20.9
  Formula/a/apify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#192658 glab 1.47.0
  Formula/g/glab.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192659 twm: update dependencies
  Formula/t/twm.rb
Labels: CI-no-bottles

#192536 opencolorio 2.4.0
  .github/autobump.txt
  Formula/o/opencolorio.rb
  Formula/o/openimageio.rb
Labels: python, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#192660 the_silver_searcher: add `zlib` dependency, update build
  Formula/t/the_silver_searcher.rb
Labels: CI-no-bottles

#192679 fpdns: deprecate
  Formula/f/fpdns.rb
Labels: perl, formula deprecated, CI-syntax-only, CI-no-bottles

#192678 coreutils: declare indirect dependencies with linkage
  Formula/c/coreutils.rb
Labels: CI-skip-dependents, CI-no-bottles

#192670 ortp: fix HEAD build by switching to `openssl@3`
  Formula/o/ortp.rb
Labels: CI-no-bottles

#192677 minio-mc 20241002082728
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192661 exult: add `alsa-lib` dependency
  Formula/e/exult.rb
Labels: CI-no-bottles

#192530 lowdown 1.1.2
  Formula/l/lowdown.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#192687 minio 20241002175041
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192522 python@3.12 3.12.7
  Formula/p/python-gdbm@3.12.rb
  Formula/p/python-tk@3.12.rb
  Formula/p/python@3.12.rb
Labels: bump-formula-pr, CI-published-bottle-commits, CI-linux-self-hosted-deps, CI-no-fail-fast-deps, long dependent tests

#192700 redis 7.2.6
  Formula/r/redis.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192701 redis@6.2 6.2.16
  Formula/r/redis@6.2.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits

#192696 libmonome 1.4.8
  .github/autobump.txt
  Formula/lib/libmonome.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192694 kube-score 1.19.0
  .github/autobump.txt
  Formula/k/kube-score.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#192695 liblxi 1.21
  .github/autobump.txt
  Formula/lib/liblxi.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192693 facad 2.1.0
  .github/autobump.txt
  Formula/f/facad.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192691 device-mapper 2.03.27
  Formula/d/device-mapper.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits

#192702 telegram-downloader 0.17.5
  Formula/t/telegram-downloader.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192698 metview 5.23.0
  Formula/m/metview.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192686 workflows/scheduled: add bottle attestation check
  .github/workflows/scheduled.yml
Labels: CI-syntax-only, automerge-skip, workflows

#192708 neovim 0.10.2
  Formula/n/neovim.rb
Labels: lua, bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps

#192505 llvm lld flang 19.1.1
  Formula/f/flang.rb
  Formula/l/lld.rb
  Formula/l/llvm.rb
Labels: CI-no-fail-fast, long build, CI-published-bottle-commits, CI-no-fail-fast-deps

#192734 autobump: remove `ortp`
  .github/autobump.txt
Labels: CI-syntax-only, autobump

#192588 sonar-scanner: Allow overriding JDK
  Formula/s/sonar-scanner.rb
Labels: java, CI-published-bottle-commits

#192730 molten-vk 1.2.11
  Formula/m/molten-vk.rb
Labels: macos-only, CI-published-bottle-commits

#192731 incus 6.6
  Formula/i/incus.rb
Labels: go, CI-published-bottle-commits

#192748 zrok 0.4.41
  Formula/z/zrok.rb
Labels: go, nodejs, CI-published-bottle-commits

#192763 mise 2024.10.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#192788 tal: add livecheck
  Formula/t/tal.rb
Labels: livecheck, CI-syntax-only

#192782 mesa 24.2.4
  Formula/m/mesa.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#192049 openstackclient: add keystoneauth-websso
  Formula/o/openstackclient.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#192749 aws-console cfn-format rain 1.16.1
  Formula/a/aws-console.rb
  Formula/c/cfn-format.rb
  Formula/r/rain.rb
Labels: go, CI-published-bottle-commits

#184096 spidermonkey@91: disable
  Formula/s/spidermonkey@91.rb
Labels: legacy, rust, formula disabled, CI-syntax-only, icu4c

#192380 csvkit: link newly included manpages
  Formula/c/csvkit.rb
Labels: python, CI-published-bottle-commits

#192808 swig: fix test to use python3.12 (instead of python3)
  Formula/s/swig.rb
Labels: CI-no-bottles

#181773 paperjam 1.2.1 (new formula)
  Formula/p/paperjam.rb
Labels: new formula, CI-published-bottle-commits

#192794 liquidctl: update resources
  Formula/l/liquidctl.rb
Labels: python, CI-published-bottle-commits

#192611 flang: link to C++ standard lib automatically
  Formula/f/flang.rb
Labels: ready to merge, long build, CI-published-bottle-commits

#192817 autobump: add `binsider` and `rsgain`
  .github/autobump.txt
Labels: CI-syntax-only, automerge-skip, autobump

#192729 afl++: fix baked-in Cellar references
  Formula/a/afl++.rb
Labels: python, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#192840 mesheryctl 0.7.111
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192855 lxi-tools: remove deps and avoid postinstalling in bottle
  Formula/l/lxi-tools.rb
Labels: lua, CI-published-bottle-commits

#192854 swig: test with macos python
  Formula/s/swig.rb
Labels: CI-no-bottles

#192865 kosli-cli 2.10.17
  Formula/k/kosli-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192862 wthrr 1.2.1
  .github/autobump.txt
  Formula/w/wthrr.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#192863 taskopen 2.0.2
  .github/autobump.txt
  Formula/t/taskopen.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192867 basex 11.4
  Formula/b/basex.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#192868 aider 0.59.0
  Formula/a/aider.rb
Labels: python, rust, CI-published-bottle-commits

#192870 sidekick 0.6.1
  Formula/s/sidekick.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#192885 mesheryctl 0.7.112
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192886 tllist 1.1.0 (new formula)
  Formula/t/tllist.rb
Labels: new formula, CI-published-bottle-commits

#192888 mesheryctl 0.7.113
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192876 neovim: simplify `install` method
  Formula/n/neovim.rb
Labels: lua, CI-no-bottles

#192890 tree-sitter: fix `.pc` file generation
  Formula/t/tree-sitter.rb
Labels: nodejs, rust, ready to merge, CI-published-bottle-commits

#192889 cherrytree: remove `gtksourceviewmm3` dependency
  Formula/c/cherrytree.rb
Labels: CI-published-bottle-commits

#192900 enchant: update url and homepage
  Formula/e/enchant.rb
Labels: CI-no-bottles

#192891 semgrep: link dynamically to `libev`
  Formula/s/semgrep.rb
Labels: ocaml, python, rust, ready to merge, CI-published-bottle-commits

#192902 deheader 1.11
  Formula/d/deheader.rb
Labels: python, CI-published-bottle-commits

#192894 libpsl: replace `icu4c` with `libidn2`
  Formula/lib/libpsl.rb
Labels: CI-published-bottle-commits, CI-no-fail-fast-deps

#192903 rizin: de-vendor `tree-sitter`
  Formula/r/rizin.rb
Labels: CI-published-bottle-commits

#192910 lightgbm: remove unused CMake argument
  Formula/l/lightgbm.rb
Labels: CI-no-bottles

#192909 libsoup*: remove `icu4c` test dep
  Formula/lib/libsoup.rb
  Formula/lib/libsoup@2.rb
Labels: CI-no-bottles, CI-no-fail-fast-deps

#192924 mesheryctl 0.7.114
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192926 python-*: remove
  Formula/p/python-dateutil.rb
  Formula/p/python-psutil.rb
  Formula/p/python-pytz.rb
  Formula/p/python-trove-classifiers.rb
  Formula/p/python-typing-extensions.rb
  Formula/s/sslyze.rb
Labels: marked for removal/rejection, formula disabled, CI-syntax-only

#192921 pygitup 2.3.0
  Formula/p/pygitup.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#192934 monero: backport fix needed for boost 1.86.0+
  Formula/m/monero.rb
Labels: boost, CI-published-bottle-commits

#192869 m68k-elf-bintuils 2.43.1 (new formula)
  Formula/m/m68k-elf-binutils.rb
  synced_versions_formulae.json
Labels: new formula, ready to merge, automerge-skip, CI-no-fail-fast, CI-published-bottle-commits

#192935 batt 0.3.0
  .github/autobump.txt
  Formula/b/batt.rb
Labels: go, bump-formula-pr, macos-only, CI-published-bottle-commits, autobump

#192938 goredo: update urls
  Formula/g/goredo.rb
Labels: go, livecheck, CI-published-bottle-commits

#192939 vramsteg: update homepage and modernize cmake
  Formula/v/vramsteg.rb
Labels: CI-no-bottles

#192937 aider 0.59.1
  Formula/a/aider.rb
Labels: python, rust, CI-published-bottle-commits

#192946 riff 3.3.3
  Formula/r/riff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#192951 mesheryctl 0.7.115
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192961 boxes 2.3.1
  .github/autobump.txt
  Formula/b/boxes.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192970 pygit2: drop `python-setuptools`
  Formula/p/pygit2.rb
  pypi_formula_mappings.json
Labels: CI-no-bottles

#192973 mesheryctl 0.7.117
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#192977 honcho 2.0.0
  Formula/h/honcho.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#192972 awscli: fix extra packages
  Formula/a/awscli.rb
  pypi_formula_mappings.json
Labels: CI-no-bottles

#192975 m68k-elf-gcc 14.2.0 (new formula)
  Formula/m/m68k-elf-gcc.rb
  synced_versions_formulae.json
Labels: new formula, ready to merge, CI-published-bottle-commits

#192945 libparserutils 0.2.5 (new formula)
  Formula/lib/libparserutils.rb
Labels: new formula, ready to merge, CI-published-bottle-commits

#192923 argtable3 3.2.2 (new formula)
  Formula/a/argtable3.rb
Labels: new formula, CI-published-bottle-commits

#192988 ckan 1.35.2
  .github/autobump.txt
  Formula/c/ckan.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192987 alembic 1.8.7
  .github/autobump.txt
  Formula/a/alembic.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#192880 hdf5: backport c++ regression fix
  Formula/h/hdf5.rb
Labels: CI-skip-recursive-dependents, CI-skip-dependents, CI-published-bottle-commits

#193002 cpplint 2.0.0
  Formula/c/cpplint.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#193003 gpsd: replace setuptools in SConscript
  Formula/g/gpsd.rb
Labels: CI-no-bottles

#193008 clingo: drop stale setuptools
  Formula/c/clingo.rb
Labels: lua, python, CI-no-bottles

#193011 eigenpy: drop stale setuptools
  Formula/e/eigenpy.rb
Labels: python, CI-no-bottles, boost

#193013 fontforge: drop setuptools
  Formula/f/fontforge.rb
Labels: python, CI-no-bottles

#193015 genometools: drop setuptools
  Formula/g/genometools.rb
Labels: python, CI-no-bottles

#193005 cyphernetes 0.12.1
  .github/autobump.txt
  Formula/c/cyphernetes.rb
Labels: go, CI-published-bottle-commits, autobump

#192989 libcss 0.9.2 (new formula)
  .github/autobump.txt
  Formula/lib/libcss.rb
Labels: new formula, CI-no-fail-fast, CI-published-bottle-commits, autobump

#193018 vip: update homepage, stable
  Formula/v/vip.rb
Labels: CI-no-bottles

#193017 onlykey-agent: remove cython dep
  Formula/o/onlykey-agent.rb
Labels: python, CI-no-bottles

#193020 gsmartcontrol: add indirect deps
  Formula/g/gsmartcontrol.rb
Labels: CI-no-bottles

#193021 ktoblzcheck: drop setuptools
  Formula/k/ktoblzcheck.rb
Labels: python, CI-no-bottles

#193022 ldns: drop setuptools
  Formula/l/ldns.rb
Labels: python, CI-no-bottles

#193025 lensfun: drop setuptools
  Formula/l/lensfun.rb
Labels: python, CI-no-bottles

#193019 eiffelstudio 23.09.107341
  Formula/e/eiffelstudio.rb
Labels: CI-published-bottle-commits

#193026 proxsuite: drop setuptools
  Formula/p/proxsuite.rb
Labels: python, CI-no-bottles

#193028 pygobject3: drop setuptools
  Formula/p/pygobject3.rb
Labels: CI-no-bottles

#193031 sidekick 0.6.2
  Formula/s/sidekick.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits
