Repository Homebrew/homebrew-core, pull requests merged in 2024-05, with the labels that each got.

#170507 docker docker-completion 26.1.1
  Formula/d/docker-completion.rb
  Formula/d/docker.rb
Labels: CI-published-bottle-commits

#170515 zorba: deprecate
  Formula/z/zorba.rb
Labels: java, formula deprecated, CI-syntax-only, no Linux bottle, icu4c

#170511 t-completion 4.1.1
  .github/autobump.txt
  Formula/t/t-completion.rb
Labels: CI-published-bottle-commits, autobump

#170522 nano 8.0
  Formula/n/nano.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#170508 minio 20240501011110
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#170473 sbcl 2.4.4
  .github/autobump.txt
  Formula/a/acl2.rb
  Formula/m/maxima.rb
  Formula/s/sbcl.rb
Labels: ready to merge, bump-formula-pr, CI-skip-recursive-dependents, CI-published-bottle-commits, autobump

#170523 texlab 5.16.0
  Formula/t/texlab.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#170534 ruby-build 20240501
  Formula/r/ruby-build.rb
Labels: CI-published-bottle-commits

#170533 mongo-c-driver 1.27.0
  Formula/m/mongo-c-driver.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#170514 apache-archiva: deprecate
  Formula/a/apache-archiva.rb
Labels: java, formula deprecated, CI-syntax-only

#170536 eprover 3.1
  .github/autobump.txt
  Formula/e/eprover.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170535 archi-steam-farm 6.0.2.6
  .github/autobump.txt
  Formula/a/archi-steam-farm.rb
Labels: bump-formula-pr, dotnet, CI-published-bottle-commits, autobump

#170510 raxml-ng 1.2.2
  .github/autobump.txt
  Formula/r/raxml-ng.rb
Labels: ready to merge, bump-formula-pr, homepage, CI-published-bottle-commits, autobump

#170476 julia 1.10.3
  Formula/j/julia.rb
Labels: perl, CI-no-fail-fast, no Linux bottle, CI-published-bottle-commits

#170182 task@2 2.6.2 (new formula)
  Aliases/task@3
  Formula/t/task@2.rb
Labels: new formula, legacy, ready to merge, CI-published-bottle-commits

#170542 stepci 2.8.1
  .github/autobump.txt
  Formula/s/stepci.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autobump

#170539 liburing 2.6
  .github/autobump.txt
  Formula/lib/liburing.rb
Labels: linux-only, bump-formula-pr, CI-published-bottle-commits, autobump

#170540 msmtp 1.8.26
  .github/autobump.txt
  Formula/m/msmtp.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170538 ipbt 20240501
  Formula/i/ipbt.rb
Labels: CI-published-bottle-commits

#170563 quotatool 1.6.4
  .github/autobump.txt
  Formula/q/quotatool.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170575 mise 2024.5.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#170583 mise 2024.5.1
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#170584 mise 2024.5.2
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#170602 bazelisk: fix version output
  Formula/b/bazelisk.rb
Labels: go, CI-published-bottle-commits

#170564 tenv 1.10.0
  Formula/o/opentofu.rb
  Formula/t/tenv.rb
  Formula/t/terraform.rb
  Formula/t/terragrunt.rb
  Formula/t/tfenv.rb
  Formula/t/tgenv.rb
Labels: CI-published-bottle-commits

#170587 edencommon fb303 fbthrift fizz folly mvfst proxygen wangle watchman 2024.04.29.00
  Formula/e/edencommon.rb
  Formula/f/fb303.rb
  Formula/f/fbthrift.rb
  Formula/f/fizz.rb
  Formula/f/folly.rb
  Formula/m/mvfst.rb
  Formula/p/proxygen.rb
  Formula/w/wangle.rb
  Formula/w/watchman.rb
Labels: CI-published-bottle-commits

#170603 mesheryctl 0.7.52
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#170614 gedit: add livecheck
  Formula/g/gedit.rb
Labels: livecheck, CI-syntax-only

#170613 json2ts 14.0.4
  .github/autobump.txt
  Formula/j/json2ts.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autobump

#170615 pkl: switch to `openjdk@17`
  Formula/p/pkl.rb
Labels: java, CI-published-bottle-commits

#170627 bottom: update default branch for 'head' build
  Formula/b/bottom.rb
Labels: rust, CI-syntax-only

#170644 vespa-cli 8.338.38
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#170654 kubeshark 52.3.0
  Formula/k/kubeshark.rb
Labels: go, superseded, automerge-skip, no push access

#170651 simde 0.8.2
  .github/autobump.txt
  Formula/s/simde.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170650 scc 3.3.2
  .github/autobump.txt
  Formula/s/scc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#170655 kubecolor 0.3.2
  Formula/k/kubecolor.rb
Labels: go, CI-published-bottle-commits

#170652 stern 1.29.0
  .github/autobump.txt
  Formula/s/stern.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#170653 vis 0.9
  .github/autobump.txt
  Formula/v/vis.rb
Labels: lua, bump-formula-pr, CI-published-bottle-commits, autobump

#170626 tflint 0.51.0
  Formula/t/tflint.rb
Labels: go, CI-published-bottle-commits

#170648 rdkit 2024.03.2
  Formula/r/rdkit.rb
Labels: python, bump-formula-pr, boost, CI-published-bottle-commits

#170562 deno 1.43.1
  Formula/d/deno.rb
Labels: rust, ready to merge, long build, CI-published-bottle-commits

#170681 juliaup 1.14.8
  Formula/j/juliaup.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#167092 cahute 0.3 (new formula)
  .github/autobump.txt
  Formula/c/cahute.rb
  pypi_formula_mappings.json
Labels: new formula, ready to merge, automerge-skip, CI-no-fail-fast, CI-published-bottle-commits, autobump

#170679 xsimd 13.0.0
  .github/autobump.txt
  Formula/x/xsimd.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#170682 fastapi 0.111.0 (new formula)
  .github/autobump.txt
  Formula/f/fastapi.rb
  pypi_formula_mappings.json
Labels: new formula, CI-published-bottle-commits, autobump

#170685 aws-console cfn-format rain 1.8.6
  Formula/a/aws-console.rb
  Formula/c/cfn-format.rb
  Formula/r/rain.rb
Labels: go, CI-published-bottle-commits

#170565 tofuenv 1.0.6 (new formula)
  .github/autobump.txt
  Formula/t/tofuenv.rb
Labels: new formula, ready to merge, CI-published-bottle-commits, autobump

#170696 trunk 0.20.0
  Formula/t/trunk.rb
Labels: rust, CI-published-bottle-commits

#170657 octave: fixes for Qt 6.7.0
  Formula/o/octave.rb
Labels: java, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#170697 graphicsmagick: add dependency on libheif
  Formula/g/graphicsmagick.rb
Labels: CI-published-bottle-commits

#170717 hcl2json 0.6.3
  .github/autobump.txt
  Formula/h/hcl2json.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#170714 aftman 0.2.8
  .github/autobump.txt
  Formula/a/aftman.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#170719 sonarqube-lts 9.9.5.90363
  Formula/s/sonarqube-lts.rb
Labels: java, livecheck, CI-published-bottle-commits

#170722 backupninja: update livecheck
  Formula/b/backupninja.rb
Labels: livecheck, CI-syntax-only

#170730 ngircd 27
  Formula/n/ngircd.rb
Labels: livecheck, CI-published-bottle-commits

#170724 pnpm@8: add pnpm and pnpx symlinks
  Formula/p/pnpm@8.rb
Labels: nodejs, legacy, formula disabled, CI-published-bottle-commits

#170043 openjdk 21.0.3
  Formula/o/openjdk.rb
Labels: CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits

#170735 dmd dtools 2.108.1
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#170736 gdcm 3.0.24
  .github/autobump.txt
  Formula/g/gdcm.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#170686 veilid: fix test
  Formula/v/veilid.rb
Labels: rust, ready to merge, CI-no-bottles

#170716 glslang 14.2.0
  .github/autobump.txt
  Formula/g/glslang.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-published-bottle-commits, autobump

#170757 tio: remove `inih` dependency
  Formula/t/tio.rb
Labels: lua, CI-published-bottle-commits

#170771 pluto 5.19.4
  .github/autobump.txt
  Formula/p/pluto.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#170772 yamlfmt 0.12.0
  .github/autobump.txt
  Formula/y/yamlfmt.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#170769 cargo-auditable 0.6.3
  .github/autobump.txt
  Formula/c/cargo-auditable.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#170770 pcl 1.14.1
  .github/autobump.txt
  Formula/p/pcl.rb
Labels: bump-formula-pr, boost, CI-published-bottle-commits, autobump

#170778 ansible-creator 24.5.0 (new formula)
  Formula/a/ansible-creator.rb
Labels: python, new formula, CI-published-bottle-commits

#170668 edencommon fb303 fbthrift fizz folly mvfst proxygen wangle watchman 2024.05.02.00
  Formula/e/edencommon.rb
  Formula/f/fb303.rb
  Formula/f/fbthrift.rb
  Formula/f/fizz.rb
  Formula/f/folly.rb
  Formula/m/mvfst.rb
  Formula/p/proxygen.rb
  Formula/w/wangle.rb
  Formula/w/watchman.rb
Labels: CI-published-bottle-commits

#170817 aide 0.18.7
  .github/autobump.txt
  Formula/a/aide.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170818 libplist 2.5.0
  .github/autobump.txt
  Formula/lib/libplist.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170765 qtkeychain 0.14.3
  .github/autobump.txt
  Formula/q/qtkeychain.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, autobump

#170825 rhino 1.7.15
  Formula/r/rhino.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#170823 vunnel 0.22.2
  Formula/v/vunnel.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#170830 mesheryctl 0.7.53
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#170833 fff, neofetch, pfetch: deprecate
  Formula/f/fff.rb
  Formula/n/neofetch.rb
  Formula/p/pfetch.rb
Labels: formula deprecated, CI-no-bottles

#170834 dvorak7min: deprecate
  Formula/d/dvorak7min.rb
Labels: formula deprecated, CI-syntax-only, deprecated license

#170835 aggregate: deprecate
  Formula/a/aggregate.rb
Labels: formula deprecated, CI-syntax-only

#170839 tetra 1.1.0
  Formula/t/tetra.rb
Labels: go, CI-published-bottle-commits

#170865 logdy v0.11
  Formula/l/logdy.rb
Labels: go, CI-published-bottle-commits

#170838 nextdns 1.43.3 (new formula)
  .github/autobump.txt
  Formula/n/nextdns.rb
Labels: go, new formula, CI-published-bottle-commits, autobump

#170874 ghz ghz-web 0.118.0
  Formula/g/ghz-web.rb
  Formula/g/ghz.rb
Labels: go, CI-published-bottle-commits

#170872 crun 1.15
  Formula/c/crun.rb
Labels: linux-only, CI-published-bottle-commits

#170866 graph-tool 2.63
  Formula/g/graph-tool.rb
Labels: python, long build, boost, CI-published-bottle-commits

#170873 fdk-aac-encoder 1.0.6
  .github/autobump.txt
  Formula/f/fdk-aac-encoder.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170875 proteinortho 6.3.2
  .github/autobump.txt
  Formula/p/proteinortho.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170876 sispmctl 4.12
  .github/autobump.txt
  Formula/s/sispmctl.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170883 pymol: drop setuptools
  Formula/p/pymol.rb
Labels: python, CI-published-bottle-commits

#170882 distcc: drop setuptools formula
  Formula/d/distcc.rb
Labels: python, CI-published-bottle-commits

#170887 forbidden 10.8 (new formula)
  .github/autobump.txt
  Formula/f/forbidden.rb
  pypi_formula_mappings.json
Labels: new formula, automerge-skip, CI-published-bottle-commits, autobump, CI-skip-new-formulae

#170888 nicotine-plus 3.3.3
  .github/autobump.txt
  Formula/n/nicotine-plus.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#170890 spades: drop setuptools
  Formula/s/spades.rb
Labels: python, no ARM bottle, CI-published-bottle-commits

#170889 uriparser 0.9.8
  .github/autobump.txt
  Formula/u/uriparser.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170892 adns 1.6.1
  .github/autobump.txt
  Formula/a/adns.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170895 verovio 4.2.0
  .github/autobump.txt
  Formula/v/verovio.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170894 sourcekitten 0.35.0
  .github/autobump.txt
  Formula/s/sourcekitten.rb
Labels: bump-formula-pr, macos-only, CI-published-bottle-commits, autobump

#170850 kconf 2.0.0 (new formula)
  Formula/k/kconf.rb
Labels: go, new formula, CI-published-bottle-commits

#170871 pcsc-lite 2.2.0
  Formula/p/pcsc-lite.rb
Labels: ready to merge, CI-published-bottle-commits

#170826 simutrans 124.0
  Formula/s/simutrans.rb
Labels: ready to merge, CI-published-bottle-commits

#170904 moar 1.23.12
  Formula/m/moar.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#170913 meilisearch 1.8.0
  Formula/m/meilisearch.rb
Labels: rust, CI-published-bottle-commits

#170914 mesheryctl 0.7.54
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#170919 logtalk 3.78.0
  Formula/l/logtalk.rb
Labels: superseded, automerge-skip, no push access

#170923 octobuild 1.3.2
  Formula/o/octobuild.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#170891 gitu: update sha
  Formula/g/gitu.rb
Labels: upstream issue, rust, checksum mismatch, ready to merge, CI-no-fail-fast, CI-published-bottle-commits, CI-checksum-change-confirmed

#170938 geogram 1.8.9
  .github/autobump.txt
  Formula/g/geogram.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170939 libqalculate qalculate-gtk qalculate-qt 5.1.0
  Formula/lib/libqalculate.rb
  Formula/q/qalculate-gtk.rb
  Formula/q/qalculate-qt.rb
Labels: CI-published-bottle-commits

#170940 pandoc-crossref 0.3.17.1
  Formula/p/pandoc-crossref.rb
Labels: haskell, CI-published-bottle-commits

#170952 zrok 0.4.29
  Formula/z/zrok.rb
Labels: go, nodejs, CI-published-bottle-commits

#170941 gnu-getopt 2.40.1
  Formula/g/gnu-getopt.rb
Labels: ready to merge, CI-published-bottle-commits

#170961 picat 3.6.5
  Formula/p/picat.rb
Labels: CI-published-bottle-commits

#170971 azion 1.22.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#170969 cassandra: remove six
  Formula/c/cassandra.rb
Labels: python, java, CI-published-bottle-commits

#170962 portablegl 0.98.0
  .github/autobump.txt
  Formula/p/portablegl.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#170967 zrok 0.4.30
  Formula/z/zrok.rb
Labels: go, nodejs, CI-published-bottle-commits

#170649 rust 1.78.0
  .github/autobump.txt
  Formula/r/rust.rb
Labels: ready to merge, automerge-skip, bump-formula-pr, CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits, autobump

#170983 yt-dlp: make lazy extractors
  Formula/y/yt-dlp.rb
Labels: python, CI-no-bottles

#170991 ccls: switch to llvm
  Formula/c/ccls.rb
Labels: CI-published-bottle-commits

#170953 edencommon fb303 fbthrift fizz folly mvfst proxygen wangle watchman 2024.05.06.00
  Formula/e/edencommon.rb
  Formula/f/fb303.rb
  Formula/f/fbthrift.rb
  Formula/f/fizz.rb
  Formula/f/folly.rb
  Formula/m/mvfst.rb
  Formula/p/proxygen.rb
  Formula/w/wangle.rb
  Formula/w/watchman.rb
Labels: CI-published-bottle-commits

#170985 mise 2024.5.3
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#170993 astrometry-net 0.95
  Formula/a/astrometry-net.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#170984 sui 1.24.1
  Formula/s/sui.rb
Labels: rust, CI-linux-self-hosted, CI-no-fail-fast, CI-published-bottle-commits

#170903 qt@5: update build patch
  Formula/q/qt@5.rb
Labels: nodejs, legacy, ready to merge, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-skip-dependents, CI-no-bottles, long build, icu4c

#170999 sbt 1.10.0
  Formula/s/sbt.rb
Labels: java, CI-published-bottle-commits

#170996 blis 1.0
  .github/autobump.txt
  Formula/b/blis.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#171000 secp256k1 0.5.0
  .github/autobump.txt
  Formula/s/secp256k1.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#171001 unison 2.53.5
  .github/autobump.txt
  Formula/u/unison.rb
Labels: ocaml, bump-formula-pr, CI-published-bottle-commits, autobump

#171011 infracost 0.10.36
  Formula/i/infracost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171020 create-dmg 1.2.2
  Formula/c/create-dmg.rb
Labels: bump-formula-pr, macos-only, CI-published-bottle-commits

#171032 mongo-c-driver 1.27.1
  Formula/m/mongo-c-driver.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#168028 chainhook 1.5.1 (new formula)
  .github/autobump.txt
  Formula/c/chainhook.rb
Labels: new formula, rust, CI-published-bottle-commits, autobump

#170994 lux: update install script
  Formula/l/lux.rb
Labels: go, CI-no-fail-fast, CI-published-bottle-commits

#171061 azion: update test
  Formula/a/azion.rb
Labels: go, CI-no-bottles

#171055 runme 3.2.8
  Formula/r/runme.rb
Labels: go, CI-published-bottle-commits

#171041 libqalculate 5.1.1
  Formula/lib/libqalculate.rb
  synced_versions_formulae.json
Labels: CI-published-bottle-commits

#171056 azion 1.23.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171063 riff 3.1.3
  Formula/r/riff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#171058 go@1.21 1.21.10
  Formula/g/go@1.21.rb
Labels: go, legacy, bump-formula-pr, CI-published-bottle-commits

#171059 go 1.22.3
  Formula/g/garble.rb
  Formula/g/go.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#171074 azion 1.24.0
  Formula/a/azion.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171086 vespa-cli 8.340.17
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171087 incus 6.1
  Formula/i/incus.rb
Labels: go, CI-published-bottle-commits

#171040 frpc frps 0.58.0
  .github/autobump.txt
  Formula/f/frpc.rb
  Formula/f/frps.rb
  synced_versions_formulae.json
Labels: ready to merge, CI-published-bottle-commits, autobump

#171043 nifi nifi-registry 1.26.0
  .github/autobump.txt
  Formula/n/nifi-registry.rb
  Formula/n/nifi.rb
  synced_versions_formulae.json
Labels: ready to merge, CI-published-bottle-commits, autobump

#171089 minio 20240507064125
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171088 minio-mc 20240503112107
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#171057 kuzu 0.4.1 (new formula)
  Formula/k/kuzu.rb
Labels: new formula, ready to merge, CI-published-bottle-commits

#171096 onefetch 2.21.0
  Formula/o/onefetch.rb
Labels: rust, CI-published-bottle-commits

#171065 cmake cmake-docs 3.29.3
  Formula/c/cmake-docs.rb
  Formula/c/cmake.rb
Labels: CI-skip-recursive-dependents, CI-no-fail-fast, CI-published-bottle-commits

#171044 vscode-langservers-extracted 4.10.0
  .github/autobump.txt
  Formula/v/vscode-langservers-extracted.rb
Labels: nodejs, ready to merge, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#171091 aws-sdk-cpp 1.11.315
  Formula/a/aws-sdk-cpp.rb
Labels: bump-formula-pr, long build, CI-published-bottle-commits
