Repository Homebrew/homebrew-core, pull requests merged in 2024-03, with the labels that each got.

#164695 keepkey-agent: vendor Python resources
  Formula/k/keepkey-agent.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits, python-vendoring

#164579 tcl-tk 8.6.14
  Formula/o/opencascade.rb
  Formula/t/tcl-tk.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#164181 npm-check-updates 16.14.15 (new formula)
  Formula/n/npm-check-updates.rb
Labels: nodejs, new formula, CI-published-bottle-commits

#164696 onlykey-agent: vendor Python resources
  Formula/o/onlykey-agent.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits, python-vendoring

#164698 jnettop: update homepage
  Formula/j/jnettop.rb
Labels: CI-syntax-only, homepage

#164700 ibex: update homepage
  Formula/i/ibex.rb
Labels: CI-syntax-only, no ARM bottle, homepage

#164699 libghthash: update homepage, URL and license
  Formula/lib/libghthash.rb
Labels: license, CI-no-bottles, homepage

#164702 forgit 24.03.0
  Formula/f/forgit.rb
Labels: CI-published-bottle-commits

#164703 bpftop 0.2.2 (new formula)
  Formula/b/bpftop.rb
Labels: new formula, rust, linux-only, CI-published-bottle-commits

#164686 liborigin 3.0.2 (new formula)
  Formula/lib/liborigin.rb
Labels: new formula, ready to merge, CI-published-bottle-commits

#164203 mmdbinspect 0.2.0 (new formula)
  Formula/m/mmdbinspect.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits

#164713 charm-tools: move pip comment to allow resource updates
  Formula/c/charm-tools.rb
Labels: python, rust, CI-syntax-only

#164709 aws-auth 2.1.5
  Formula/a/aws-auth.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#164710 ldeep 1.0.53
  Formula/l/ldeep.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#164704 duplicity: vendor deps
  Formula/d/duplicity.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits, python-vendoring

#164442 xz 5.6.0
  Formula/x/xz.rb
Labels: license, bump-formula-pr, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164714 seam 0.0.48
  Formula/s/seam.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#164715 aws-console cfn-format rain 1.8.0
  Formula/a/aws-console.rb
  Formula/c/cfn-format.rb
  Formula/r/rain.rb
Labels: go, CI-published-bottle-commits

#164716 mold 2.4.1
  Formula/m/mold.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164718 python-dateutil 2.9.0
  Formula/p/python-dateutil.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164706 nmail 4.35 (new formula)
  Formula/n/nmail.rb
Labels: new formula, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#164733 mesheryctl 0.7.26
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#164740 clarinet 2.3.0
  Formula/c/clarinet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#164745 autobump: set `HOMEBREW_TEST_BOT_AUTOBUMP`
  .github/workflows/autobump.yml
Labels: CI-syntax-only, automerge-skip, workflows, autobump

#163943 libpng 1.6.43
  Formula/lib/libpng.rb
Labels: in progress, ready to merge, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164697 deno 1.41.1
  Formula/d/deno.rb
Labels: rust, bump-formula-pr, long build, CI-published-bottle-commits

#164757 direnv 2.34.0
  Formula/d/direnv.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164730 libnghttp2 nghttp2 1.60.0
  Formula/lib/libnghttp2.rb
  Formula/n/nghttp2.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164598 canfigger 0.3.0
  Formula/c/canfigger.rb
  Formula/r/rmw.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits

#164759 pypi_formula_mappings: update resources for python@3.y formulae
  pypi_formula_mappings.json
Labels: CI-syntax-only

#164755 wxpython: backport `doxygen` fix
  Formula/w/wxpython.rb
Labels: python, CI-published-bottle-commits, python-3.12-migration

#164769 bpftop 0.2.3
  Formula/b/bpftop.rb
Labels: rust, linux-only, bump-formula-pr, CI-published-bottle-commits

#164770 autobump: additions & removals
  .github/autobump.txt
Labels: CI-syntax-only, automerge-skip, autobump

#164773 linux-headers@5.15 5.15.150
  Formula/l/linux-headers@5.15.rb
Labels: legacy, linux-only, bump-formula-pr, CI-published-bottle-commits

#164777 scamper 20240229
  Formula/s/scamper.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164776 python-build 1.1.1
  Formula/p/python-build.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164774 po4a 0.71
  Formula/p/po4a.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits

#164772 libzzip 0.13.74
  Formula/lib/libzzip.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164791 autobump: add more formulae
  .github/autobump.txt
Labels: CI-syntax-only

#164778 wavpack 5.7.0
  Formula/w/wavpack.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164793 surelog: simplify build args and remove venv
  Formula/s/surelog.rb
Labels: java, CI-no-bottles

#164792 taskopen 2.0.1 (new formula)
  Formula/t/taskopen.rb
Labels: new formula, CI-published-bottle-commits

#164746 flint 3.1.0
  Formula/f/flint.rb
  Formula/s/symengine.rb
Labels: license, CI-published-bottle-commits

#164794 medusa 0.1.3
  Formula/m/medusa.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164775 proj 9.4.0
  Formula/p/proj.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#163261 mgba 0.10.3
  Formula/m/mgba.rb
Labels: lua, ready to merge, ffmpeg, CI-published-bottle-commits

#164805 httpie: use `link_manpages` arg
  Formula/h/httpie.rb
Labels: python, CI-no-bottles

#164806 pypi_formula_mappings: remove unneeded package_name usage
  pypi_formula_mappings.json
Labels: python, CI-syntax-only, automerge-skip

#164797 slither-analyzer 0.10.1
  Formula/s/slither-analyzer.rb
Labels: python, rust, CI-published-bottle-commits

#164807 mlx 0.5.0
  Formula/m/mlx.rb
Labels: python, bump-formula-pr, macos-only, CI-published-bottle-commits

#164801 aws-console cfn-format rain 1.8.1
  Formula/a/aws-console.rb
  Formula/c/cfn-format.rb
  Formula/r/rain.rb
Labels: go, CI-published-bottle-commits

#164670 graph-tool: vendor Python resources
  Formula/g/graph-tool.rb
Labels: python, CI-no-fail-fast, long build, boost, CI-published-bottle-commits, python-vendoring

#164810 quantum++ 5.1
  Formula/q/quantum++.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164808 groonga 14.0.0
  Formula/g/groonga.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164811 gptscript 0.1.4
  Formula/g/gptscript.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164809 openjpeg 2.5.2
  Formula/o/openjpeg.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, long build, CI-published-bottle-commits

#164771 glib-networking 2.78.1
  Formula/g/glib-networking.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164812 Vulkan formulas for 1.3.279
  Formula/v/vulkan-extensionlayer.rb
  Formula/v/vulkan-headers.rb
  Formula/v/vulkan-loader.rb
  Formula/v/vulkan-profiles.rb
  Formula/v/vulkan-tools.rb
  Formula/v/vulkan-utility-libraries.rb
  Formula/v/vulkan-validationlayers.rb
  Formula/v/vulkan-volk.rb
Labels: CI-published-bottle-commits

#164231 mu 1.12.0
  Formula/m/mu.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164818 gistit: fix homepage
  Formula/g/gistit.rb
Labels: CI-syntax-only

#164819 r 4.3.3
  Formula/r/r.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164826 partio 1.17.3
  Formula/p/partio.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#164721 pcre2 10.43
  Formula/p/pcre2.rb
Labels: ready to merge, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164825 luv 1.48.0-2
  Formula/l/luv.rb
Labels: lua, bump-formula-pr, CI-published-bottle-commits

#164836 aspectj 1.9.21.1
  Formula/a/aspectj.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#164838 gcsfuse 1.4.2
  Formula/g/gcsfuse.rb
Labels: go, linux-only, bump-formula-pr, CI-published-bottle-commits

#164837 glm 1.0.1
  Formula/g/glm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164839 fastfetch 2.8.7
  Formula/f/fastfetch.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#162481 gdrive: update checksum
  Formula/g/gdrive.rb
Labels: upstream issue, rust, checksum mismatch, ready to merge, CI-published-bottle-commits, CI-checksum-change-confirmed

#164037 libunistring 1.2
  Formula/lib/libunistring.rb
Labels: bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164835 gyb: replace pyinstaller as it copies shared libs
  Formula/g/gyb.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#164845 cassandra: add `cassandra-driver` to extra_packages
  Formula/c/cassandra.rb
  pypi_formula_mappings.json
Labels: CI-published-bottle-commits

#164847 condure: resources for `packaging` and `setuptools`
  Formula/c/condure.rb
Labels: rust, CI-no-bottles

#164846 zurl: use resources for `packaging` and `setuptools`
  Formula/z/zurl.rb
Labels: CI-no-bottles

#164848 xrootd: remove unused `libcython` and update cmake args
  Formula/x/xrootd.rb
Labels: CI-no-bottles

#164849 autobump: update list 20240302
  .github/autobump.txt
Labels: CI-syntax-only, automerge-skip, autobump

#164795 libsql 0.23.5 (new formula)
  Formula/lib/libsql.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits

#164855 glasskube 0.0.3
  Formula/g/glasskube.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164856 github-markdown-toc 1.4.0
  Formula/g/github-markdown-toc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164854 ijq 1.0.1
  Formula/i/ijq.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164857 libfontenc 1.1.8
  Formula/lib/libfontenc.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164858 kubescape 3.0.4
  Formula/k/kubescape.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#163651 jpeg-xl 0.10.1
  Formula/f/ffmpeg.rb
  Formula/g/gdal.rb
  Formula/g/geeqie.rb
  Formula/g/graphicsmagick.rb
  Formula/i/imagemagick.rb
  Formula/j/jpeg-xl.rb
  Formula/lib/libsail.rb
  Formula/s/sdl2_image.rb
  Formula/v/vapoursynth-imwri.rb
  Formula/v/vips.rb
  Formula/w/webkitgtk.rb
Labels: python, in progress, bump-formula-pr, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164882 chezmoi 2.47.1
  Formula/c/chezmoi.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164877 re2 20240301
  Formula/r/re2.rb
Labels: CI-published-bottle-commits

#164876 regipy 4.0.0
  Formula/r/regipy.rb
Labels: python, ready to merge, CI-published-bottle-commits

#164874 sickchill 2024.3.1
  Formula/s/sickchill.rb
Labels: python, CI-published-bottle-commits

#164872 testdisk 7.2
  Formula/t/testdisk.rb
Labels: license, CI-published-bottle-commits

#164717 pandoc 3.1.12.2
  Formula/p/pandoc-crossref.rb
  Formula/p/pandoc.rb
Labels: haskell, in progress, bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#164883 moreutils sponge 0.69
  Formula/m/moreutils.rb
  Formula/s/sponge.rb
Labels: CI-published-bottle-commits

#164875 service-weaver 0.23.0
  Formula/s/service-weaver.rb
Labels: go, ready to merge, bump-formula-pr, CI-published-bottle-commits

#162731 tkey-ssh-agent: update artifact url and checksum
  Formula/t/tkey-ssh-agent.rb
Labels: go, upstream issue, checksum mismatch, CI-no-fail-fast, CI-published-bottle-commits

#164890 fonts-encodings 1.1.0
  Formula/f/fonts-encodings.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164893 libxaw3d 1.6.6
  Formula/lib/libxaw3d.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164892 quictls 3.1.5-quic1
  Formula/q/quictls.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164896 openrct2 0.4.9
  Formula/o/openrct2.rb
Labels: bump-formula-pr, icu4c, CI-published-bottle-commits

#164905 pixi 0.15.2
  Formula/p/pixi.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#164907 riff 3.0.0
  Formula/r/riff.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#164909 vorbisgain: fix Sonoma build
  Formula/v/vorbisgain.rb
Labels: CI-no-bottles

#164910 telegram-downloader 0.16.1
  Formula/t/telegram-downloader.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164834 scala@3.3 3.3.3 (new formula)
  Formula/s/scala@3.3.rb
Labels: new formula, legacy, java, ready to merge, CI-published-bottle-commits, no push access

#163917 ghc 9.8.2 haskell-language-server 2.7.0.0
  Formula/a/agda.rb
  Formula/g/ghc.rb
  Formula/h/haskell-language-server.rb
Labels: in progress, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164913 dmd dtools 2.107.1
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#164915 gtk-gnutella 1.2.3
  Formula/g/gtk-gnutella.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164860 joplin-cli 2.14.1
  Formula/j/joplin-cli.rb
Labels: nodejs, ready to merge, bump-formula-pr, CI-published-bottle-commits

#164862 emscripten: update resources
  Formula/e/emscripten.rb
Labels: nodejs, python, java, CI-no-fail-fast, CI-build-dependents-from-source, long build, CI-published-bottle-commits

#164814 libunibreak 6.1
  Formula/lib/libunibreak.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-published-bottle-commits

#164917 rapidfuzz-cpp 3.0.1
  Formula/r/rapidfuzz-cpp.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164918 pcsc-lite 2.0.3
  Formula/p/pcsc-lite.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164207 pango 1.52.0
  Formula/p/pango.rb
Labels: in progress, bump-formula-pr, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#163942 libmicrohttpd 1.0.1
  Formula/lib/libmicrohttpd.rb
Labels: in progress, bump-formula-pr, CI-linux-self-hosted, long build, CI-published-bottle-commits

#164919 pqiv 2.13
  Formula/p/pqiv.rb
Labels: license, bump-formula-pr, CI-published-bottle-commits

#164923 libcouchbase 3.3.12
  Formula/lib/libcouchbase.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#164926 git-cliff 2.1.2
  Formula/g/git-cliff.rb
Labels: rust, CI-published-bottle-commits

#164914 ffms2: add livecheck to ignore rc releases
  Formula/f/ffms2.rb
Labels: livecheck, deprecated license, CI-no-bottles, ffmpeg

#164936 nox 2024.3.2
  Formula/n/nox.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits

#164928 logcli loki promtail 2.9.5
  Formula/l/logcli.rb
  Formula/l/loki.rb
  Formula/p/promtail.rb
Labels: go, CI-published-bottle-commits

#164930 minio 20240303175039
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164931 minio-mc 20240303001308
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#164938 autobump: remove git-cliff
  .github/autobump.txt
Labels: CI-syntax-only, automerge-skip, autobump

#164939 moon 1.22.3
  Formula/m/moon.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#164940 python-filelock: remove
  Formula/p/python-filelock.rb
Labels: marked for removal/rejection, CI-syntax-only, python-vendoring

#164951 git-flow-avh: deprecate
  Formula/g/git-flow-avh.rb
Labels: formula deprecated, CI-no-bottles

#164944 puzzles 20240302
  Formula/p/puzzles.rb
Labels: ready to merge, CI-published-bottle-commits

#164941 openimageio 2.5.9.0
  Formula/o/openimageio.rb
Labels: python, bump-formula-pr, boost, ffmpeg, CI-published-bottle-commits

#164038 prjtrellis 1.4 (new formula)
  Formula/p/prjtrellis.rb
Labels: python, new formula, ready to merge, boost, CI-published-bottle-commits

#161846 libpciaccess 0.18
  Formula/lib/libpciaccess.rb
Labels: ready to merge, linux-only, bump-formula-pr, linux, CI-published-bottle-commits

#164954 prjtrellis: update license
  Formula/p/prjtrellis.rb
Labels: python, CI-syntax-only, license, boost

#164955 misc: remove stale .pth file
  Formula/a/aws-sam-cli.rb
  Formula/d/datasette.rb
  Formula/v/virtualfish.rb
Labels: python, CI-syntax-only

#164061 virtualenvwrapper: vendor deps
  Formula/v/virtualenvwrapper.rb
  pypi_formula_mappings.json
Labels: ready to merge, CI-published-bottle-commits, python-vendoring

#164886 libxdmcp 1.1.5
  Formula/lib/libxdmcp.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#164894 libxcb 1.16.1
  Formula/lib/libxcb.rb
Labels: bump-formula-pr, CI-no-fail-fast, long build, CI-published-bottle-commits

#164958 quick-lint-js 3.2.0
  Formula/q/quick-lint-js.rb
Labels: CI-published-bottle-commits

#164911 aarch64-elf-gdb arm-none-eabi-gdb gdb i386-elf-gdb riscv64-elf-gdb x86_64-elf-gdb 14.2
  Formula/a/aarch64-elf-gdb.rb
  Formula/a/arm-none-eabi-gdb.rb
  Formula/g/gdb.rb
  Formula/i/i386-elf-gdb.rb
  Formula/r/riscv64-elf-gdb.rb
  Formula/x/x86_64-elf-gdb.rb
Labels: python, CI-no-fail-fast, long build, CI-published-bottle-commits

#164952 keyring 24.3.1
  Formula/k/keyring.rb
Labels: python, CI-published-bottle-commits

#164953 metview 5.21.2
  Formula/m/metview.rb
Labels: CI-published-bottle-commits

#164942 petsc petsc-complex 3.20.5
  Formula/p/petsc-complex.rb
  Formula/p/petsc.rb
Labels: CI-published-bottle-commits

#164929 mame rom-tools 0.263
  Formula/m/mame.rb
  Formula/r/rom-tools.rb
Labels: CI-no-fail-fast, long build, CI-published-bottle-commits

#164943 poppler poppler-qt5 24.03.0
  Formula/g/gdal.rb
  Formula/p/pdftoipe.rb
  Formula/p/poppler-qt5.rb
  Formula/p/poppler.rb
Labels: CI-published-bottle-commits

#164779 php, php@8.2, php@8.1: disable ext-imap
  Formula/p/php.rb
  Formula/p/php@8.1.rb
  Formula/p/php@8.2.rb
Labels: long build, icu4c, CI-published-bottle-commits

#164965 spotify_player 0.17.0
  Formula/s/spotify_player.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#164884 wstunnel 9.2.2 (new formula)
  Formula/w/wstunnel.rb
Labels: new formula, rust, ready to merge, CI-published-bottle-commits

#164975 kosli-cli 2.8.5
  Formula/k/kosli-cli.rb
Labels: go, CI-published-bottle-commits

#164976 xz: remove comment about tukaani.org mirror
  Formula/x/xz.rb
Labels: CI-syntax-only

#164977 joe: fix sonoma build
  Formula/j/joe.rb
Labels: deprecated license, CI-no-bottles

#164979 clarinet 2.3.1
  Formula/c/clarinet.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#154232 vtk 9.3.0
  Aliases/vtk@9.3
  Formula/f/f3d.rb
  Formula/i/itk.rb
  Formula/o/opencv.rb
  Formula/p/pcl.rb
  Formula/v/visp.rb
  Formula/v/vtk.rb
Labels: python, automerge-skip, CI-no-fail-fast, long build, boost, CI-published-bottle-commits

#164567 imath 3.1.11
  Formula/i/imath.rb
Labels: in progress, bump-formula-pr, CI-skip-recursive-dependents, CI-linux-self-hosted, CI-no-fail-fast, long build, CI-published-bottle-commits

#164991 permitted_formula_license_mismatches: only leave `influxdb`
  audit_exceptions/permitted_formula_license_mismatches.json
Labels: CI-syntax-only, automerge-skip

#164996 c2048 1.0.0
  Formula/c/c2048.rb
Labels: CI-published-bottle-commits
