Repository Homebrew/homebrew-core, pull requests merged in 2025-02, with the labels that each got.

#206201 gh 2.66.1
  Formula/g/gh.rb
Labels: go, CI-published-bottle-commits

#206063 astroterm 1.0.6 (new formula)
  .github/autobump.txt
  Formula/a/astroterm.rb
Labels: new formula, automerge-skip, CI-published-bottle-commits, autobump

#206159 mysql-client: use `llvm` on Ventura
  Formula/m/mysql-client.rb
Labels: ready to merge, CI-no-fail-fast, homepage, CI-published-bottle-commits

#206095 mysql: use `llvm` on Ventura
  Formula/m/mysql.rb
Labels: ready to merge, CI-no-fail-fast, icu4c, homepage, CI-published-bottle-commits

#205578 ryelang: rename binary; rye: update homepage, add successor & conflict
  Formula/r/rye.rb
  Formula/r/ryelang.rb
Labels: ready to merge, homepage, CI-published-bottle-commits

#206230 libplist: Fix homepage URL (naked domain)
  Formula/lib/libplist.rb
Labels: CI-syntax-only, homepage

#206236 picat 3.8
  Formula/p/picat.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#206233 davix 0.8.9
  Formula/d/davix.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#206248 xcode-build-server 1.2.0
  Formula/x/xcode-build-server.rb
Labels: python, bump-formula-pr, macos-only, CI-published-bottle-commits

#206254 easyrpg-player: update livecheck
  Formula/e/easyrpg-player.rb
Labels: livecheck, CI-syntax-only, icu4c

#206251 basex: update livecheck
  Formula/b/basex.rb
Labels: java, livecheck, CI-syntax-only

#206253 tflint 0.55.1
  Formula/t/tflint.rb
Labels: go, CI-published-bottle-commits

#206241 webarchiver 0.13
  .github/autobump.txt
  Formula/w/webarchiver.rb
Labels: bump-formula-pr, macos-only, CI-published-bottle-commits, autobump

#206237 mapnik 4.0.5
  Formula/m/mapnik.rb
Labels: bump-formula-pr, boost, icu4c, CI-published-bottle-commits

#206235 freeradius-server 3.2.7
  Formula/f/freeradius-server.rb
Labels: python, perl, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#206238 rdkit 2024.09.5
  Formula/r/rdkit.rb
Labels: python, bump-formula-pr, boost, CI-published-bottle-commits

#206240 mame rom-tools 0.274
  Formula/m/mame.rb
  Formula/r/rom-tools.rb
Labels: long build, CI-published-bottle-commits

#206232 basex 11.7
  Formula/b/basex.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#206255 node@18 18.20.6
  Formula/n/node@18.rb
Labels: legacy, formula deprecated, long build, icu4c, CI-published-bottle-commits

#206269 dexter 0.5.6
  Formula/d/dexter.rb
Labels: ruby, CI-published-bottle-commits

#206274 spdlog 1.15.1
  .github/autobump.txt
  Formula/s/spdlog.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206270 pinboard-notes-backup 1.0.6
  Formula/p/pinboard-notes-backup.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits

#206273 harlequin 2.0.1
  Formula/h/harlequin.rb
Labels: python, CI-published-bottle-commits

#206276 naturaldocs 2.3.1
  .github/autobump.txt
  Formula/n/naturaldocs.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206291 gnuradio: add comment for Qt6 issue
  Formula/g/gnuradio.rb
Labels: python, rust, CI-syntax-only, boost

#205514 icann-rdap 0.0.21 (new formula)
  Formula/i/icann-rdap.rb
  Formula/r/rdap.rb
Labels: new formula, notability, CI-published-bottle-commits, CI-skip-new-formulae

#206297 helmsman: use tarball
  Formula/h/helmsman.rb
Labels: go, CI-no-bottles

#206298 orgalorg: use tarball
  Formula/o/orgalorg.rb
Labels: go, CI-no-bottles

#206295 gor: use tarball
  Formula/g/gor.rb
Labels: go, CI-no-bottles

#206293 drone-cli: use tarball
  Formula/d/drone-cli.rb
Labels: go, CI-no-bottles

#204807 ghc@9.6: migrate to `python@3.13`
  Formula/g/ghc@9.6.rb
Labels: legacy, ready to merge, CI-no-fail-fast, CI-no-bottles, long build, python-3.13-migration

#206292 dagger: use tarball
  Formula/d/dagger.rb
Labels: go, CI-no-bottles

#206294 dum: fix checksum
  Formula/d/dum.rb
Labels: rust, checksum mismatch, CI-published-bottle-commits, CI-checksum-change-confirmed

#206296 overtls: fix checksum
  Formula/o/overtls.rb
Labels: rust, checksum mismatch, CI-published-bottle-commits, CI-checksum-change-confirmed

#206299 liquid-dsp 1.7.0
  .github/autobump.txt
  Formula/l/liquid-dsp.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206301 watcher 0.13.4
  .github/autobump.txt
  Formula/w/watcher.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206242 aider 0.73.0
  Formula/a/aider.rb
Labels: python, rust, ready to merge, CI-published-bottle-commits

#206271 asdf: bottle block split for #205761
  Formula/a/asdf.rb
Labels: CI-published-bottle-commits

#206300 protobuf-c 1.5.1
  .github/autobump.txt
  Formula/p/protobuf-c.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206312 usage 2.0.4
  Formula/u/usage.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#206317 vunnel: fix build with Python 3.13.x
  Formula/v/vunnel.rb
Labels: python, rust, CI-published-bottle-commits

#202784 workflows: use `brew deps` to detect if subversion is required
  .github/workflows/scheduled.yml
Labels: automerge-skip, workflows

#206330 mise 2025.2.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#206332 qtads: add comment for Qt6 support
  Formula/q/qtads.rb
Labels: CI-syntax-only

#206343 pcp: migrate to go
  Formula/p/pcp.rb
Labels: go, CI-no-bottles

#206336 volt: use tarball
  Formula/v/volt.rb
Labels: go, CI-no-bottles

#206344 dive: use tarball
  Formula/d/dive.rb
Labels: go, CI-no-bottles

#206345 dockviz: use tarball
  Formula/d/dockviz.rb
Labels: go, CI-no-bottles

#206333 wtfutil: use tarball
  Formula/w/wtfutil.rb
Labels: go, CI-no-bottles

#206346 go-md2man: use tarball, add head
  Formula/g/go-md2man.rb
Labels: go, CI-no-bottles

#206351 tanka: use tarball
  Formula/t/tanka.rb
Labels: go, CI-no-bottles

#206350 stolon: use tarball
  Formula/s/stolon.rb
Labels: go, CI-no-bottles

#206352 cloudpan189-go: migrate to go
  Formula/c/cloudpan189-go.rb
Labels: go, CI-no-bottles

#206349 ssh3: use tarball
  Formula/s/ssh3.rb
Labels: go, CI-no-bottles

#206348 lazydocker: use tarball, add build date
  Formula/l/lazydocker.rb
Labels: go, CI-published-bottle-commits

#206231 nuclei: Update homepage URL
  Formula/n/nuclei.rb
Labels: go, CI-syntax-only, homepage

#206347 ipfs: use tarball, add fish/zsh completions
  Formula/i/ipfs.rb
Labels: go, CI-published-bottle-commits

#206371 wireguard-go: migrate to go
  Formula/w/wireguard-go.rb
Labels: go, CI-no-bottles

#206360 behaviortree.cpp 4.6.2 (new formula)
  Formula/b/behaviortree.cpp.rb
Labels: new formula, CI-published-bottle-commits

#205376 catgirl 2.2a (new formula)
  Formula/c/catgirl.rb
Labels: new formula, CI-published-bottle-commits

#206395 octobuild 1.7.0
  Formula/o/octobuild.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#206385 rust: restore `libLLVM` symlink
  Formula/r/rust.rb
Labels: ready to merge, CI-skip-dependents, CI-build-dependents-from-source, long build, CI-published-bottle-commits, long dependent tests

#206393 tailwindcss: keep tailwind-cli version in sync with formula
  Formula/t/tailwindcss.rb
Labels: nodejs, livecheck, CI-syntax-only

#206410 vespa-cli 8.472.109
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#206458 pyqt@5 5.15.11
  Formula/p/pyqt@5.rb
Labels: python, legacy, CI-published-bottle-commits

#206468 lldpd: update livecheck
  Formula/l/lldpd.rb
Labels: livecheck, CI-syntax-only

#206470 bitrise: add head
  Formula/b/bitrise.rb
Labels: go, CI-published-bottle-commits

#206363 lazysql 0.3.4 (new formula)
  Formula/l/lazysql.rb
Labels: go, new formula, CI-published-bottle-commits

#206433 hypopg 1.4.1 (new formula)
  Formula/h/hypopg.rb
Labels: new formula, CI-published-bottle-commits

#206275 sdl3_image 3.2.0 (new formula)
  Formula/s/sdl3_image.rb
Labels: new formula, perl, CI-published-bottle-commits

#206482 minio-mc 20250204045750
  Formula/m/minio-mc.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#206484 flagd: add livecheck
  Formula/f/flagd.rb
Labels: go, livecheck, CI-syntax-only

#206499 pnpm@9: revert to 9.15.5
  Formula/p/pnpm@9.rb
Labels: nodejs, legacy, CI-syntax-only

#206514 go@1.22 1.22.12
  Formula/g/go@1.22.rb
Labels: go, legacy, ready to merge, CI-published-bottle-commits, CI-no-fail-fast-deps

#206467 pgrx 0.12.9 (new formula)
  Formula/p/pgrx.rb
Labels: new formula, rust, CI-published-bottle-commits

#206517 slither-analyzer 0.11.0
  Formula/s/slither-analyzer.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits

#193315 agda 2.7.0.1
  Formula/a/agda.rb
Labels: help wanted, haskell, CI-no-fail-fast, long build, CI-published-bottle-commits

#206555 ruby-build 20250205
  Formula/r/ruby-build.rb
Labels: CI-published-bottle-commits

#206554 dafny 4.10.0
  Formula/d/dafny.rb
Labels: java, dotnet, CI-published-bottle-commits

#206571 redocly-cli 1.28.2
  Formula/r/redocly-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#206518 hz: test fix
  Formula/h/hz.rb
Labels: go, CI-no-fail-fast, CI-no-bottles

#206581 sui 1.42.1
  Formula/s/sui.rb
Labels: rust, CI-published-bottle-commits

#206516 aqtinstall 3.2.0 (new formula)
  Formula/a/aqtinstall.rb
Labels: python, new formula, CI-published-bottle-commits

#206569 python@3.12 3.12.9
  Formula/p/python-gdbm@3.12.rb
  Formula/p/python-tk@3.12.rb
  Formula/p/python@3.12.rb
Labels: legacy, bump-formula-pr, CI-published-bottle-commits, CI-linux-self-hosted-deps, CI-no-fail-fast-deps, long dependent tests

#206382 pgbackrest 2.54.2 (new formula)
  Formula/p/pgbackrest.rb
Labels: new formula, CI-published-bottle-commits

#206611 mold: update caveats
  Formula/m/mold.rb
Labels: CI-syntax-only

#206625 apify-cli 0.21.1
  Formula/a/apify-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits

#205845 scryer-prolog 0.9.4 (new formula)
  Formula/s/scryer-prolog.rb
Labels: new formula, rust, CI-published-bottle-commits

#206262 cloud-provider-kind 0.5.0 (new formula)
  Formula/c/cloud-provider-kind.rb
Labels: go, new formula, CI-published-bottle-commits

#202172 pyside qt* 6.8.2, pyqt 6.8.0
  Formula/g/gammaray.rb
  Formula/p/pyqt.rb
  Formula/p/pyside.rb
  Formula/q/qt-libiodbc.rb
  Formula/q/qt-mariadb.rb
  Formula/q/qt-mysql.rb
  Formula/q/qt-percona-server.rb
  Formula/q/qt-postgresql.rb
  Formula/q/qt-unixodbc.rb
  Formula/q/qt.rb
Labels: python, ready to merge, CI-linux-self-hosted, CI-no-fail-fast, long build, 13, 13-arm64, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#206631 kuzu 0.8.0
  Formula/k/kuzu.rb
Labels: CI-published-bottle-commits

#206647 dud 0.4.5 (new formula)
  Formula/d/dud.rb
Labels: go, new formula, CI-published-bottle-commits

#206650 curlpp: add build patch for curl 8.10+
  Formula/c/curlpp.rb
Labels: CI-published-bottle-commits

#206660 kubeshark 52.4.0
  Formula/k/kubeshark.rb
Labels: go, superseded, automerge-skip, no push access

#206664 conduit 0.13.0
  Formula/c/conduit.rb
Labels: go, nodejs, CI-published-bottle-commits

#206667 clib: update test
  Formula/c/clib.rb
Labels: CI-no-bottles

#206666 curlcpp: add curl 8.10+ build patch
  Formula/c/curlcpp.rb
Labels: CI-published-bottle-commits

#206663 cmark: build shared libraries
  Formula/c/cmark.rb
Labels: CI-published-bottle-commits

#206684 julia: fix head build
  Formula/j/julia.rb
Labels: perl, CI-no-bottles

#206694 nb 7.16.0
  Formula/n/nb.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#174023 gnome-builder 47.2 (new formula)
  Formula/g/gnome-builder.rb
Labels: new formula, ready to merge, CI-no-fail-fast, CI-published-bottle-commits

#203380 gdtoolkit 4.3.3 (new formula)
  Formula/g/gdtoolkit.rb
Labels: python, new formula, ready to merge, CI-published-bottle-commits

#206703 di 5.0.0
  Formula/d/di.rb
Labels: CI-published-bottle-commits

#206704 rmtrash 0.6.8
  Formula/r/rmtrash.rb
Labels: swift, bump-formula-pr, macos-only, CI-published-bottle-commits

#206714 gaze 1.2.0
  .github/autobump.txt
  Formula/g/gaze.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump

#206725 haiti 3.0.0
  .github/autobump.txt
  Formula/h/haiti.rb
Labels: ruby, bump-formula-pr, CI-published-bottle-commits, autobump

#206717 minio 20250203210304
  Formula/m/minio.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#206711 crosstool-ng 1.27.0
  .github/autobump.txt
  Formula/c/crosstool-ng.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#206723 zint 2.14.0
  .github/autobump.txt
  Formula/z/zint.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206716 hlint 3.10
  .github/autobump.txt
  Formula/h/hlint.rb
Labels: haskell, bump-formula-pr, CI-published-bottle-commits, autobump

#206719 rdfind 1.7.0
  .github/autobump.txt
  Formula/r/rdfind.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206724 ruby-install 0.10.0
  .github/autobump.txt
  Formula/r/ruby-install.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206713 diffutils 3.11
  .github/autobump.txt
  Formula/d/diffutils.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206722 sdl3 3.2.2
  .github/autobump.txt
  Formula/s/sdl3.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206675 ci: switch to SSH signing everywhere
  .github/workflows/autobump.yml
  .github/workflows/create-replacement-pr.yml
  .github/workflows/dispatch-build-bottle.yml
  .github/workflows/dispatch-rebottle.yml
  .github/workflows/publish-commit-bottles.yml
  .github/workflows/remove-disabled-packages.yml
Labels: automerge-skip, workflows

#206705 gsan: fix test
  Formula/g/gsan.rb
Labels: python, CI-no-bottles

#206718 nss 3.108
  Formula/n/nss.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#206727 lua-language-server 3.13.6
  Formula/l/lua-language-server.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#206706 workflows/triage: update labels for python@3.13
  .github/workflows/triage.yml
Labels: automerge-skip, workflows

#206568 python@3.13 3.13.2
  Formula/p/python-freethreading.rb
  Formula/p/python-gdbm@3.13.rb
  Formula/p/python-tk@3.13.rb
  Formula/p/python@3.13.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, CI-linux-self-hosted-deps, CI-no-fail-fast-deps, long dependent tests

#206708 text-embeddings-inference 1.6.0 (new formula)
  Formula/t/text-embeddings-inference.rb
Labels: new formula, rust, CI-published-bottle-commits

#206715 subversion: revision bump (perl 5.40.1)
  Formula/g/git-svn.rb
  Formula/s/subversion.rb
Labels: ruby, perl, CI-published-bottle-commits, CI-no-fail-fast-deps

#206824 evil-helix 20250104 (new formula)
  Formula/e/evil-helix.rb
Labels: new formula, rust, CI-published-bottle-commits

#206796 bao 0.13.0
  .github/autobump.txt
  Formula/b/bao.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#206806 cdi 2.5.0
  Formula/c/cdi.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#206799 heroku 10.1.0
  .github/autobump.txt
  Formula/h/heroku.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autobump

#206797 ephemeralpg 3.4
  .github/autobump.txt
  Formula/e/ephemeralpg.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206802 python-lsp-server 1.12.1
  .github/autobump.txt
  Formula/p/python-lsp-server.rb
Labels: python, rust, bump-formula-pr, CI-published-bottle-commits, autobump

#206803 redocly-cli 1.28.3
  .github/autobump.txt
  Formula/r/redocly-cli.rb
Labels: nodejs, bump-formula-pr, CI-published-bottle-commits, autobump

#206804 talloc 2.4.3 tevent 0.16.2
  .github/autobump.txt
  Formula/t/talloc.rb
  Formula/t/tevent.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206827 flow-cli 2.2.4
  Formula/f/flow-cli.rb
Labels: go, CI-published-bottle-commits

#206801 ne 3.3.4
  .github/autobump.txt
  Formula/n/ne.rb
Labels: bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits, autobump

#206840 ruff-lsp 0.0.61
  Formula/r/ruff-lsp.rb
Labels: python, formula deprecated, CI-published-bottle-commits

#206839 tsung: update to use github tarball
  Formula/t/tsung.rb
Labels: CI-published-bottle-commits

#206846 mesheryctl 0.8.27
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#206807 hdf5 hdf5-mpi 1.14.6
  Formula/h/hdf5-mpi.rb
  Formula/h/hdf5.rb
Labels: bump-formula-pr, CI-skip-recursive-dependents, CI-published-bottle-commits

#206795 mariadb: Fix user used by service stop command
  Formula/m/mariadb.rb
Labels: java, CI-published-bottle-commits

#206856 aider 0.74.0
  Formula/a/aider.rb
Labels: python, rust, CI-published-bottle-commits

#206878 tailwindcss: update url
  Formula/t/tailwindcss.rb
Labels: nodejs, CI-published-bottle-commits

#206897 clojure-lsp 20250207T161124
  Formula/c/clojure-lsp.rb
Labels: java, bump-formula-pr, CI-published-bottle-commits

#206898 topgit 0.19.14
  .github/autobump.txt
  Formula/t/topgit.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206899 runme 3.11.1
  Formula/r/runme.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#206903 juliaup 1.17.13
  Formula/j/juliaup.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#206900 spirv-headers spirv-cross spirv-tools 1.4.304.1
  Formula/s/spirv-cross.rb
  Formula/s/spirv-headers.rb
  Formula/s/spirv-tools.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#206902 pioneer 20250203
  .github/autobump.txt
  Formula/p/pioneer.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#206904 sftpgo 2.6.5
  Formula/s/sftpgo.rb
Labels: go, CI-published-bottle-commits

#206800 libtasn1 4.20.0
  .github/autobump.txt
  Formula/lib/libtasn1.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump, CI-no-fail-fast-deps, long dependent tests

#206920 squiid 1.2.2
  Formula/s/squiid.rb
Labels: rust, CI-published-bottle-commits

#206937 jsbeautifier 1.15.2
  Formula/j/jsbeautifier.rb
Labels: python, CI-published-bottle-commits

#206934 ots 0.3.0
  .github/autobump.txt
  Formula/o/ots.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits, autobump
