Repository Homebrew/homebrew-core, pull requests merged in 2025-03, with the labels that each got.

#209283 genders 1.31.1
  Formula/g/genders.rb
Labels: perl, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#209330 acl2: add livecheck
  Formula/a/acl2.rb
Labels: livecheck, CI-syntax-only

#209090 fancy-cat 0.3.1
  .github/autobump.txt
  Formula/f/fancy-cat.rb
Labels: ready to merge, bump-formula-pr, CI-published-bottle-commits, zig, autobump

#209321 nping 0.2.6
  .github/autobump.txt
  Formula/n/nping.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits, autobump

#209332 cloudflare-quiche: add livecheck
  Formula/c/cloudflare-quiche.rb
Labels: rust, livecheck, CI-syntax-only

#209325 lazygit 0.48.0
  Formula/l/lazygit.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#209331 docfx 2.78.3
  Formula/d/docfx.rb
Labels: dotnet, CI-published-bottle-commits

#207237 gnustep-base 1.31.1
  Formula/g/gnustep-base.rb
  Formula/n/nu.rb
  Formula/u/unar.rb
Labels: ready to merge, bump-formula-pr, CI-no-fail-fast, icu4c, CI-published-bottle-commits

#206239 minetest: rename to luanti
  .github/autobump.txt
  Formula/l/luanti.rb
  Formula/m/minetest.rb
  formula_renames.json
Labels: new formula, automerge-skip, CI-published-bottle-commits, autobump

#209328 bpmnlint 11.4.2 (new formula)
  .github/autobump.txt
  Formula/b/bpmnlint.rb
Labels: nodejs, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209329 cf-terraforming 0.23.3 (new formula)
  .github/autobump.txt
  Formula/c/cf-terraforming.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209334 noir 0.20.0
  Formula/n/noir.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#209341 hishtory 0.335 (new formula)
  .github/autobump.txt
  Formula/h/hishtory.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209342 kirimase 0.0.62 (new formula)
  .github/autobump.txt
  Formula/k/kirimase.rb
Labels: nodejs, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209343 podman-tui release v1.4.0
  Formula/p/podman-tui.rb
Labels: go, CI-published-bottle-commits

#209346 globstar 0.4.1 (new formula)
  .github/autobump.txt
  Formula/g/globstar.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209369 iam-policy-json-to-terraform 1.9.0
  Formula/i/iam-policy-json-to-terraform.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#209357 curl: replace deprecated `./buildconf` tool with `autoreconf`
  Formula/c/curl.rb
Labels: CI-skip-recursive-dependents, CI-published-bottle-commits

#208658 i686-elf-grub 2.06, x86_64-elf-grub 2.06 (new formulae)
  Formula/i/i686-elf-grub.rb
  Formula/x/x86_64-elf-grub.rb
  audit_exceptions/mismatched_binary_allowlist.json
Labels: new formula, ready to merge, automerge-skip, CI-published-bottle-commits

#209383 i686-elf-grub: simplify
  Formula/i/i686-elf-grub.rb
Labels: CI-no-bottles

#209390 kubeshark 52.5.0
  Formula/k/kubeshark.rb
Labels: go, superseded, automerge-skip, no push access

#209399 mise 2025.3.0
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#209380 nss 3.109
  Formula/n/nss.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#209415 votca: update dependencies
  Formula/v/votca.rb
Labels: ready to merge, CI-no-bottles, boost

#209414 capstone 5.0.5
  Formula/c/capstone.rb
Labels: CI-published-bottle-commits

#209411 gdb: migrate to `python@3.13`
  Formula/g/gdb.rb
Labels: python, ready to merge, no ARM bottle, CI-no-fail-fast, CI-published-bottle-commits, CI-no-fail-fast-deps, python-3.13-migration

#209384 gdk-pixbuf: drop non-standard modification of gdk-pixbuf-2.0.pc
  Formula/g/gdk-pixbuf.rb
Labels: CI-skip-recursive-dependents, CI-published-bottle-commits, CI-no-fail-fast-deps, long dependent tests

#209425 opencolorio: avoid runtime `python@3.13` due to `expat` hacks
  Formula/o/opencolorio.rb
Labels: ready to merge, CI-no-bottles

#209422 afflib: avoid runtime `python@3.13` due to `expat` hacks
  Formula/a/afflib.rb
Labels: ready to merge, CI-no-bottles

#209377 trdsql 1.1.0 (new formula)
  .github/autobump.txt
  Formula/t/trdsql.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209368 ytt 0.51.1 (new formula)
  .github/autobump.txt
  Formula/y/ytt.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209410 *-gdb: update `expat` dependency
  Formula/a/aarch64-elf-gdb.rb
  Formula/a/arm-none-eabi-gdb.rb
  Formula/i/i386-elf-gdb.rb
  Formula/r/riscv64-elf-gdb.rb
  Formula/x/x86_64-elf-gdb.rb
Labels: python, ready to merge, CI-syntax-only, CI-no-fail-fast, CI-no-bottles, CI-no-fail-fast-deps

#209424 gdcm: update dependencies
  Formula/g/gdcm.rb
Labels: CI-published-bottle-commits

#209436 sdl3_ttf 3.2.0 (new formula)
  Formula/s/sdl3_ttf.rb
Labels: new formula, perl, CI-published-bottle-commits

#209441 punktf 3.1.2 (new formula)
  .github/autobump.txt
  Formula/p/punktf.rb
Labels: new formula, rust, automerge-skip, CI-published-bottle-commits, autobump

#209428 gotz 0.1.13 (new formula)
  .github/autobump.txt
  Formula/g/gotz.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#207575 coin3d: unbundle `expat`, split out `pivy`; pivy 0.6.9 (new formula)
  Formula/c/coin3d.rb
  Formula/p/pivy.rb
Labels: python, new formula, CI-no-fail-fast, boost, CI-published-bottle-commits, CI-skip-new-formulae

#209449 rakudo-star: add livecheck
  Formula/r/rakudo-star.rb
Labels: livecheck, perl, CI-syntax-only

#209446 fdroidserver: update deps and patch for apache-libcloud 3.8.0
  Formula/f/fdroidserver.rb
Labels: python, rust, CI-published-bottle-commits

#209444 ansible@10: update deps and patch for apache-libcloud 3.8.0
  Formula/a/ansible@10.rb
Labels: python, legacy, rust, formula deprecated, CI-published-bottle-commits

#209450 resvg 0.45.0
  Formula/r/resvg.rb
Labels: rust, CI-published-bottle-commits

#209412 bigloo 4.6a
  Formula/b/bigloo.rb
Labels: java, CI-published-bottle-commits

#209455 sdl2*: add/update livecheck
  Formula/s/sdl2.rb
  Formula/s/sdl2_image.rb
  Formula/s/sdl2_mixer.rb
  Formula/s/sdl2_net.rb
  Formula/s/sdl2_sound.rb
  Formula/s/sdl2_ttf.rb
Labels: livecheck, CI-syntax-only

#209456 selenium-server 4.29.0
  Formula/s/selenium-server.rb
Labels: java, CI-published-bottle-commits

#209471 mummer: use system GCC on Linux
  Formula/m/mummer.rb
Labels: CI-published-bottle-commits

#209470 petsc petsc-complex 3.22.4
  Formula/p/petsc-complex.rb
  Formula/p/petsc.rb
Labels: CI-published-bottle-commits

#209465 spawn-fcgi 1.6.6
  .github/autobump.txt
  Formula/s/spawn-fcgi.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#209469 sdl3_image 3.2.2
  .github/autobump.txt
  Formula/s/sdl3_image.rb
Labels: perl, bump-formula-pr, CI-published-bottle-commits, autobump

#209451 todoist 0.22.0 (new formula)
  .github/autobump.txt
  Formula/t/todoist.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#202992 librsvg 2.59.2
  Formula/lib/librsvg.rb
  audit_exceptions/gnome_devel_allowlist.json
Labels: rust, bump-formula-pr, CI-published-bottle-commits, CI-no-fail-fast-deps

#209413 virgil: disable formula
  Formula/v/virgil.rb
Labels: go, formula disabled, CI-syntax-only, no ARM bottle

#209484 sttr 0.2.24 (new formula)
  .github/autobump.txt
  Formula/s/sttr.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209481 libunicode: minimum GCC 13 for std::format
  Formula/lib/libunicode.rb
Labels: CI-syntax-only, no Linux bottle

#209485 org-formation 1.0.16 (new formula)
  .github/autobump.txt
  Formula/o/org-formation.rb
Labels: nodejs, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209503 kapp 0.64.0 (new formula)
  .github/autobump.txt
  Formula/k/kapp.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209508 curlie 1.8.1
  Formula/c/curlie.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#209466 libqalculate 5.5.2
  Formula/lib/libqalculate.rb
Labels: perl, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#209468 libnghttp2 nghttp2 1.65.0
  Formula/lib/libnghttp2.rb
  Formula/n/nghttp2.rb
Labels: CI-published-bottle-commits, long dependent tests

#209504 kafkactl 5.5.0 (new formula)
  .github/autobump.txt
  Formula/k/kafkactl.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209486 r: re-enable GCC 11
  Formula/r/r.rb
Labels: CI-no-fail-fast, CI-no-bottles, icu4c

#209520 freerdp: migrate to `sdl3`
  Formula/f/freerdp.rb
Labels: icu4c, ffmpeg, CI-published-bottle-commits

#209522 octobuild 1.7.1
  Formula/o/octobuild.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#209521 tml 0.7.0 (new formula)
  .github/autobump.txt
  Formula/t/tml.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209555 periphery 3.0.2
  Formula/p/periphery.rb
Labels: swift, CI-published-bottle-commits

#209557 immich-go 0.24.2 (new formula)
  .github/autobump.txt
  Formula/i/immich-go.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209482 cabin: minimum Apple Clang 1500
  Formula/c/cabin.rb
Labels: CI-no-bottles

#209097 vtk: drop clang 1316 workaround
  Formula/v/vtk.rb
Labels: python, CI-no-fail-fast, CI-no-bottles, long build, boost

#209448 ov 0.39.0 (new formula)
  .github/autobump.txt
  Formula/o/ov.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209552 zig: keep `libSystem.tbd`
  Formula/z/zig.rb
Labels: ready to merge, CI-published-bottle-commits

#209575 incus 6.10.1
  Formula/i/incus.rb
Labels: go, CI-published-bottle-commits

#209576 vespa-cli 8.489.59
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#209595 yices2: add livecheck
  Formula/y/yices2.rb
Labels: livecheck, CI-syntax-only

#209594 envconsul: remove
  Formula/e/envconsul.rb
Labels: go, marked for removal/rejection, formula deprecated, formula disabled

#209597 memtester 4.7.1
  Formula/m/memtester.rb
Labels: CI-published-bottle-commits

#209596 mapnik 4.0.6
  .github/autobump.txt
  Formula/m/mapnik.rb
Labels: CI-published-bottle-commits, autobump

#209609 xmq 3.3.2
  Formula/x/xmq.rb
Labels: CI-published-bottle-commits

#209599 sbt: update livecheck
  Formula/s/sbt.rb
Labels: java, livecheck, CI-syntax-only

#209598 systemd: migrate to `python@3.13`
  Formula/s/systemd.rb
Labels: linux-only, CI-skip-recursive-dependents, CI-no-bottles, icu4c, python-3.13-migration

#209578 lynx 2.9.2
  Formula/l/lynx.rb
Labels: livecheck, CI-published-bottle-commits

#209577 libgnt 2.14.4
  Formula/lib/libgnt.rb
Labels: livecheck, repo-location-update, CI-published-bottle-commits

#209630 sui 1.44.0
  Formula/s/sui.rb
Labels: rust, CI-published-bottle-commits

#209423 graph-tool: avoid mixing `expat` usage in libraries
  Formula/g/graph-tool.rb
Labels: python, ready to merge, long build, boost, CI-published-bottle-commits

#209631 puzzles 20250303
  Formula/p/puzzles.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#209632 netpbm 11.02.13
  Formula/n/netpbm.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#207926 apache-arrow apache-arrow-glib 19.0.1
  Formula/a/apache-arrow-glib.rb
  Formula/a/apache-arrow.rb
  Formula/d/dvc.rb
  Formula/g/gdal.rb
  Formula/h/harlequin.rb
  Formula/v/vineyard.rb
  pypi_formula_mappings.json
Labels: CI-skip-recursive-dependents, CI-no-fail-fast, long build, CI-published-bottle-commits

#209635 libavif: use patch, not sed
  Formula/lib/libavif.rb
Labels: CI-no-bottles

#208986 cointop: disable
  Formula/c/cointop.rb
Labels: go, formula deprecated, formula disabled, CI-syntax-only, automerge-skip

#207023 consul: migrate formula to casks
  tap_migrations.json
Labels: automerge-skip

#209645 various: disable
  Formula/e/erigon.rb
  Formula/g/git-flow-avh.rb
  Formula/g/git-test.rb
  Formula/w/whatmask.rb
Labels: formula deprecated, formula disabled, CI-syntax-only

#209656 Revert "consul: migrate formula to casks"
  tap_migrations.json
Labels: CI-syntax-only, automerge-skip

#207100 netcdf 4.9.3
  .github/autobump.txt
  Formula/c/cdi.rb
  Formula/c/cdo.rb
  Formula/e/eccodes.rb
  Formula/f/f3d.rb
  Formula/g/gdal.rb
  Formula/g/gmt.rb
  Formula/m/metview.rb
  Formula/n/nco.rb
  Formula/n/ncview.rb
  Formula/n/netcdf-cxx.rb
  Formula/n/netcdf-fortran.rb
  Formula/n/netcdf.rb
  Formula/p/pymol.rb
  Formula/v/vtk.rb
Labels: upstream issue, ready to merge, bump-formula-pr, CI-no-fail-fast, long build, no long build conflict, CI-published-bottle-commits, autobump, CI-no-fail-fast-deps, long dependent tests

#209674 trunk 0.21.8
  Formula/t/trunk.rb
Labels: rust, CI-published-bottle-commits

#209671 workflows/publish-commit-bottles: handle PRs that only remove formulae
  .github/workflows/publish-commit-bottles.yml
Labels: automerge-skip, workflows

#209689 ddcutil: add `libx11` and `libxext` dependencies
  Formula/d/ddcutil.rb
Labels: ready to merge, linux-only, CI-no-bottles

#209692 sequoia-sqv 1.2.1 (new formula)
  .github/autobump.txt
  Formula/s/sequoia-sqv.rb
Labels: new formula, CI-no-fail-fast, CI-published-bottle-commits, autobump, CI-skip-new-formulae

#209711 monocle 0.8.0
  Formula/m/monocle.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#209710 sui 1.44.1
  Formula/s/sui.rb
Labels: rust, CI-published-bottle-commits

#208403 qt@5: apply CVE-2025-23050 patch
  Formula/q/qt@5.rb
Labels: nodejs, legacy, CI-linux-self-hosted, CI-no-fail-fast, long build, icu4c, CI-published-bottle-commits

#209688 hatari: add `libx11` dependency, update urls
  Formula/h/hatari.rb
Labels: CI-no-bottles, repo-location-update

#209729 rhai 1.21.0 (new formula)
  .github/autobump.txt
  Formula/r/rhai.rb
Labels: new formula, rust, CI-published-bottle-commits, autobump

#209759 go@1.23 1.23.7
  .github/autobump.txt
  Formula/g/go@1.23.rb
Labels: CI-published-bottle-commits, autobump

#209770 conduit: update build deps
  Formula/c/conduit.rb
Labels: go, CI-no-bottles

#209752 sui 1.44.2
  Formula/s/sui.rb
Labels: rust, CI-published-bottle-commits

#209705 handbrake 1.9.2
  Formula/h/handbrake.rb
  style_exceptions/runtime_cpu_detection_allowlist.json
Labels: CI-published-bottle-commits

#209777 openvino: use `github_latest` livecheck strategy
  Formula/o/openvino.rb
Labels: livecheck, CI-syntax-only, long build

#209804 vespa-cli 8.491.19
  Formula/v/vespa-cli.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#209775 fortitude 0.7.0 (new formula)
  .github/autobump.txt
  Formula/f/fortitude.rb
Labels: new formula, rust, automerge-skip, CI-published-bottle-commits, autobump

#209827 mesheryctl 0.8.44
  Formula/m/mesheryctl.rb
Labels: go, CI-published-bottle-commits

#209825 julia: bundle mbedtls until next release
  Formula/j/julia.rb
Labels: perl, CI-no-fail-fast, CI-published-bottle-commits

#209862 gh 2.68.0
  Formula/g/gh.rb
Labels: go, CI-published-bottle-commits

#209877 qthreads 1.22
  Formula/q/qthreads.rb
Labels: CI-published-bottle-commits

#209875 core-lightning: update livecheck
  Formula/c/core-lightning.rb
Labels: rust, livecheck, CI-syntax-only

#209776 mox 0.0.14 (new formula)
  Formula/m/mox.rb
Labels: go, new formula, CI-no-fail-fast, CI-published-bottle-commits, CI-skip-new-formulae

#209896 librest 0.9.1
  Formula/g/gnome-recipes.rb
  Formula/lib/librest.rb
Labels: CI-published-bottle-commits

#209846 gersemi 0.19.2 (new formula)
  .github/autobump.txt
  Formula/g/gersemi.rb
Labels: python, new formula, automerge-skip, CI-published-bottle-commits, autobump

#209897 libsoup@2 2.74.3
  Formula/lib/libsoup@2.rb
Labels: legacy, CI-no-fail-fast, CI-published-bottle-commits

#209913 ifuse: backport support for libfuse 3
  Formula/i/ifuse.rb
Labels: linux-only, CI-published-bottle-commits

#209907 wdfs: deprecate
  Formula/w/wdfs.rb
Labels: formula deprecated, CI-syntax-only, linux-only

#209876 youtube-dl: point to yt-dlp in disabled note
  Formula/y/youtube-dl.rb
Labels: python, formula disabled, CI-syntax-only

#209925 jing-trang: use latest OpenJDK, use brew `ant` rather than bundled
  Formula/j/jing-trang.rb
Labels: java, CI-published-bottle-commits

#209356 lazyjournal 0.7.4 (new formula)
  Formula/l/lazyjournal.rb
Labels: go, new formula, ready to merge, CI-published-bottle-commits

#209964 infracost 0.10.41
  Formula/i/infracost.rb
Labels: go, bump-formula-pr, CI-published-bottle-commits

#209979 gh 2.68.1
  Formula/g/gh.rb
Labels: go, CI-published-bottle-commits

#209982 mise 2025.3.1
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#210025 ripmime 1.4.1.0
  Formula/r/ripmime.rb
Labels: repo-location-update, CI-published-bottle-commits

#210051 zig: update dependencies
  Formula/z/zig.rb
Labels: CI-no-bottles

#210076 dislocker/ntfs-3g: add comment for fuse3 PR/issue
  Formula/d/dislocker.rb
  Formula/n/ntfs-3g.rb
Labels: CI-syntax-only, linux-only

#210089 aider 0.75.2
  Formula/a/aider.rb
Labels: python, rust, CI-published-bottle-commits

#210090 cdi 2.5.1
  Formula/c/cdi.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#210091 dmd dtools 2.110.0
  Formula/d/dmd.rb
  Formula/d/dtools.rb
Labels: CI-published-bottle-commits

#210075 mongosh 2.4.2
  Formula/m/mongosh.rb
Labels: nodejs, CI-published-bottle-commits

#210093 genders 1.32.1
  Formula/g/genders.rb
Labels: perl, bump-formula-pr, CI-no-fail-fast, CI-published-bottle-commits

#210097 edencommon fb303 fbthrift fizz folly mvfst proxygen wangle watchman 2025.03.03.00
  Formula/e/edencommon.rb
  Formula/f/fb303.rb
  Formula/f/fbthrift.rb
  Formula/f/fizz.rb
  Formula/f/folly.rb
  Formula/m/mvfst.rb
  Formula/p/proxygen.rb
  Formula/w/wangle.rb
  Formula/w/watchman.rb
Labels: CI-published-bottle-commits

#210092 faad2 2.11.2
  .github/autobump.txt
  Formula/f/faad2.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#210103 nom 2.8.0 (new formula)
  .github/autobump.txt
  Formula/n/nom.rb
Labels: new formula, CI-published-bottle-commits, autobump

#210095 quazip 1.5
  .github/autobump.txt
  Formula/q/quazip.rb
Labels: bump-formula-pr, CI-published-bottle-commits, autobump

#210094 pgcli 4.2.0
  .github/autobump.txt
  Formula/p/pgcli.rb
Labels: python, bump-formula-pr, CI-published-bottle-commits, autobump

#210096 soci: add livecheck and autobump
  .github/autobump.txt
  Formula/s/soci.rb
Labels: livecheck, CI-syntax-only, automerge-skip, autobump

#210106 druid: migrate to `openjdk@17`
  Formula/d/druid.rb
Labels: java, CI-published-bottle-commits

#210074 ext2fuse: deprecate
  Formula/e/ext2fuse.rb
Labels: formula deprecated, CI-syntax-only, linux-only

#209848 odin 2025-03
  Formula/o/odin.rb
Labels: bump-formula-pr, CI-published-bottle-commits

#210104 algolia 1.6.11 (new formula)
  .github/autobump.txt
  Formula/a/algolia.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#210105 netfetch 0.5.4 (new formula)
  .github/autobump.txt
  Formula/n/netfetch.rb
Labels: go, new formula, automerge-skip, CI-published-bottle-commits, autobump

#210027 dvr-scan 1.7 (new formula)
  Formula/d/dvr-scan.rb
  pypi_formula_mappings.json
Labels: python, new formula, automerge-skip, ffmpeg, CI-published-bottle-commits

#210149 workflows/automerge: automerge new formulae
  .github/workflows/automerge.yml
Labels: automerge-skip, workflows

#210165 pdftk-java: migrate to `openjdk`
  Formula/p/pdftk-java.rb
Labels: java, CI-published-bottle-commits

#210164 swagger-codegen@2: migrate to `openjdk@21`
  Formula/s/swagger-codegen@2.rb
Labels: legacy, java, CI-published-bottle-commits

#210151 mise 2025.3.2
  Formula/m/mise.rb
Labels: rust, bump-formula-pr, CI-published-bottle-commits

#210166 runme 3.12.5
  Formula/r/runme.rb
Labels: go, CI-published-bottle-commits

#210189 digdag: update test to check JDK compatibility
  Formula/d/digdag.rb
Labels: java, CI-no-bottles
